$main-color = #fe8373; 

body 
	font: 300 15px/1.675 'Roboto', sans-serif;
	
a
	color: #888;
	font-family: Roboto;
	font-size: 14px; 
	font-weight: 300;
	text-decoration none
	&:hover
		color $main-color
		font-weight 700
     
section
	padding: 0 20px;

nav
	list-style-type: none;
	text-align: right;
	width: 100%;
	position: absolute;
	top: 0px;
	background-color: #fff;
	box-shadow: 0 1px 0 #ebebeb;

nav li
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: black;
	&:hover
		color: #fe8373;
	

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	background-color: rgba(255, 255, 255, 0);

.navbar-default .navbar-collapse, .navbar-default .navbar-form
	border-color: rgba(255, 255, 255, 0);

.menu
	list-style-type: none;
	padding: 6px 0 0 0;
	text-align: right;

.menu li
	display: inline-block;
	padding: 0 22px;
	vertical-align: middle;

h2
	color: #000;
	font-family: Roboto;
	font-size: 50px; 
	font-weight: 100;
	text-align: center;
	margin: 5px 0px;
	

.parallax-window 
	min-height: 400px;
	background: transparent;


.border-bottom:after
	content ''	
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 108px;
	height: 1px;
	margin-left: -55px;
	background: $main-color;
	

.social_buttons ul
	display: inline-block;
	margin: 20px 0;
	padding 0
     
.social_buttons ul li 
	float: left;
	padding: 0 5px;

.social_buttons ul li svg 
	width: 21px;
	float: left;


ul li
	list-style-type: none;
	
.logo
	width: 112px;
	margin: 10px 0 5px 20px;
	float: left;

.under_line
	margin: auto;
	position: relative;

.google-play
	width: 143px;
	

.desc-faq
	max-width: 635px;
	width 100%
	text-align: center; 
	margin: 24px auto; 
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	

.answer
	max-width 635px
	width 100%
	margin 0 auto





.url_accordion .plus
	background: url("../../../img/plus.png") no-repeat left 26px;
	padding: 21px 0 0 25px;
	cursor: pointer;
	&:hover
		background: url("../../../img/plus_hov.png") no-repeat left 26px;
		span
			font-weight: 500;




.url_accordion .plus.minus
	background: url("../../../img/minus.png") no-repeat left 32px;
	padding: 21px 0 0 25px;
	cursor: pointer;
	
.url_accordion .minus span 
	font-weight 400 

.url_accordion .plus .accordion__text
	display none

//.url.container__middle




// Fotter Block Start
.grid-row  
	max-width 1170px
	padding: 0 40px;
	margin: 0 auto;


.grid-item 
	float: left;
	width: 25%;
	

.grid-item:nth-child(1)
	width: 40%;
    
.grid-item:nth-child(2)
	width: 20%;
   
.grid-item:nth-child(3)
	width: 40%;
	text-align right

footer
	border-top: 1px solid #ebebeb;
	padding: 20px 0 10px 0;
	margin-top: 50px;


.footer_links
	margin 0

.footer_desc
	color #888
	font-size 14px
	font-weight 300


.produce_pumpic 
	font-size: 13px;
	font-weight: 700;

.produce_pumpic div
	display: inline-block;
	padding: 0px 7px 0px 0px;
    
.produce_pumpic img 
	width: 134px; 
	vertical-align: middle;

.footer-social ul 
	display inline-block
	margin: 20px 0px;
	padding: 0;

.footer-social ul li
	float:left 
	padding: 0 5px; 

.footer-social ul li svg
	width: 21px;    
	float: left;

	
.copyright	
	clear: both;
	font-family Roboto
	font-size 12px
	font-weight 300
	color #ababab
	margin: 5px 0;
	
.copyright__first
	clear: both;
	font-family Roboto
	font-size 12px
	font-weight 300
	color #ababab
	margin: 5px 0;
	


@media screen and (min-width: 968px){
		.copyright{
			display none
		}
	}
	
		
	
// Footer Block End	
	





.first
	// background url("../../../img/backg_1.png")  no-repeat  center;
	background-size: cover;
	overflow: hidden;
	height 100vh

 
.features__desc	h2
	color $main-color
	font-family: Roboto;
	font-size: 50px;
	font-weight: 100;
	line-height: 51px;
	text-align: left;
	margin 70px 0 25px 0;
	
.features__h2
	color: #fe8373; 
	font-family: Roboto;
	font-size: 50px;
	font-weight: 100;
	line-height: 51px;
	text-align: left;
	margin: 0

.features__row    
	width: auto;
	margin: 0 auto;
	
.features__col 
	float: left;
	width: 400px;
	 

.features__img	 
	width: 206px;
	margin: 0px 50px 0 90px;

.features__img img
	width: 206px !important;

.slide
	width: 810px;
	margin: auto;
	padding: 70px 0;


.features__desc p
	color #646464
	font-family Roboto
	font-size 15px
	font-weight 300
	
.first-row
	max-width: 1250px;
	margin: 0 auto;
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
	z-index: 0;
    
.first-col
	display: table-cell; 
	vertical-align: middle;
	width: 50%;

@media (max-width: 1320px)
	.first-col
		padding-left: 25px


.second-col
	display: block;
	position: absolute;
	bottom: -130px;
	right: 0;
	margin-right: -20px;
	width: 50%;
 
	
.second-col img
	max-width: 680px;
	position: relative;
	float: right;
	right: -180px;
	bottom: -42px;

	
@media (max-height: 900px){
	.second-col img{
		max-width: 590px;
		position: relative
		right: -150px
	}
}

@media (max-height: 750px){
	.second-col img{
		max-width: 550px;
	}
}
   

.first__h2 h2
	color white
	font-size 60px
	font-weight 100
	text-align left	
	line-height: 65px;
	margin-top: 20px;
	

.first__logo img
	width: 200px;
@media (max-width: 1024px)
	.first__logo img
		width: 160px
	.first__h2 h2
		font-size: 50px


.first__text	
	color: #fff;
	max-width: 387px;
	font-weight: 200;
	font-size: 16px;
	line-height: 21px;
	padding: 20px 0;
  
.first__googleplay
	margin-top: 10px;
	background-image: url(../../../img/google_normal.png);
	width: 272px;
	height: 65px;
	transition: all .25s;
	&:hover
		background-image: url(../../../img/google_hover.png);

.nav__google-play
	width: 142px
	height: 34px
	margin-left: 10px
	display: block
	margin-top: 18px
	background: url(../../../img/google_normal.png) no-repeat
	background-size: 142px 34px
	&:hover
		background-image: url(../../../img/google_hover.png);
		transition: all .25s;

#fp-nav ul li a.active span
	background: none;
	border: 1px solid $main-color;
	width: 8px;
	height: 8px;
	margin: -2px 0 0 -2px;

#fp-nav ul li a span
	background: none;
	border: 1px solid #c8c8c8;
	width: 8px;
	height: 8px;
	&:hover
		background: #c8c8c8;
		width: 8px;
		height: 8px;
		border-radius 50%    
            

.fp-slidesNav ul li:hover a span
	margin:0 !important

.social_buttons
	position: absolute;
	left: 15px;
	bottom: 0;

.first__logo__mobile
		display none
	
.menu-collapsed
		display: none

	
.url_accordion
	padding 0 0 0 13px;
	

@media screen and (max-width: 968px) { 
	h2{
		font-size: 35px;
	}
	
	nav{
		position fixed
		margin 0
		z-index: 1;
	}
	
	.logo{
		margin: 10px 0px 0px 15px;
		padding 0	
		}
	
	.under_line{
		margin: 25px 0px 25px 0px;

	}
		
	section{
		padding: 0 15px;
	}
	
	.first__googleplay{
		margin: 40px auto;
	}
	.menu-expanded .menu li:last-child{
		display none
	}
	.nav>li:last-child{
		display none
	}
	.first__text{
		margin 0 auto
	}
	.first__logo{
		display none
	}
	.first__logo__mobile{ 
		display block
	}
	.first__logo__mobile img{
		width: 119px;
		height: 88px;
	}
	.first-col{
		width auto
		text-align: center;
		padding: 120px 0 20px 0px;
	}
	
	.first__h2{
	max-width: 400px;
	margin: auto;
	width: 100%;
	}
	.second-col{
		display none
	}
	.first__h2 h2{
	font-size: 38px;
    text-align: center;
	line-height: 40px;
	}	
	.scroll-btn{
		display:none !important;
	}
	.social_buttons{
		display:none
	}
	.btn-down{
		display:none	
	}
	.features__img img{
		width 160px
		padding-left 0
	}
	.grid-item:nth-last-child(n+2){
		display none
	}
	.grid-item:last-child{
		width auto
		text-align: center;
		float: none;
	}
	.features__col{
		width: 100%;
		text-align: center;
		}
	.features__desc h2{
		font-size: 30px;
		line-height: 30px;
	}
	
	.menu-collapsed{
		display: block

	}
	footer{
		position: relative;
	}

	.owl-carousel_1{
		//display none !important
	}
	
	.menu_first{
		display none
	}




	}



.menu-expanded .menu	
	text-align: center;
	
.menu-expanded .menu li
	display: block;
	padding: 0;
	vertical-align: middle;
	font-weight: 400;	
	


.menu-collapsed 
	transition: all .25s;
	position: fixed;
	top: 10px;
	left: 9px;
	height: 36px;
	width: 36px;
	z-index: 1;
	cursor: pointer;

.menu-collapsed ul 
	transition: all .05s;
	position: fixed;
	left: -9000px;
	

.bar 
	position: fixed;
	right: 20px;
	top: 30px;
	height: 2px;
	width: 26px;
	border-radius: 15px;
	background-color: #fb846c;
	
.bar:before 
	transition: all .25s;
	content: "";
	position: absolute;
	left: 0;
	top: -8px;
	height: 2px;
	width: 26px;
	border-radius: 15px;
	background-color: #fb846c;
	
.bar:after 
	transition: all .25s;
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	height: 2px;
	width: 26px;
	border-radius: 15px;
	background-color: #fb846c;


.menu-expanded 
	transition: all .25s;
	text-align: center;
	line-height: 100px;
	height: 100%;
	width: 100%;
	border-radius: 0px;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.97);
	
.menu-expanded ul 
	transition: all .05s;
	position: relative;
	left: 0;
	z-index: 2;
	
.menu-expanded a 
	transition: all .15s;
	text-decoration: none;
	color: white;
	font-size: 2em;
	padding: 5px;
	
.menu-expanded a:hover  
	transition: all .15s;
	letter-spacing: 2px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	
.menu-expanded .bar 
	background-color: transparent; 
	transition: all .25s;
	
.menu-expanded .bar:before 
	transition: all .25s;
	content: "";
	transform: rotate(45deg);
	top: -0px;
	
.menu-expanded .bar:after 
	top: 0px;
	transition: all .25s;
	content: "";
	transform: rotate(-45deg); 
	
.container__middle
	max-width 970px
	width 100%
	margin 0 auto
	position: relative
	.fading-edge
		position: absolute
		z-index: 1
		height: 30em
		width: 20%
		bottom: 0
		&.left
			box-shadow: inset 110px 0 105px -16px rgba(255,255,255,0.8)
			left: 0
		&.right
			box-shadow: inset -110px 0 105px -16px rgba(255,255,255,0.8)
			right: 0
.container__middle .owl-controls
	padding-top: 20px;
	
#fp-nav ul li .fp-tooltip
	color #c8c8c8
	font-family Roboto
	font-size 12px
	font-weight 300
	top:0
	right: 14px;


// last section
.last	 
	padding: 14px 20px;
// last section end



// NavBar
.container__menu
	padding: 0px 20px;	
	
.navbar 
	min-height: 70px;
	margin-top: -120px;
	-webkit-transition: all ease 1.5s;
	transition: all ease 1.5s;
	// -webkit-transition: all ease 1s;
	// transition: all ease 1s;
		
 .floating
	margin-top:0

.navbar-default 
	background-color: #ffffff;
	

.navbar-brand
	padding: 15px 15px;


@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top: 26px;
	}
	.navbar-nav {
		float: right;
		margin: 0;
}
}	

.navbar-nav>li:last-child a
	padding-top: 19px;
	


.navbar-default .navbar-toggle .icon-bar 
	background-color: #ff7f73;
	
.navbar-toggle .icon-bar
	width: 26px;
	transition: transform 0.2s ease-in, opacity 0.1s

.navbar-toggle.navbar-opened .icon-bar
	&:nth-child(3)
		transform: rotate(-45deg);
		position: relative;
		top: -6px;
	&:nth-child(1)
		transform: rotate(45deg);
		position: relative;
		top: 6px;
	&:nth-child(2)
		opacity: 0

.navbar-toggle
	padding: 14px 5px;
	margin-top: 16px;
	background: none;
	border: none;


.navbar-header
	min-height: 70px;

.navbar-brand img 
	width: 112px
	

.navbar-default .navbar-nav>li>a 
	text-align: center;
	font-weight: 300;
	color: #000;
	font-size: 14px;
	position: relative
	.navbar-default .navbar-nav>li>a
	&:after
		content: ''
		position: absolute
		bottom: -10px
		left: 0
		display: block
		background-color: #fe8373
		width: 100%
		height: 2px
		transform: scaleX(0)
		transition: transform .2s ease-out
.navbar-default .navbar-nav>li a:hover 
	color: #fe8373;
	&:after
		transform: scaleX(1)

@media (max-width: 767px) {
	.navbar-default .navbar-nav>li>a:after {
		display: none
	}
}
// End Nav-Bar


.middle__features
	max-width: 970px;
	margin: 46px auto 23px;
	width: 100%;

.divider
	margin-bottom: 30px
	border-bottom: 1px solid #ebebeb

.middle__features .features__row 
	width: 250px;
	margin: 15px 20px;
	display: inline-block;
	vertical-align: top;		


.middle__features .features__col
	width: 250px; 
	float none
	margin 0

.middle__features .features__img img
	width 168px !important
	height 320px
	margin: auto;
	display: block;
	
.middle__features  .features__desc h2
	font-size: 35px;
	line-height: 1;	
	padding: 15px 0px 5px 0px;
	margin: 5px 0 10px 0;

.middle__features  .features__desc p
	font-size: 14px;
	max-width: 250px;
	width: 100%;
	text-align left




// Features block
 
.features
	height 750px
	margin: 50px 0 0 0;


.features .owl-theme .owl-dots .owl-dot span
	width: 6px;
	height: 6px;
	background-color: #c8c8c8;	

.features .owl-theme .owl-dots .owl-dot.active span, .features .owl-theme .owl-dots .owl-dot:hover span
	width: 10px;
	height: 10px;
	background-color: #fe8373;
	position: relative;
	top: 2px;
	

.features .owl-dots
	padding: 55px 0 0 0;

.features .owl-dot
	padding: 0 5px;
    
.features .owl-nav
	position: absolute;
	right: 0;
	left: 0;
	top: 40%;

.features .owl-nav .owl-next
	position: relative;
	left: 460px;
	
.features .owl-nav .owl-prev 
	position: relative;
	right: 460px;


.owl-theme .owl-nav [class*=owl-]:first-child
	background-image: url(../../../img/arrow__grey__left.png);
	background-color: rgba(255, 255, 255, 0);
	width: 38px;
	height: 92px;
	margin 0
	padding 0
	
.owl-theme .owl-nav [class*=owl-]:hover:first-child
	background-image: url(../../../img/arrow__grey__left__hover.png); 
	background-color: rgba(255, 255, 255, 0);
	width: 38px;
	height: 92px;



.owl-theme .owl-nav [class*=owl-]:last-child
	background-image: url(../../../img/arrow__grey__right.png);
	background-color: rgba(255, 255, 255, 0);
	width: 38px;
	height: 92px;
	margin 0
	padding 0
	
.owl-theme .owl-nav [class*=owl-]:hover:last-child
	background-image: url(../../../img/arrow__grey__right__hover.png); 
	background-color: rgba(255, 255, 255, 0);
	width: 38px;
	height: 92px;
// Features block End 








// First block
.menu_first
	margin: 0;
	width: 100%;
	position: absolute;
	right: 10px;
	z-index: 1;
	text-align: right;
	top: 20px;

.menu_first li
	display: inline-block;
	padding: 0 22px;
	vertical-align: middle;
	text-transform: uppercase;
	
.menu_first li a
	font-weight: 300;
	color: #fff;
	font-size: 14px;
	text-decoration none
	&:hover
		color: #fe8373;
		
// First block end


// Look-inside block
.look-inside	
	padding: 0 0;


.look-inside .owl-theme .owl-dots .owl-dot.active span, .look-inside .owl-theme .owl-dots .owl-dot:hover span 
	background: #fe8373;
	width: 54px;
	height: 3px;


.look-inside .owl-theme .owl-dots .owl-dot span 
	width: 50px;
	height: 1px;
	margin: 15px 0;
	background: #c8c8c8; 
// Look-inside block END


// Btn Down
 .btn-down 
	position: absolute;
	left: 50%;
	bottom: 2.82456%;
	width: 20px;
	height: 34px;
	padding: 4px 0;
	margin-left: -10px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 10px;
	outline: none;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent; 
	cursor: default;

	
 .btn-down .disc 
	display: inline-block;
	vertical-align: top; 
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;

// Btn Down END
.mobile .navbar 
	margin-top 0
	
.tablet	.navbar
	margin-top: 0;

.mobile .features, .tablet .features
	display none

.desktop .middle__features, .desktop .middle__features
	display none
	

//iPhone 5
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
.first__h2 h2 {
	font-size: 32px;
}
 
.look-inside .owl-theme .owl-dots .owl-dot.active span, .look-inside .owl-theme .owl-dots .owl-dot:hover span {
	width: 42px;
}

.look-inside .owl-theme .owl-dots .owl-dot span {
	width: 42px;
	}
}


//tablet portrait


.tablet.portrait .first__logo__mobile img
	height: 132px;	
	
 .tablet.portrait .first__h2 h2 
	font-size: 42px;

 .tablet.portrait  .first__text 
	ont-size: 20px;
  
	

//Nav


.bullet-nav 
	position: fixed;
	bottom: 50%;
	right: 1em;
	transform: translate(0, 50%);

.bullet-nav a 
	display: block;
	margin-bottom: .5em;
	border: .5em solid green;
	border-radius: 100%;

.red 
	border: .5em solid red; 



//
@media only screen and (max-height:620px) { 
	.mobile .first {
		height: 100%;
	}
}
