/nbproject/*
/templates_c/*
/cache/*
/vendor/*
/node_modules/*
/bower_components/*
/includes/config.development.php
/.gitignore~
/.idea
/public/security_old/*
/public/sitemap.xml
/logs/*
npm
npm-debug.log
mailSender.log
.DS_Store