.border-top-bottom {
    border-color: #e8e8e8 !important;
    border-style: solid !important;
    border-width: 1px 0px !important;
}
/* pages*/
.row-white {
  padding: 15px 0;
  background: #fff;
}
.visual-text p{ 
  color: inherit !important;
}
.icons {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/sprite-icons-update.png) no-repeat;
}
span.text-success {
  color: #16a89e !important;
  font-size: inherit !important;
  margin: 0 !important;
}
.ico-iphones {
  margin-right: 5px;
  background-position: 0 0;
  width: 12px;
  height: 23px;
  margin-top: -5px;
}
.ico-ipads {
  margin-right: 5px;
  background-position: -25px 0;
  width: 20px;
  height: 23px;
  margin-top: -5px;
}
.ico-ipods {
  margin-right: 5px;
  background-position: -50px 0;
  width: 12px;
  height: 23px;
  margin-top: -5px;
}
.ico-cloud {
  margin-right: 5px;
  background-position: -125px 0;
  width: 42px;
  height: 28px;
}
.ico-cloud-white {
  margin-right: 5px;
  background-position: -75px -50px;
  width: 30px;
  height: 20px;
}
.ico-jailbreak {
  margin-right: 5px;
  background-position: -75px 0;
  width: 30px;
  height: 37px;
}
.ico-arrows {
  margin-left: 5px;
  background-position: -50px -50px;
  width: 10px;
  height: 12px;
}
.icon-buy {
  background-position: 0 -75px;
  width: 25px;
  height: 23px;
  display: block;
  margin: auto;
}
.icon-install {
  background-position: -50px -75px;
  width: 29px;
  height: 25px;
  display: block;
  margin: auto;
}
.icon-remotely {
  background-position: -100px -75px;
  width: 21px;
  height: 27px;
  display: block;
  margin: auto;
}

.ico-cloud-lock {
  margin-right: 7px;
  background: url('../images/icons/icon-icloud-lock.png') no-repeat;
  width: 20px;
  height: 24px;
}

.weight-normal {
  font-weight: 400;
}

.weight-normal i{
  margin-bottom: 10px;
}



.list-group-box {
  
}
.font-weight400 {
  font-weight: 400 !important;
}
.btn-text-sm {
  font-size: 18px;
  padding-top: 12px;
}
.list-group-box .list-group{
  float: left;
  width: 50%;
  margin-bottom: 0;
}
.text-promo-buy.text-promo-sm {
  font-size: 18px;
  text-align: right;
  display: inline-block;
  padding-top: 5px;
}


.list-group-item-heading  {
  font-size: 27px;
  color: #16a89e;
  height: 37px;
  padding: 20px 0 0;
}
.list-group-item-heading small {
  display: block;
  font-size: 18px;
  color: inherit;
  padding-top: 35px;
}
.list-group-box .list-group .list-group-item{
  border-radius: 0;
  padding-left: 30px;
}
.list-group-box .list-group+.list-group .list-group-item {
  border-left: none;
}
.row-pricing-panel {
  text-align: center;
}
.w100 {
  width: 100% !important;
}
.list-group-item-link {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #42778e;
  padding: 10px 0;
}
.refund_bg {
  overflow: hidden;
  position: static !important;
  background-color: #4d4f5b;
}
.list-group-item-text  {
  font-size: 15px;
}
.list-group-item-text .title{
  font-size: 18px;  
  display: block;
  padding-bottom: 5px;
}
.list-group-item .block-number {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    padding: 4px 7px;
    margin-right: 8px;
    background: #16a89e;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 45px;
    text-align: center;
}
.list-group-item .icon-cancel {
  font-size: 28px;
  line-height: 1;
  margin-top: -4px;
  height: 32px;
}
.list-group-item .icon-ok {
  font-size: 22px;
  height: 28px;
}
.list-group-item [class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0;
  width: auto;
}

.list-group-item .text-danger {
  color: #cf4857;
  font-size: inherit;
}
.list-group-item .text-success {
  color: #16a89e;
  font-size: inherit;
}

.icloud-iphone-without-jailbreak-monitoring .dtable,
.iphone-with-jailbreak-monitoring .dtable,
.iphone-tracking-software .dtable {
  display: table;
  width: 100%;
}
    
.icloud-iphone-without-jailbreak-monitoring .dtable .wr_price_big,
.iphone-with-jailbreak-monitoring .dtable .wr_price_big,
.iphone-tracking-software .dtable .wr_price_big {
  position: static;
  margin: 0;
  height: auto;
  display: inline-block;
  float: none;
  min-width: 190px;
}
    
.icloud-iphone-without-jailbreak-monitoring .dtable .wr_pack,
.iphone-with-jailbreak-monitoring .dtable .wr_pack,
.iphone-tracking-software .dtable .wr_pack {
  position: static;
  margin: 0;
  height: auto;
  float: none;
  width: auto;
  margin-left: 10px;
  margin-right: -30px;
  display: inline-block;
}

.icloud-iphone-without-jailbreak-monitoring .dtable-cell,
.iphone-with-jailbreak-monitoring .dtable-cell,
.iphone-tracking-software .dtable-cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.icloud-iphone-without-jailbreak-monitoring .dtable-text,
.iphone-with-jailbreak-monitoring .dtable-text,
.iphone-tracking-software .dtable-text {
  display: inline-block;
  vertical-align: middle;
  color: #606060;
  font-size: 13px;
  line-height: 1;
  text-transform: none;
}
.visual-images-left-lg {
  margin-top: 30px;
}
.visual-text-lg p{
  margin: 22px 0;
}
.list-group-item-heading + small {
  display: block;
  font-size: 18px;
  color: inherit;
  padding-top: 35px;
  color: #16a89e;
}
.list-group-bg , .list-group-bg .list-group-item{
  background: #f8f8f8;
}
.compatibility-lg {
  font-size: 13px;
}
.row-pricing-panel .basic_wr .priceb, .row-pricing-panel .premium_wr .pricep{
  padding-bottom: 10px;
}
.row-pricing-panel .basic_wr .basic_h {
  font-size: 21px;
}
.row-pricing-panel .premium_wr .premium_h {
  font-size: 21px;
  position: relative;
  z-index: 2;
}
.row-pricing-panel .wr_price_big span {
  font-weight: normal;
}
.row-pricing-panel .priceb .list_price ul li {
  border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.row-pricing-panel .priceb .list_price ul li:hover{
  border-top-color: #d8f3f1;
    border-bottom-color: #d8f3f1;
    background: #fdfbf3;
}
.row-pricing-panel .priceb .list_price ul li .hover_label_radio {
/*  max-width: 210px;*/
  max-width: 230px;
  width: 230px;
  margin: auto;
}
.row-pricing-panel .priceb .list_price ul li .hover_label_radio:hover {
  border-color: transparent;
  background-color: transparent;
}
.row-pricing-panel .pricep .list_price ul li {
  border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.row-pricing-panel .pricep .list_price ul li:hover{
  border-top-color: #d8f3f1;
    border-bottom-color: #d8f3f1;
    background: #fdfbf3;
}
.row-pricing-panel .pricep .list_price ul li .hover_label_radio {
/*  max-width: 210px;*/
  max-width: 230px;
  width: 230px;
  margin: auto;
}
.row-pricing-panel .pricep .list_price ul li .hover_label_radio:hover {
  border-color: transparent;
  background-color: transparent;
}
.icloud-box .priceb .list_price ul li:hover {
  background: #ebfcfa !important;
}

h2.list-group-item-heading {
  padding: 0;
  height: auto;
  min-height: 0;
  font-weight: 400;
}
.list-group-item .text-success {
  color: #16a89e;
}
.list-group-item .text-danger {
color: #cf4857;
}
.table_header-border {
  border: 1px solid #e8e8e8;
  background: transparent;
}
.table_header-border span:first-child {
  padding-top: 3px;
}
#block-promo-buy.block-promo-buy:before {
  background: #3f041b;
  opacity: 0.12;
}
#block-promo-buy.block-promo-buy .btn-blue {
 background: #42778e;
}

.basic_wr .basic_fe .list_price-no-link li:hover, 
.premium_wr .premium_fe .list_price-no-link li:hover {
  color: #4e4d5b;
  font-size: 16px;
  cursor: default;
  line-height: 1;
  height: auto;
}
.basic_wr .basic_fe .list_price-no-link li, 
.premium_wr .premium_fe .list_price-no-link li {
  font-size: 16px;
  height: auto;
  line-height: 1;
  position: relative;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}
.basic_wr .basic_fe .list_price-no-link li i, 
.premium_wr .premium_fe .list_price-no-link li i {
  position: absolute;
  left: 5px;
  top: 8px;
}
.basic_wr .basic_fe .list_price-no-link li:hover > span, 
.premium_wr .premium_fe .list_price-no-link li:hover > span {
  color: #898989;
  cursor: default;
}
.basic_wr .basic_fe .list_price-no-link li > span, 
.premium_wr .premium_fe .list_price-no-link li > span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: #898989;
  line-height: 1.2;
}
.reset-list {
  margin: 0 !important;
}
.reset-list ul {
  margin: 0 !important;
  padding: 5%;
}
.basic_wr .basic_fe .list_price-no-link .feature_list {
  padding-left: 0;

}
.basic_wr .basic_fe .list_price-no-link .feature_list li {
  color: #898989;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 0;
}
.basic_wr .basic_fe .list_price-no-link .feature_list li:before {
  background: #ffba60;
  top: 4px;
  width: 6px;
  height: 6px;
}
.premium_wr .premium_fe .list_price-no-link .feature_list {
  padding-left: 0;

}
.premium_wr .premium_fe .list_price-no-link .feature_list li {
  color: #898989;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 0;
}
.premium_wr .premium_fe .list_price-no-link .feature_list li:before {
  background: #ffba60;
  top: 4px;
  width: 6px;
  height: 6px;
}
h2.text-success {
  color: #2cbdb3;
 font-size: 30px;
}
h2.text-warning {
  color: #f5ac43;
 font-size: 26px;
}
.text-transform-none {
  text-transform: none !important;
  position: relative;
}
h3.text-warning {
  color: #f5ac43;
 font-size: 24px;
}
.prices-padding .basic_wr .priceb{
  padding-bottom: 10px;
}
.prices-padding .premium_wr .pricep{
  padding-bottom: 10px;
}
.coming_soon_block {
  text-transform: none;
  border-top: 1px solid #dddddd;
}
th .table_title {
  border-left: none;
  border-right: none;
}
.coming_soon_block ul {
  list-style: none;
  padding: 10px 0;
  display: inline-block;
  text-align: left;
  color: #898989;
  font-size: 15px;

}
.coming_soon_block ul li {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

}

.ico-skype, .ico-notes,.ico-emails {
  background: none;
  width: 40px;
  text-align: center;
}
.ico-skype:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite-icons-update.png) no-repeat;
  background-position: 0 -100px;
  width: 23px;
  height: 23px;
}
.ico-notes:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite-icons-update.png) no-repeat;
  background-position: -25px -100px;
  width: 20px;
  height: 26px;
}
.ico-emails:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite-icons-update.png) no-repeat;
  background-position: -50px -100px;
  width: 24px;
  height: 17px;
}
.coming_soon_block ul li b{
  font-size: 19px;
  color: #4d4f5b;
/*  min-width: 120px;*/
  min-width: 95px;
  font-weight: 400;
  display: inline-block;
  text-align: right;
}
.border-none {
  border: none !important;
}
.list_price-no-link-inline {
  display: inline-block;
  vertical-align: top;
}
.pricep.border-left {
  margin-left: -1px;
  border-left: 1px solid #dddddd;
}

.icloud-iphone-without-jailbreak-monitoring .dtable-cell,
.iphone-with-jailbreak-monitoring .dtable-cell,
.iphone-tracking-software .dtable-cell {
  padding: 20px 0;

}
.icloud-iphone-without-jailbreak-monitoring .dtable,
.iphone-with-jailbreak-monitoring .dtable,
.iphone-tracking-software .dtable {
  max-width: 280px;
  margin: auto;
}
.list-group {
  
}
.list-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.w100 .dtable {
  max-width: 500px;
  margin: auto;
}
.basic_fe_mobile_block {
  display: block !important;
}
/*.dtable-cell:nth-child(1) {
  text-align: right;
}
.dtable-cell:nth-child(2) {
  text-align: left;
}*/
/*body {
  background: url(../images/test/page1.png) 50% 0 no-repeat;
  opacity: .7;
}*/
.column-relative {
  position: relative;
}
@media (min-width: 700px) {
  .column-relative > .table_title {
    position: absolute;
    top: 417px; /* 340 */
    left: 0;
    width: 100%;
    background: #fff;
  }
  .column-relative .basic_wr .list_price-no-link, .column-relative .premium_wr .list_price-no-link{
    padding-top: 100px;
  }
  
}

@media (max-width: 700px) {
  .column-relative > .table_title {
    display: none;
  }
  .column-relative .basic_wr .list_price-no-link, .column-relative .premium_wr .list_price-no-link{
    padding-top: 0;
  }
  .column-relative .basic_fe, .column-relative .premium_fe {
    display: block !important;
  }
  .basic_wr .basic_fe .list_price-no-link .feature_list, .premium_wr .premium_fe .list_price-no-link .feature_list {
    display: none;
  }

}
.iphone-tracking-software .dtable-cell.text-center,
.iphone-with-jailbreak-monitoring .dtable-cell.text-center, 
.icloud-iphone-without-jailbreak-monitoring .dtable-cell.text-center {
  text-align: center !important;
}
.list-group-item .icon-cancel:before {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 400px) {
    
    .icloud-iphone-without-jailbreak-monitoring .dtable-cell .wr_price_big span,
    .iphone-with-jailbreak-monitoring .dtable-cell .wr_price_big span,
    .iphone-tracking-software .dtable-cell .wr_price_big span {
      display: inline-block;
      vertical-align: bottom;
    }
}
@media only screen and (max-width: 768px) {
    
    .list-group-item-heading  {
      min-height: 37px;
      height: auto;
    }
}
@media only screen and (max-width: 980px) {
    .visual-text.text-right {
    text-align: center;
    }
    .text-promo-buy.text-promo-sm {
      text-align: center;
    }
    .btn-text-sm {
      padding-top: 2px;
    }
   
}
@media only screen and (max-width: 1200px) {
    /*.row-pricing-panel .wr_price_big span {
      display: block;
    }*/
    .border-right-sm {
      border-right: 1px solid #ddd;
    }
    .pricep.border-left {
      border-left: none;
    }
    .row-pricing-panel .basic_wr .priceb, .row-pricing-panel .premium_wr .pricep {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    .list-group-box .list-group{
      float: none;
      width: auto;
    }
    .list_price-no-link-inline {
      display: block;
    }
    .row-pricing-panel .premium_wr, .row-pricing-panel .basic_wr {
      width: 100% !important;
      float: none !important;
    }
    .list-group-box .list-group+.list-group .list-group-item {
      border-left: 1px solid #dddddd;
    }
}

.list-group .wr_price_big  curr, .dtable .wr_price_big  curr {
  text-indent: -8px;
  display: inline-block;
}
.column-relative.basic_wr {
  float: none;
  width: 100%;
}
.column-relative .column-relative {
  display: none;
}
@media only screen and (max-width: 700px) {
  .column-relative .column-relative {
    display: block;
  }
}

.column-relative > .table_title_second {
  top: 1726px;
  z-index: 2;
}
.hidden-media-box {

}

.icloud-iphone-without-jailbreak-monitoring .pricep .list_price ul li,
.iphone-with-jailbreak-monitoring .pricep .list_price ul li,
.iphone-tracking-software .pricep .list_price ul li {
  margin: auto;
}
@media only screen and (max-width: 700px) {
  .hidden-media-box {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .basic_wr .basic_fe .list_price-no-link > li > span, 
  .premium_wr .premium_fe .list_price-no-link li > span {
    display: none;
  }
  /*.basic_fe_mobile_block .list_price-no-link > li > span, .basic_fe_mobile_block .list_price-no-link li > span {
    display: block !important;
  }*/
}

.padding-reset {
  padding-top: 0 !important;
}
.h2-sm {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 26px !important;
}
.visible-sm-box {
  display: none;
}
@media only screen and (max-width: 700px){
  .bb-media-sm {
    border-bottom: 1px solid #e8e8e8;
  }
  .visible-sm-box {
    display: block !important;
  }
  .border-none-sm {
    border: none !important;
  }
  .basic_wr .basic_fe .list_price-no-link .feature_list {
    padding-bottom: 0 !important;
  }
  .premium_wr .premium_fe .list_price-no-link .feature_list {
    padding-bottom: 0 !important;
  }
  .media-sm-block {
    display: block !important;
    padding: 2% 5% !important;
  }
  .list_price-no-link {
    padding: 0 !important;
  }
  .coming_soon_block ul li b {
    float: left;
  }
  .basic_wr.span-list-block .basic_fe .list_price-no-link > li > span, .premium_wr.span-list-block .premium_fe .list_price-no-link li > span {
    display: block !important;
  }
  .padding-none-list + .padding-none-list {
    margin-top: -30px;
  }
  .padding-none-list-sm + .padding-none-list-sm {
    margin-top: -12px;
}
}
/*.border-none{
  border: none;
}*/
.row-pricing-panel .priceb .list_price ul, .row-pricing-panel .pricep .list_price ul {
  margin-bottom: 10px;
  padding: 0;
  margin-left: 0;
}

.iphone-tracking-software .priceb .list_price ul li,
.iphone-with-jailbreak-monitoring .priceb .list_price ul li, 
.icloud-iphone-without-jailbreak-monitoring .priceb .list_price ul li {
  margin: auto;
}

.row-pricing-panel .basic_wr + .premium_wr .premium_h {
  border-right: 1px solid #41a9a0;
}
/* ------------- \\ my settings ------------- */
.none-uppercase {
    text-transform: none !important;
}


/*old css*/
.table_header span:first-child {
  padding: 0;
  vertical-align: middle;
}
.border-left {
  border-left: 1px solid #dddddd;
}
.premium_wr , .basic_wr{
  width: 50%;
}
.bg_bottom_images .visual-img-pc {
  bottom: -1px;
}
.box-bottom-images .banner-header {
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .premium_wr , .basic_wr{
    width: 100%;
  }
  .basic_wr .basic_fe .list_price-no-link li, .premium_wr .premium_fe .list_price-no-link li {
    padding-left: 50px;
  }
  .basic_wr .basic_fe .list_price-no-link li i, .premium_wr .premium_fe .list_price-no-link li i {
    left: 20px;
  }
}

.table_header span:first-child {
  text-transform: none;
}


@media only screen and (max-width: 700px) {
    .row-pricing-panel .priceb .list_price ul li:hover .label_radio::before,
    .row-pricing-panel .priceb .list_price ul li:hover .label_check::before {
        margin-top: -8px;
    } 
}

/* ------------- \\ PLANS -------------- */
.row-pricing-panel .basic_wr .priceb .list-plans, 
.row-pricing-panel .premium_wr .pricep .list-plans {
    clear: both;
    width: 100%;
    color: #606060;
}

.list-plans .item-plan {
    padding: 0px;
    float: none;
    vertical-align: middle;
}
.list-plans .item-plan:first-child { 
    margin-right: 0px;
}
.list-plans .item-plan:last-child { 
    text-align: left; 
}

.list-plans i {
    float: right;
}

.list-plans p {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 300;
    text-transform: none;
    color: #606060;
}

.list-plans p.full { 
    font-size: 15px;
}

[class^="i-price-plans-small-"], 
[class*="i-price-plans-small-"],
[class^="i-price-plans-big-"], 
[class*="i-price-plans-big-"] {
    display: block;
}
[class^="i-price-plans-big-"], 
[class*="i-price-plans-big-"] {
    position: relative;
    width: 112px;
    height: 35px;
}

.i-price-plans-big-basic {
    background: url('../images/plans/basic_plan_packets.png') no-repeat;
}

.i-price-plans-big-premium {
    background: url('../images/plans/premium_plan_packets.png') no-repeat;
}

[class^="i-price-plans-small-"], 
[class*="i-price-plans-small-"] {
    width: 47px;
    height: 18px;
}

.i-price-plans-small-basic {
    background: url('../images/plans/basic_plan_small_packets.png') no-repeat;
}

.i-price-plans-small-premium {
    background: url('../images/plans/premium_plan_small_packets.png') no-repeat;
}

.text-red {
    color: #cf4857;
}

.box-plans-package {
    position: relative;
/*    margin: 0px;*/
}
 
.box-plans-package:first-child { border-left: 1px solid #d8f3f1; }
.box-plans-package {
    border-top: 1px solid #d8f3f1;
    border-bottom: 1px solid #d8f3f1;
/*    border-right: 1px solid #d8f3f1;*/
}

#list-plans-premium-package {
    background: #fffefb;
}
#list-plans-basic-package {
   background: #f9f7ee; 
}
#list-plans-basic-package,
#list-plans-premium-package {
    display: inline-block;
    width: 100%;
}
#list-plans-basic-package > section,
#list-plans-premium-package > section {
    max-width: 280px;
    margin: 0 auto;
    padding: 6px;
}

#list-plans-premium-package > section.full {
    max-width: 310px;
    padding: 11px 6px 12px 6px;
}

#list-plans-premium-package > section.full .list-plans i {
    float: none;
}

.box-small-package {
    width: 47px;
    padding-left: 5px;
    vertical-align: middle;
}

.small_package {
    position: relative;
}

.plan-header-premium {
    display: inline-block;
    background: url('../images/plans/header_premium.png') no-repeat;
    width: 105px;
    height: 31px;
}

.banner-header-package p {
    margin-bottom: 0px;
}
.banner-header-package p:last-child {
    font-size: 14px;
    line-height: 1.1em;
}

.banner-header-package section:last-child {
    
}

.banner-header-package button {
    top: 10px;
    position: relative;
}

@media only screen and (max-width: 992px) { 
    .banner-header-package button { 
        top: 0px;
    }
}


.label_radio .sp,
.label_radio .sp_price, 
.box-small-package {
    float: none !important;
    display: inline-block !important;
}
.label_radio .sp {
    width: 76px;
}
.label_radio .sp_price {
/*    width: auto;*/
    width: 70px;
}

/* ================== \\ Coming soon ================ */
.coming-soon-icons {
    margin: 0 15px !important;
    display: inline-block;
    width: 27px;
    height: 26px;
    position: relative;
    top: 3px;
}

.coming_soon_block ul li span {
/*    display: inline-block;*/
    display: inline;
    text-align: left;
}

@media only screen and (max-width: 700px) { 
    .coming_soon_block ul li span  {
        padding-top: 3px;
        overflow: hidden;
        display: block;
        text-align: center;
      }
    
/*    .coming_soon_block ul li span {
        display: inline;
    }*/
}

.cs-ico-skype {
    background: url('../images/icons/coming_soon/i-skype.png') no-repeat;
}

.cs-ico-whatsapp {
    background: url('../images/icons/coming_soon/i-whatsapp.png') no-repeat;
}

.cs-ico-photos {
    background: url('../images/icons/coming_soon/i-phones.png') no-repeat;
}

.cs-ico-notes {
    background: url('../images/icons/coming_soon/i-notes.png') no-repeat;
}

[class="cs-ico-*"] {
    background-position: center center;
} 

.fulfill-link {
    float: right;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 14px;
}

.fulfill-link .store-full-link {
/*    margin-top: 5px;*/
    vertical-align: middle;
    float: none;
    right: 0;
}

.fulfill-link .store-full-link i {
    position: relative;
/*    top: 3px;*/
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

#choose-subscription-plan .tb_pricing .table_title {
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px 1px 0;
}