
.block-android .visual-text,
.block-iso .visual-text {
    padding-right: 10px;
}

.block-android .banner-header,
.block-iso .banner-header {
/*    padding-top: 81px;*/
    padding-top: 25px;
}

.block-android .visual-img-pc,
.block-iso .visual-img-pc {
    margin-top: 0px;
    bottom: 0px;
}

.box-bottom-images .banner-header {
    padding-top: 20px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 480px) {
    .block-android .visual-text,
    .block-iso .visual-text {
        text-align: center;
    }
    
    .block-ios .banner-header,
    .block-android .banner-header {
        padding: 0px;
    }
    
    
    .block-android .visual-img-pc,
    .block-iso .visual-img-pc {
        margin-top: 20px;
    }
    
}
@media (min-width: 468px) {
    .block-android .visual-text,
    .block-iso .visual-text {
        text-align: center;
    }
    
    .block-ios .banner-header,
    .block-android .banner-header {
        padding: 0px;
    }
    
    .block-android .visual-img-pc,
    .block-iso .visual-img-pc {
        margin-top: 20px;
    }
}    

@media (min-width: 768px) {
    .block-ios .banner-header,
    .block-android .banner-header {
        padding: 0px;
    } 
    
    .block-android .visual-img-pc {
        margin-top: 20px;
    }
}    

@media (min-width: 992px) {
   .block-android .visual-text,
   .block-iso .visual-text {
        text-align: right;
    }
    
/*    .block-ios .banner-header {
        padding-top: 81px;
    }
    */
    
    .block-ios .banner-header {
        padding-top: 25px;
    }
    
    .block-android .banner-header {
        padding: 25px 0px 20px;
    }   
    
    .block-ios .visual-img-pc {
        margin-top: 0px;
        bottom: 0px;
    }
    
    .block-android .visual-img-pc {
        margin-top: 0px;
/*        width: 40%;*/
    }
}

@media (min-width: 1200px) { 
    .block-android .visual-text,
    .block-iso .visual-text {
        text-align: right;
    }
    
/*    .block-ios .banner-header {
        padding-top: 81px;
    }*/
    
/*    .block-android .banner-header {
        padding: 50px 0px 40px;
    }*/

    .block-ios .banner-header {
        padding-top: 25px;
    }
    
     .block-android .banner-header {
        padding: 25px 0px 20px;
    }

    .block-ios .visual-img-pc {
        margin-top: 0px;
    }
    
    .block-android .visual-img-pc {
        margin-top: 20px;
        width: 100%;
    }
}



.block-android .arrow_bottom h3,
.block-iso .arrow_bottom h3 {
    margin-top: 30px;
    margin-bottom: 42px;
    padding-bottom: 0px;
}


/* ----------- // landing-features ----- */
.block-sms .banner-header {
    padding: 97px 0px 67px;
}

.block-smartphone .banner-header {
    padding-top: 20px;
    padding-bottom: 0px;
}    

.block-call-monitoring .banner-header {
    padding: 50px 0px;
}

.block-smartphone .banner-header {
/*    padding: 97px 0px 67px;*/
}

/*.block-smartphone .visual-img-pc {
    width: 80%;
}*/

.block-sms .visual-img-pc, 
.block-call-monitoring .visual-img-pc {
    margin-top: 0px;
    width: 100%;
}

.block-smartphone .visual-img-pc {
    position: relative;
}

@media only screen and (max-width: 480px) {
    .block-sms .visual-text, 
    .block-smartphone .visual-text, 
    .block-call-monitoring .visual-text {
        text-align: center;
    }
    
    .block-sms .banner-header,
    .block-call-monitoring .banner-header {
        padding: 10px 0px 10px;
    }
    
    .block-smartphone .banner-header { 
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    .block-sms .visual-img-pc,
    .block-call-monitoring .visual-img-pc {
        margin-top: 20px;
        max-width: 55%;
    }
}
@media (min-width: 468px) {
    .block-sms .visual-text,     
    .block-smartphone .visual-text,     
    .block-call-monitoring .visual-text {
        text-align: center;
    }
    
    
    .block-sms .banner-header,
    .block-call-monitoring .banner-header {
        padding: 10px 0px 10px;
    }
    
    .block-smartphone .banner-header { 
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    .block-sms .visual-img-pc,
    .block-call-monitoring .visual-img-pc {
/*        max-width: 55%;*/
        margin-top: 20px;
    }
    
}    

@media (min-width: 768px) {
    .block-call-monitoring .visual-text {
        padding: 20px 0px;
    } 
    
/*    .block-sms .banner-header {
        padding: 50px 0px 50px;
    }*/
    
    .block-smartphone .banner-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .block-call-monitoring .banner-header {
        padding: 0px;
    }
    
    .block-sms .visual-img-pc {
        margin-top: 0px;
/*        max-width: 30%;*/
    }
    
    .block-call-monitoring .visual-img-pc {
        max-width: 60%;
    } 
    
    .block-smartphone .visual-img-pc {
        bottom: 0px;
/*        width: 50%;*/
    }    
}    

@media (min-width: 992px) {
   .block-sms .visual-text,     
   .block-smartphone .visual-text,     
   .block-call-monitoring .visual-text {
        text-align: right;
    }
    
    .block-call-monitoring .visual-text {
        padding: 50px 0px;
    }    
    
/*    .block-sms .banner-header {
        padding: 50px 0px 50px;
    }
    
    .block-call-monitoring .banner-header {
        padding: 50px 0px;
    }*/
    
    .block-smartphone .banner-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .block-sms .visual-img-pc {
        bottom: 0px;
        margin-top: 0px;
/*        width: 40%;*/
    }
    
    .block-call-monitoring .visual-img-pc {
         min-width: 80%;
    }  
    
    .block-smartphone .visual-img-pc {
         bottom: 0px;
/*         width: 80%;*/
    }    
}

@media (min-width: 1200px) { 
    .block-sms .visual-text,     
    .block-smartphone .visual-text,     
    .block-call-monitoring .visual-text {
        text-align: right;
    }
    
/*    .block-sms .banner-header {
        padding: 97px 0px 67px;
    }*/
    
/*    .block-call-monitoring .banner-header {
        padding: 50px 0px;
    }*/

    .block-smartphone .banner-header {
        padding-top: 0px;
        padding-bottom: 0px;
    } 
    
    .block-sms .visual-img-pc,
    .block-call-monitoring .visual-img-pc {
        margin-top: 0px;
        width: 100%;
        max-width: 100%;
    }
    
    .block-smartphone .visual-img-pc {
/*         bottom: -10px;*/
/*          width: 80%;*/
    }
    
}

.block-sms .visual-text,     
.block-smartphone .visual-text,     
.block-call-monitoring .visual-text h1 {
    margin-bottom: 20px;
}
.block-sms .visual-text,     
.block-smartphone .visual-text,     
.block-call-monitoring .visual-text .compatibility {
    margin-top: 20px;
}
.block-android .ios ul.visual-header-dop-info {
    padding-left: 0;
}
.block-android .ios .visual-text {
    padding-right: 0;
}
.block-sms .visual-img-pc {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
}
@media only screen and (max-width: 991px) {
    .block-sms .visual-img-pc {
        max-width: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .block-sms .visual-img-pc {
        max-width: 100% !important;
    }
}

