/* settings */
/*.col-log-13 {
    width: 10.833333333333334%;
}*/

.parent-control .plans-links,
.landing-mobile .plans-links,

.ipad-text p {
    padding-bottom: 27px;
}

.ipad-text .featured-link {
    top: 9px;
    position: relative;
    line-height: 18px;
}

.ipad-text ul {
    margin: 0px;
    padding: 0px;
}

.ipad-text ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ipad-text ul li:last-child {
    margin-right: 0px;
}

.howtouse-pumpic {
    
}

.howtouse-pumpic .howitworks-arrows {
    padding-left: 30px;
    margin-bottom: 7px;
}

.howtouse-pumpic h3 {
    font-size: 22px;
}

.howtouse-pumpic p br, .br {
/*    margin-bottom: 5px;*/
    display: block;
    margin: 5px 0 0;
    content: " ";
}

/* --- buttons --- */
.btn-green, .btn-red {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    color: #fff;
    background: #16a89e;
    padding: 9px 15px;
    font-size: 18px;
    line-height: 18px;
    line-height: 18px;
    font-weight: 300;
    
    min-height: 32px;
    min-width: 110px;
}

.btn-red {
    background: #cf4857;
}

.btn-green:hover, .btn-green:active,
.btn-red:hover, .btn-red:active {
    opacity: 0.7;
    color: white;
    border-color: #adadad;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(186, 120, 26, 0.4);
}
/* --- // style  */

#table-container {
    margin: 0 auto;
}

#table-container h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0px 0px 28px 0px;
}

#table-container div.tab {
    display: table-row;
    float:left;
    border-right: 1px solid #dbdbdb;
}

#table-container section {
    display: table;
    border: 1px solid #dbdbdb;
    width: 100%;
    position: relative;
}

#table-container .tab > ul {
    margin: 0px;
    padding: 0px;
}
#table-container .tab > ul > li {
    background: #f9f9f9;
    
    display: block;
    height: 42px;
    list-style: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 12px 24px;
    color: #4d4f5b;
    
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#table-container .rowspan {
    width: 100%;
    text-align: center;
}


#table-container .tab > ul > li:last-child,
#table-container div.tab:last-child
{
    border: none;
}

/* ----------- // table ------------ */
@media only screen and (max-width: 480px) {
    .tabel-sm-col-4, .tabel-sm-col-3, .tabel-sm-col-2,
    .col-sm-item-4, .col-sm-item-3, .col-sm-item-2 {
        width: 100%;
    }
    
    #table-container .tab > ul > li:last-child {
        border-bottom: 1px solid #dbdbdb !important;
    }
    
    #table-container section {
        border-bottom: none;
    }
    
    #table-container .rowspan {
        text-align: left;
    }
}
@media (min-width: 468px) {
    .tabel-sm-col-4, .tabel-sm-col-3, .tabel-sm-col-2,
    .col-sm-item-4, .col-sm-item-3, .col-sm-item-2 {
        width: 100%;
    }
    
    #table-container .tab > ul > li:last-child {
        border-bottom: 1px solid #dbdbdb !important;
    }
    
    #table-container section {
        border-bottom: none;
    }
    
    #table-container .rowspan {
        text-align: left;
    }
}    
/* -- // col-item */
@media (min-width: 768px) {
    
    .tabel-sm-col-4, .tabel-sm-col-3, .tabel-sm-col-2,
    .col-sm-item-4, .col-sm-item-3, .col-sm-item-2 {
        width: 100%;
    }
    
    #table-container .tab > ul > li:last-child {
        border-bottom: 1px solid #dbdbdb !important;
    }
    
    #table-container section {
        border-bottom: none;
    }
    
    #table-container .rowspan {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .tabel-sm-col-4, .tabel-sm-col-3, .tabel-sm-col-2,
    .col-sm-item-4, .col-sm-item-3, .col-sm-item-2 {
        width: 100%;
    }
    
    .col-md-item-4 {
        width: 21.333333333333335%;
    }

    .col-md-item-3 {
        width: 33.33333333%;
    }

    .col-md-item-2 {
        width: 49.230769230769234%;
    }
    
    #table-container .rowspan {
        text-align: center;
    }
}

@media (min-width: 1200px) { 
    
    .tabel-col-4 {
        width: 100%;
    }    
    .tabel-col-3 {
        width: 64.16666666666667%;
    }

    .tabel-col-2 {
        width: 43.333333333333335%;
    }
    
    .col-item-4 {
        width: 21.333333333333335%;
    }

    .col-item-3 {
        width: 33.33333333%;
    }

    .col-item-2 {
        width: 49.230769230769234%;
    }
    
    #table-container .rowspan {
        text-align: center;
    }
}


/* ---// features --- */
.i-features-videocam,
.i-features-app, .i-features-browser, .i-features-calendar, .i-features-cell-history,
.i-features-contacts, .i-features-email, .i-features-keyloger, .i-features-location,
.i-features-photos, .i-features-sms-commands, .i-features-social, .i-features-sms {
    display: inline-block;
    margin-right: 16px;
}


.i-features-videocam {
    background: url('../images/icons/icon-video.png') no-repeat;
    width: 20px;
    height: 13px;
}

.i-features-app {
    background: url('../images/icons/icon-app.png') no-repeat;
    width: 20px;
    height: 19px;
}

.i-features-browser {
    background: url('../images/icons/icon-browser.png') no-repeat;
    width: 20px;
    height: 19px;
}

.i-features-calendar {
    background: url('../images/icons/icon-calendar.png') no-repeat;
    width: 20px;
    height: 19px;
}

.i-features-cell-history {
    background: url('../images/icons/icon-cell-history.png') no-repeat;
    width: 20px;
    height: 19px;
}

.i-features-contacts {
    background: url('../images/icons/icon-contacts.png') no-repeat;
    width: 20px;
    height: 19px;
}

.i-features-email {
    background: url('../images/icons/icon-email.png') no-repeat;
    width: 20px;
    height: 19px;
}

.i-features-keyloger {
    background: url('../images/icons/icon-keyloger.png') no-repeat;
    width: 24px;
    height: 16px;
}

.i-features-location {
    background: url('../images/icons/icon-location.png') no-repeat;
    width: 15px;
    height: 19px;
}

.i-features-photos {
    background: url('../images/icons/icon-photos.png') no-repeat;
    width: 20px;
    height: 16px;
}

.i-features-sms-commands {
    background: url('../images/icons/icon-sms-commands.png') no-repeat;
    width: 21px;
    height: 18px;
}

.i-features-social {
    background: url('../images/icons/icon-social.png') no-repeat;
    width: 10px;
    height: 19px;
}

.i-features-sms {
    background: url('../images/icons/icon-view-sms.png') no-repeat;
    width: 20px;
    height: 18px;
}


/* -------------// top banners ------------- */


.parent-control .box-right-description {
    padding-top: 90px;
    padding-bottom: 100px;
    height: 400px;
    float: right;
    padding-left: 24px;
}

.parent-control .visual h1.title {
    margin: 0px;
    font-size: 40px;
}
.parent-control .visual p {
    margin: 24px 0px 30px 0px;
}


.bg_famaly {
    background: url('../images/parental_control/bg_famaly.png') no-repeat;
    background-position: -70px 0px;
}

.bg_teenagers {
    background: url('../images/pc2/bg_teenagers_header.png') no-repeat;
    background-position: 16.80672% 46px;
}

@media only screen and (max-width: 480px) {
   .parent-control .box-right-description {
         padding: 0px;  
         height: auto;
         float: none;
    }
    
    .visual-img-pc {
      bottom: 0px;
      display: block;
      margin: 12px auto 0px;
      max-width: 55% !important;
      text-align: center;
    }
    
    .parent-control .visual p {
        margin: 0px;
    }
    
    .bg_famaly, .bg_teenagers {
        background: none;
    }
}
@media (min-width: 468px) {
    .parent-control .box-right-description {
         padding: 0px;  
         height: auto;
         float: none;
    }    
    
    .visual-img-pc {
      bottom: 0px;
      display: block;
      margin: 12px auto 0px;
      max-width: 55% !important;
      text-align: center;
    }
    
    .parent-control .visual p {
        margin: 0px;
    }
    
    .bg_famaly, .bg_teenagers {
        background: none;
    }
}

@media (min-width: 770px) {
    .parent-control .visual h1.title {
        padding-bottom: 10px;
    }
    
    .visual-img-pc {
        bottom: 0px;
        display: block;
        max-width: 56% !important;
    }
    
    .parent-control .box-right-description {
         padding: 0px;  
         height: auto;
         float: none;
    } 
}    

@media (min-width: 992px) {
    .parent-control .visual h1.title {
        padding-bottom: 10px;
    }
    
    .parent-control .box-right-description {
         padding: 20px 0px;  
         height: auto;
         float: right;
    } 
    
    .visual-img-pc {
      position: relative;
      bottom: -40px;  
      display: block;
      max-width: 40%;
    }
    
    .webkit .visual-img-pc {
      bottom: -38px;  
    }
    
    .pc2 .visual-img-pc {
        bottom: 0px;
    }
    .parent-control .visual p {
        margin: 0px;
    }
    
    .bg_famaly, .bg_teenagers {
        background: none;
    }
}  

@media (min-width: 1200px) {
    .parent-control .visual h1.title {
        padding-bottom: 0px;
    }
    
    .parent-control .box-right-description {
        padding-top: 90px;
        padding-bottom: 100px;
        height: 400px;
        float: right;
        padding-left: 24px;
    } 
    
    .visual-img-pc {
      bottom: 0px;
      display: block;
      max-width: 100% !important;
    }
    
    .parent-control .visual p {
        margin: 24px 0px 30px 0px;
    }
    
    .bg_famaly {
        background: url('../images/parental_control/bg_famaly.png') no-repeat;
        background-position: -70px 0px;
    }
    
    .bg_teenagers {
        background: url('../images/pc2/bg_teenagers_header.png') no-repeat;
        background-position: 16.80672% 46px;
    }
}    
/* ----------- // bottom banner -------- */
.text-green {
    color: #16a89e;
}

.promo-parent-control {
    background: #faf7e5;
    border-bottom: 3px solid #e5e5e5;
    border-top: 3px solid #e5e5e5;
}

.promo-parent-control #promo-item:first-child {
    padding: 0px;
}

.promo-parent-control #promo-item {
    padding: 18px;
    float: left;
    color: #4d4f5b;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#promo-item div {
    font-size: 21px;
    line-height: 1;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}

#promo-item div span {
    font-size: 14px;
}

#promo-item .btn-green {
    font-size: 21px;
    line-height: 21px;
    padding: 9px 28px;
    
    min-height: auto;
    min-width: auto;
}

#promo-item.promo-title div {
    font-size: 37px;
    margin-top: 35px;
}
#promo-item.promo-title div span {
    font-size: 37px;
    font-weight: 600;
}

@media (min-width: 992px) {
    #promo-item.promo-title {
        padding-left: 15px;
    }
    #promo-item .btn-red.banner-v3-button {
        margin-top: 35px;
        padding: 13px 15px 13px 25px;
    }
}
@media (min-width: 1200px) {
    #promo-item img.promo-pointer.pc-version {
        display: inline-block !important;
    }
    #promo-item.promo-button {
        padding-left: 10px !important;
    }
}
@media (max-width: 1199px) {
    #promo-item img.promo-pointer.pc-version {
        display: none !important;
    }
}
@media (max-width: 991px) {
    #promo-item.promo-title div {
        font-size: 27px;
        margin-top: 0;
    }
    #promo-item.promo-title div span {
        font-size: 27px;
    }
    #promo-item .banner-v3-button {
        margin-top: 0;
        font-size: 24px !important;
        padding: 7px 30px !important;
    }
    #promo-item.promo-title {
        padding-bottom: 0;
    }
    #promo-item.promo-button {
        padding-top: 8px;
        padding-bottom: 14px;
    }
}
#promo-item .btn-red {
    font-size: 24px;
    line-height: 24px;
    
    min-height: auto;
    min-width: auto;
        
    padding: 10px 30px;
}


.visible-mobile-lg {
    display: none !important;
}

.promo-parent-control #promo-item {
   width: auto;
   text-align: left;
}


#promo-item .text-green span {
    font-size: 33px;
}

#promo-item .text-green {
   font-size: 21px;
}

.visible-parent-control-lg {
    display: block;
}

@media only screen and (max-width: 480px) {
   .visible-mobile-lg {
       position: relative;
        display: inline-block !important;
/*        float: left;*/
/*        width: 55%;*/
        left: 50%;
        margin-left: -88px;
   } 
   
   .visible-parent-control-lg {
        display: none !important;
    }
    
    .small-banner {
        margin: 0 auto;
/*        width: 80%;*/
    }
    
    .promo-parent-control #promo-item {
        width: 100%;
        text-align: center;
    }
    
}
@media (min-width: 468px) {
    .visible-mobile-lg {
        position: relative;
        display: inline-block !important;
/*        float: left;*/
        left: 50%;
        margin-left: -88px;
   }     
   
   .promo-parent-control #promo-item {
       width: 100%;
       text-align: center;
   }   
   
   #promo-item .text-green span {
        font-size: 31px;
   }
   
   #promo-item .text-green {
       font-size: 25px;
   }
   
   .visible-parent-control-lg {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .visible-mobile-lg {
        display: none !important;
    }
    
   .promo-parent-control #promo-item {
       width: auto;
       text-align: left;
   }
   
   #promo-item .text-green span {
        font-size: 33px;
   }
   
   #promo-item .text-green {
       font-size: 21px;
   }
   
   .visible-parent-control-lg {
        display: block !important;
    }
}  

@media (min-width: 1200px) {
    .visible-mobile-lg {
        display: none !important;
    }
    
   .promo-parent-control #promo-item {
       width: auto;
       text-align: left;
   }
   
   #promo-item .text-green span {
        font-size: 33px;
   }
   
   #promo-item .text-green {
       font-size: 21px;
   }
   
   .visible-parent-control-lg {
        display: block !important;
    }
}   


/* ----------// bg footer ----- */
.bg-footer {
    background: #e7e7e7 url('../images/parental_control/bg_footer.png') no-repeat;
    background-position: 50% 100%;
}

/* ------------// system --------------- */
.mobile-version {
    display: none;
}

.pc-version {
    display: block;
}

@media only screen and (max-width: 480px) {
   .mobile-version {
       display: block !important;
   } 
   
   .pc-version {
        display: none !important;
    }
    
    .w770 {
        display: block;
    }
    .w900 {
        float: none;
        display: none;
    }
}
@media (min-width: 468px) {
    .mobile-version {
       display: block !important;
    }
   
   .pc-version {
        display: none !important;
    }
    
    .w770 {
        display: block;
    }
    .w900 {
        float: none;
        display: none;
    }
    
}

@media (min-width: 770px) {
    .mobile-version {
       display: block !important;
    }
   
   .pc-version {
        display: none !important;
    }
    
    .w770 {
        display: block;
    }
    
    .w900 {
        float: none;
        display: none;
    }
}    

@media (min-width: 992px) {
    .mobile-version {
       display: block !important;
    }
   
   .pc-version {
        display: none !important;
    }
    
    .w770 {
        display: none;
    }
    
    .w900 {
        float: left;
        display: block;
    }
}  

@media (min-width: 1200px) {
    .mobile-version {
       display: none !important;
   }
   
   .pc-version {
        display: block !important;
    }
    
    .w770 {
        display: none;
    }
    
    .w900 {
        float: left;
        display: none;
    }
}   


.right {
    float: right;
}

.left {
    float: left;
}

.underline {
    text-decoration: underline;
}

.testimonial-title {
    font-size: 26px;
}

/* -------------// fix ---------- */
.quicklink {
    position: relative;
}    
@media only screen and (max-width: 480px) {
    .feature {
/*        left: 50%;
        margin-left: -25%;*/
        margin: 0 auto;
        width: 80%;
    }
    
    .quicklink {
/*        left: 50%;
        margin-left: -25%;
        width: 33.33333%;*/

        margin: 0 auto;
        width: 80%;
    }
}
@media (min-width: 480px) {
    .feature {
/*        left: 50%;
        margin-left: -25%;*/

        margin: 0 auto;
        width: 80%;
    }
    
    .quicklink {
/*        left: 50%;
        margin-left: -25%;*/

        margin: 0 auto;
        width: 80%;
    }
}

@media (min-width: 770px) {
    .feature {
        left: 0;
        width: auto; 
        margin: 0px;
    }
    
    .quicklink {
        left: 0;
        margin-left: 0;
    }
}    

@media (min-width: 992px) { 
    .feature {
        left: 0;
        width: auto; 
        margin: 0px;
    }
    
    .quicklink {
        left: 0;
        margin-left: 0;
    }
}
     
@media (min-width: 1200px) {
    .feature {
        left: 0;
        width: auto; 
        margin: 0px;
    }
    
    .quicklink {
        left: 0;
        margin-left: 0;
    }
}

/* --- // hidden only mobile ----- */
.hidden-mobile {
    display: block;
}
@media only screen and (max-width: 480px) {
    .hidden-mobile {
        display: none !important;
    }
}
@media (min-width: 480px) {
   .hidden-mobile {
        display: none !important;
    }
}

@media (min-width: 770px) {
    .hidden-mobile {
        display: none !important;
    }
}    

@media (min-width: 992px) { 
    .hidden-mobile {
        display: block !important;
    }
}
     
@media (min-width: 1200px) {
    .hidden-mobile {
        display: block !important;
    }
}

/* ================ // pc2 =================== */
.box-teenagers .box-teenages-arrows-left img {
    display: inline-block;
    float: right;
    position: relative;
    right: -85px;
}
.box-teenagers .box-teenages-arrows-rigth {
    display: inline-block;
    float: left;
    position: relative;
    left: -85px;
}

.box-teenagers {
    color: #4d4f5b;
}

.box-teenagers .t-title {
    margin-bottom: 50px;
}

.box-teenagers .item-teenager > img {
    margin-bottom: 20px;
}

.box-teenagers .item-teenager > h1 {
    margin-top: 0px;
/*    color: #4d4f5b;*/
    font-size: 42px;
    font-weight: bold;
    height: 39px;
    vertical-align: middle;
    margin-bottom: 19px;
}
.box-teenagers .row > h3 {
    padding: 0px;
    font-size: 26px;
    font-weight: 300;    
}
.box-teenagers .item-teenager > h1 > sup {
    font-size: 32px;
}

.fz20 {
    font-size: 20px;
}

.box-teenagers .item-teenager > p {
    font-size: 16px;
    font-weight: 300;
    color: #4d4f5b;
}

.box-teenagers .notebook {
    margin-top: 8px;
    margin-bottom: 40px;
}

.box-teenagers .btn-red {
    margin-top: 23px;
    font-size: 24px;
    padding: 17px 23px;
}

.pc2 #promo-item.promo-title div {
    font-size: 32px;
}
