.text-left,
.block-text-left {
    text-align: left;
}

.text-right,
.block-text-right {
    text-align: right;
}

.text-center,
.block-text-center {
    text-align: center;
}

.vertical-aligh-middle {
    vertical-align: middle;
}

.vertical-aligh-bottom {
    vertical-align: bottom;
}

.vertical-aligh-top {
    vertical-align: top;
}


/*
.pc-border-right {
    border-right: 1px solid #e7e7e7;
}

.pc-border-left {
    border-left: 1px solid #e7e7e7;
}

.pc-border-top {
    border-top: 1px solid #e7e7e7;
}

.pc-border-bottom {
    border-bottom: 1px solid #e7e7e7;
}   */
    
@media only screen and (max-width: 480px) {
    .block-text-center, .block-text-left, .block-text-right {
        text-align: center;
    }
    
    .pc-border-right {
        border-right: none;
    }
    
    .pc-border-left {
        border-left: none;
    }
    
    .pc-border-top {
        border-top: none;
    }
    
    .pc-border-bottom {
        border-bottom: none;
    }
}
@media (min-width: 468px) {
    .block-text-center, .block-text-left, .block-text-right {
        text-align: center;
    }
    
    .pc-border-right {
        border-right: none;
    }
    
    .pc-border-left {
        border-left: none;
    }
    
    .pc-border-top {
        border-top: none;
    }
    
    .pc-border-bottom {
        border-bottom: none;
    }
}    
/* -- // col-item */
@media (min-width: 768px) {
    .block-text-center, .block-text-left, .block-text-right {
        text-align: center;
    }
    
    .pc-border-right {
        border-right: 1px solid #e7e7e7;
    }
    
    .pc-border-left {
        border-left: 1px solid #e7e7e7;
    }
    
    .pc-border-top {
        border-top: 1px solid #e7e7e7;
    }
    
    .pc-border-bottom {
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 992px) {
    .block-text-center {
        text-align: center;
    }
    .block-text-left {
        text-align: left;
    }
    .block-text-right {
        text-align: right;
    }
    
    .pc-border-right {
        border-right: 1px solid #e7e7e7;
    }
    
    .pc-border-left {
        border-left: 1px solid #e7e7e7;
    }
    
    .pc-border-top {
        border-top: 1px solid #e7e7e7;
    }
    
    .pc-border-bottom {
        border-bottom: 1px solid #e7e7e7;
    }
}

@media (min-width: 1200px) { 
    .block-text-center {
        text-align: center;
    }
    .block-text-left {
        text-align: left;
    }
    .block-text-right {
        text-align: right;
    }
    
    .pc-border-right {
        border-right: 1px solid #e7e7e7;
    }
    
    .pc-border-left {
        border-left: 1px solid #e7e7e7;
    }
    
    .pc-border-top {
        border-top: 1px solid #e7e7e7;
    }
    
    .pc-border-bottom {
        border-bottom: 1px solid #e7e7e7;
    }
    
}

.block-table {
    display: table;
}

.block-table > .table-row {
    display: table-row;
}

.block-table > .table-row > .table-column { 
    display: table-column;
}

.block-table > .table-row > .table-cell { 
    float: none;
    position: static;
    display: table-cell;
    text-align: left;
}

@media (max-width: 768px) { 
    .block-table { margin: 0 auto; }
}
@media only screen and (max-width: 480px) { 
/*    .col-xs-sm-offset-1 {
        margin-left: 8.33333%;
    }*/
}
@media (min-width: 468px) {
/*    .col-xs-sm-offset-1 {
        margin-left: 8.33333%;
    }*/
}
.mt15 {
    margin-top: 15px;
}
.mt30 {
    margin-top: 30px;
}