/* header */
.block-reviews table td[class*="col-"], .block-reviews table th[class*="col-"]{
   float: left; 
}
/* pages*/
.block-reviews .row-white {
  padding: 15px 0;
  background: #fff;
}
.block-reviews .visual-text p{ 
  color: inherit !important;
}
.block-reviews .icons {
  display: inline-block;
  vertical-align: middle;
  background: url(../../../images/sprite-icons-update.png) no-repeat;
}
.block-reviews span.text-success {
  color: #16a89e !important;
  font-size: inherit !important;
  margin: 0 !important;
}
.block-reviews .ico-iphones {
  margin-right: 5px;
  background-position: 0 0;
  width: 12px;
  height: 23px;
  margin-top: -5px;
}
.block-reviews .ico-ipads {
  margin-right: 5px;
  background-position: -25px 0;
  width: 20px;
  height: 23px;
  margin-top: -5px;
}
.block-reviews .ico-ipods {
  margin-right: 5px;
  background-position: -50px 0;
  width: 12px;
  height: 23px;
  margin-top: -5px;
}
.block-reviews .ico-cloud {
  margin-right: 5px;
  background-position: -125px 0;
  width: 42px;
  height: 28px;
}
.block-reviews .ico-cloud-white {
  margin-right: 5px;
  background-position: -75px -50px;
  width: 30px;
  height: 20px;
}
.block-reviews .ico-jailbreak {
  margin-right: 5px;
  background-position: -75px 0;
  width: 30px;
  height: 37px;
}
.block-reviews .ico-arrows {
  margin-left: 5px;
  background-position: -50px -50px;
  width: 10px;
  height: 12px;
}
.block-reviews .icon-buy {
  background-position: 0 -75px;
  width: 25px;
  height: 23px;
  display: block;
  margin: auto;
}
.block-reviews .icon-install {
  background-position: -50px -75px;
  width: 29px;
  height: 25px;
  display: block;
  margin: auto;
}
.block-reviews .icon-remotely {
  background-position: -100px -75px;
  width: 21px;
  height: 27px;
  display: block;
  margin: auto;
}
.block-reviews .weight-normal {
  font-weight: 400;
}

.block-reviews .weight-normal i{
  margin-bottom: 10px;
}



.block-reviews .list-group-box {
  
}
.block-reviews .font-weight400 {
  font-weight: 400 !important;
}
.block-reviews .btn-text-sm {
  font-size: 18px;
  padding-top: 12px;
}
.block-reviews .list-group-box .list-group{
  float: left;
  width: 50%;
  margin-bottom: 0;
}
.block-reviews .text-promo-buy.text-promo-sm {
  font-size: 18px;
  text-align: right;
  display: inline-block;
  padding-top: 5px;
}


.block-reviews .list-group-item-heading  {
  font-size: 27px;
  color: #16a89e;
  height: 37px;
  padding: 20px 0 0;
}
.block-reviews .list-group-item-heading small {
  display: block;
  font-size: 18px;
  color: inherit;
  padding-top: 35px;
}
.block-reviews .list-group-box .list-group .list-group-item{
  border-radius: 0;
  padding-left: 30px;
}
.block-reviews .list-group-box .list-group+.list-group .list-group-item {
  border-left: none;
}
.block-reviews .row-pricing-panel {
  text-align: center;
}
.block-reviews .w100 {
  width: 100% !important;
}
.block-reviews .list-group-item-link {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #42778e;
  padding: 10px 0;
}
.block-reviews .refund_bg {
  overflow: hidden;
  position: static !important;
  background-color: #4d4f5b;
}
.block-reviews .list-group-item-text  {
  font-size: 15px;
}
.block-reviews .list-group-item-text .title{
  font-size: 18px;  
  display: block;
  padding-bottom: 5px;
}
.block-reviews .list-group-item .icon-cancel {
  font-size: 28px;
  line-height: 1;
  margin-top: -4px;
  height: 32px;
}
.block-reviews .list-group-item .icon-ok {
  font-size: 22px;
  height: 28px;
}
.block-reviews .list-group-item [class^="icon-"]:before, 
.block-reviews [class*=" icon-"]:before {
  margin: 0;
  width: auto;
}

.block-reviews .list-group-item .text-danger {
  color: #cf4857;
  font-size: inherit;
}
.block-reviews .list-group-item .text-success {
  color: #16a89e;
  font-size: inherit;
}
.block-reviews .dtable {
  display: table;
  width: 100%;
}
.block-reviews .dtable .wr_price_big {
  position: static;
  margin: 0;
  height: auto;
  display: inline-block;
  float: none;
  min-width: 190px;
}
.block-reviews .dtable .wr_pack {
  position: static;
  margin: 0;
  height: auto;
  float: none;
  width: auto;
  margin-left: 10px;
  margin-right: -30px;
  display: inline-block;
}
.block-reviews .dtable-cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.block-reviews .dtable-text {
  display: inline-block;
  vertical-align: middle;
  color: #606060;
  font-size: 13px;
  line-height: 1;
  text-transform: none;
}
.block-reviews .block-reviews .visual-images-left-lg {
  margin-top: 30px;
}
.block-reviews .block-reviews .visual-text-lg p{
  margin: 22px 0;
}
.block-reviews .block-reviews .list-group-item-heading + small {
  display: block;
  font-size: 18px;
  color: inherit;
  padding-top: 35px;
  color: #16a89e;
}
.block-reviews .list-group-bg , 
.block-reviews .list-group-bg .list-group-item{
  background: #f8f8f8;
}
.block-reviews .compatibility-lg {
  font-size: 13px;
}
.block-reviews .row-pricing-panel .basic_wr .priceb, 
.block-reviews .row-pricing-panel .premium_wr .pricep{
  padding-bottom: 10px;
}
.block-reviews .row-pricing-panel .basic_wr .basic_h {
  font-size: 21px;
}
.block-reviews .row-pricing-panel .premium_wr .premium_h {
  font-size: 21px;
  position: relative;
  z-index: 2;
}
.block-reviews .row-pricing-panel .wr_price_big span {
  font-weight: normal;
}
.block-reviews .row-pricing-panel .priceb .list_price ul li {
  border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.block-reviews .row-pricing-panel .priceb .list_price ul li:hover{
  border-top-color: #d8f3f1;
    border-bottom-color: #d8f3f1;
    background: #fdfbf3;
}
.block-reviews .row-pricing-panel .priceb .list_price ul li .hover_label_radio {
  max-width: 210px;
  margin: auto;
}
.block-reviews .row-pricing-panel .priceb .list_price ul li .hover_label_radio:hover {
  border-color: transparent;
  background-color: transparent;
}
.block-reviews .row-pricing-panel .pricep .list_price ul li {
  border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.block-reviews .row-pricing-panel .pricep .list_price ul li:hover{
  border-top-color: #d8f3f1;
    border-bottom-color: #d8f3f1;
    background: #fdfbf3;
}

.block-reviews .pricep .list_price ul li .hover_label_radio {
  max-width: 210px;
  margin: auto;
}

.block-reviews .row-pricing-panel .pricep .list_price ul li .hover_label_radio:hover {
  border-color: transparent;
  background-color: transparent;
}
.block-reviews .icloud-box .priceb .list_price ul li:hover {
  background: #ebfcfa !important;
}

.block-reviews h2.list-group-item-heading {
  padding: 0;
  height: auto;
  min-height: 0;
  font-weight: 400;
}
.block-reviews .list-group-item .text-success {
  color: #16a89e;
}
.block-reviews .list-group-item .text-danger {
color: #cf4857;
}
.block-reviews .table_header-border {
  border: 1px solid #e8e8e8;
  background: transparent;
}
.block-reviews .table_header-border span:first-child {
  padding-top: 3px;
}
.block-reviews #block-promo-buy.block-promo-buy:before {
  background: #3f041b;
  opacity: 0.12;
}
.block-reviews #block-promo-buy.block-promo-buy .btn-default {
 background: #42778e;
}

.block-reviews .basic_wr .basic_fe .list_price-no-link li:hover, 
.block-reviews .premium_wr .premium_fe .list_price-no-link li:hover {
  color: #4e4d5b;
  font-size: 16px;
  cursor: default;
  line-height: 1;
  height: auto;
}
.block-reviews .basic_wr .basic_fe .list_price-no-link li, 
.block-reviews .premium_wr .premium_fe .list_price-no-link li {
  font-size: 16px;
  height: auto;
  line-height: 1;
  position: relative;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}
.block-reviews .basic_wr .basic_fe .list_price-no-link li i, 
.block-reviews .premium_wr .premium_fe .list_price-no-link li i {
  position: absolute;
  left: 5px;
  top: 8px;
}
.block-reviews .basic_wr .basic_fe .list_price-no-link li:hover > span, 
.block-reviews .premium_wr .premium_fe .list_price-no-link li:hover > span {
  color: #898989;
  cursor: default;
}
.block-reviews .basic_wr .basic_fe .list_price-no-link li > span, 
.block-reviews .premium_wr .premium_fe .list_price-no-link li > span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: #898989;
  line-height: 1.2;
}
.block-reviews .reset-list {
  margin: 0 !important;
}
.block-reviews .reset-list ul {
  margin: 0 !important;
  padding: 5%;
}
.block-reviews .basic_wr .basic_fe .list_price-no-link .feature_list {
  padding-left: 0;

}
.block-reviews .basic_wr .basic_fe .list_price-no-link .feature_list li {
  color: #898989;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 0;
}
.block-reviews .basic_wr .basic_fe .list_price-no-link .feature_list li:before {
  background: #ffba60;
  top: 4px;
  width: 6px;
  height: 6px;
}
.block-reviews .premium_wr .premium_fe .list_price-no-link .feature_list {
  padding-left: 0;

}
.block-reviews .premium_wr .premium_fe .list_price-no-link .feature_list li {
  color: #898989;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 0;
}
.block-reviews .premium_wr .premium_fe .list_price-no-link .feature_list li:before {
  background: #ffba60;
  top: 4px;
  width: 6px;
  height: 6px;
}
.block-reviews h2.text-success {
  color: #2cbdb3;
 font-size: 30px;
}
.block-reviews h2.text-warning {
  color: #f5ac43;
 font-size: 26px;
}
.block-reviews .text-transform-none {
  text-transform: none !important;
}
.block-reviews h3.text-warning {
  color: #f5ac43;
 font-size: 24px;
}
.block-reviews .prices-padding .basic_wr .priceb{
  padding-bottom: 10px;
}
.block-reviews .prices-padding .premium_wr .pricep{
  padding-bottom: 10px;
}
.block-reviews .coming_soon_block {
  text-transform: none;
  border-top: 1px solid #dddddd;
}
.block-reviews th .table_title {
  border-left: none;
  border-right: none;
}
.block-reviews .coming_soon_block ul {
  list-style: none;
  padding: 10px 0;
  display: inline-block;
  text-align: left;
  color: #898989;
  font-size: 15px;

}
.block-reviews .coming_soon_block ul li {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

}

.block-reviews .ico-skype, 
.block-reviews .ico-notes,
.block-reviews .ico-emails {
  background: none;
  width: 40px;
  text-align: center;
}
.block-reviews .ico-skype:before {
  content: '';
  display: inline-block;
  background: url(../../../images/sprite-icons-update.png) no-repeat;
  background-position: 0 -100px;
  width: 23px;
  height: 23px;
}
.block-reviews .ico-notes:before {
  content: '';
  display: inline-block;
  background: url(../../../images/sprite-icons-update.png) no-repeat;
  background-position: -25px -100px;
  width: 20px;
  height: 26px;
}
.block-reviews .ico-emails:before {
  content: '';
  display: inline-block;
  background: url(../../../images/sprite-icons-update.png) no-repeat;
  background-position: -50px -100px;
  width: 24px;
  height: 17px;
}
.block-reviews .coming_soon_block ul li b{
  font-size: 19px;
  color: #4d4f5b;
  min-width: 120px;
  font-weight: 400;
  display: inline-block;
}
.block-reviews .border-none {
  border: none !important;
}
.block-reviews .list_price-no-link-inline {
  display: inline-block;
  vertical-align: top;
}
.block-reviews .pricep.border-left {
  margin-left: -1px;
  border-left: 1px solid #dddddd;
}

.block-reviews .dtable-cell {
  padding: 20px 0;

}
.block-reviews .dtable {
  max-width: 280px;
  margin: auto;
}
.block-reviews .list-group {
  
}
.block-reviews .list-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block-reviews .w100 .dtable {
  max-width: 500px;
  margin: auto;
}
.block-reviews .basic_fe_mobile_block {
  display: block !important;
}
/*.dtable-cell:nth-child(1) {
  text-align: right;
}
.dtable-cell:nth-child(2) {
  text-align: left;
}*/
/*body {
  background: url(../../../images/test/page1.png) 50% 0 no-repeat;
  opacity: .7;
}*/
.block-reviews .column-relative {
  position: relative;
}
@media (min-width: 700px) {
  .block-reviews .column-relative > .table_title {
    position: absolute;
    top: 340px;
    left: 0;
    width: 100%;
    background: #fff;
  }
  .block-reviews .column-relative .basic_wr .list_price-no-link, 
  .block-reviews .column-relative .premium_wr .list_price-no-link{
    padding-top: 100px;
  }
  
}
@media (max-width: 700px) {
  .block-reviews .column-relative > .table_title {
    display: none;
  }
  .block-reviews .column-relative .basic_wr .list_price-no-link, 
  .block-reviews .column-relative .premium_wr .list_price-no-link{
    padding-top: 0;
  }
  .block-reviews .column-relative .basic_fe, 
  .block-reviews .column-relative .premium_fe {
    display: block !important;
  }
  .block-reviews .basic_wr .basic_fe .list_price-no-link .feature_list, 
  .block-reviews .premium_wr .premium_fe .list_price-no-link .feature_list {
    display: none;
  }
  
}
.block-reviews .dtable-cell.text-center {
  text-align: center !important;
}
.block-reviews .list-group-item .icon-cancel:before {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 400px) {
    
    .block-reviews .dtable-cell .wr_price_big span {
      display: inline-block;
      vertical-align: bottom;
    }
}
@media only screen and (max-width: 768px) {
    
    .block-reviews .list-group-item-heading  {
      min-height: 37px;
      height: auto;
    }
}
@media only screen and (max-width: 980px) {
    .block-reviews .visual-text.text-right {
    text-align: center;
    }
    .block-reviews .text-promo-buy.text-promo-sm {
      text-align: center;
    }
    .block-reviews .btn-text-sm {
      padding-top: 2px;
    }
   
}
@media only screen and (max-width: 1200px) {
    /*.row-pricing-panel .wr_price_big span {
      display: block;
    }*/
    .block-reviews .border-right-sm {
      border-right: 1px solid #dddddd;
    }
    .block-reviews .pricep.border-left {
      border-left: none;
    }
    .block-reviews .row-pricing-panel .basic_wr .priceb, 
    .block-reviews .row-pricing-panel .premium_wr .pricep {
      border-left: 1px solid #dddddd;
    }
    .block-reviews .list-group-box .list-group{
      float: none;
      width: auto;
    }
    .block-reviews .list_price-no-link-inline {
      display: block;
    }
    .block-reviews .row-pricing-panel .premium_wr, 
    .block-reviews .row-pricing-panel .basic_wr {
      width: 100% !important;
      float: none !important;
    }
    .block-reviews .list-group-box .list-group+.list-group .list-group-item {
      border-left: 1px solid #dddddd;
    }
}

.block-reviews .list-group .wr_price_big  curr, 
.block-reviews .dtable .wr_price_big  curr {
  text-indent: -8px;
  display: inline-block;
}
.block-reviews .column-relative.basic_wr {
  float: none;
  width: 100%;
}
.block-reviews .column-relative .column-relative {
  display: none;
}
@media only screen and (max-width: 700px) {
  .block-reviews .column-relative .column-relative {
    display: block;
  }
}

.block-reviews .column-relative > .table_title_second {
  top: 1726px;
  z-index: 2;
}
.block-reviews .hidden-media-box {

}
.block-reviews .pricep .list_price ul li {
  margin: auto;
}
@media only screen and (max-width: 700px) {
  .block-reviews .hidden-media-box {
    display: none;
  }
  .block-reviews .coming_soon_block ul li span  {
    padding-top: 3px;
    overflow: hidden;
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .block-reviews .basic_wr .basic_fe .list_price-no-link > li > span, 
  .block-reviews .premium_wr .premium_fe .list_price-no-link li > span {
    display: none;
  }
  /*.basic_fe_mobile_block .list_price-no-link > li > span, .basic_fe_mobile_block .list_price-no-link li > span {
    display: block !important;
  }*/
}

.block-reviews .padding-reset {
  padding-top: 0 !important;
}
.block-reviews .h2-sm {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 26px !important;
}
.block-reviews .visible-sm-box {
  display: none;
}
@media only screen and (max-width: 700px){
  .block-reviews .bb-media-sm {
    border-bottom: 1px solid #e8e8e8;
  }
  .block-reviews .visible-sm-box {
    display: block !important;
  }
  .block-reviews .border-none-sm {
    border: none !important;
  }
  .block-reviews .basic_wr .basic_fe .list_price-no-link .feature_list {
    padding-bottom: 0 !important;
  }
  .block-reviews .premium_wr .premium_fe .list_price-no-link .feature_list {
    padding-bottom: 0 !important;
  }
  .block-reviews .media-sm-block {
    display: block !important;
    padding: 2% 5% !important;
  }
  .block-reviews .list_price-no-link {
    padding: 0 !important;
  }
  .block-reviews .coming_soon_block ul li b {
    float: left;
  }
  .block-reviews .basic_wr.span-list-block .basic_fe .list_price-no-link > li > span, 
  .block-reviews .premium_wr.span-list-block .premium_fe .list_price-no-link li > span {
    display: block !important;
  }
  .block-reviews .padding-none-list + .padding-none-list {
    margin-top: -30px;
  }
  .block-reviews .padding-none-list-sm + .padding-none-list-sm {
    margin-top: -12px;
  }
}
/*.border-none{
  border: none;
}*/
.block-reviews .row-pricing-panel .priceb .list_price ul, 
.block-reviews .row-pricing-panel .pricep .list_price ul {
  margin-bottom: 10px;
  padding: 0;
  margin-left: 0;
}
.block-reviews .priceb .list_price ul li {
  margin: auto;
}

.block-reviews .row-pricing-panel .basic_wr + .premium_wr .premium_h {
  border-right: 1px solid #41a9a0;
}


/*old css*/
.block-reviews .table_header span:first-child {
  padding: 0;
  vertical-align: middle;
}
.block-reviews .border-left {
  border-left: 1px solid #dddddd;
}
.block-reviews .premium_wr , 
.block-reviews .basic_wr{
  width: 50%;
}
.block-reviews .bg_bottom_images .visual-img-pc {
  bottom: -1px;
}
.block-reviews .box-bottom-images .banner-header {
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .block-reviews .premium_wr , 
  .block-reviews .basic_wr{
    width: 100%;
  }
  .block-reviews .basic_wr .basic_fe .list_price-no-link li, 
  .block-reviews .premium_wr .premium_fe .list_price-no-link li {
    padding-left: 50px;
  }
  .block-reviews .basic_wr .basic_fe .list_price-no-link li i, 
  .block-reviews .premium_wr .premium_fe .list_price-no-link li i {
    left: 20px;
  }
}
.block-reviews .table_header span:first-child {
  text-transform: none;
}