.ie9 #link-fly-features, 
.ie9 #link-fly-features:hover, 
.ie9 .box-features-header-item div > a:hover, 
.ie9 .i-l-features a:hover {
    text-decoration: none;
}

.ie9 .fly-features-v2 #fly_features {
    padding: 9px;
}

.ie9 #fly_features {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/fly_features/bg_fly_features.png");
    background-repeat: no-repeat;
    background-size: scroll;
    background-position: 0 0;
    -moz-border-radius: 5px 5px; 
    border-radius: 5px 5px;
    bottom: 0;
    color: #fff;
    display: none;
    height: 156px;
    padding: 10px;
    position: fixed;
    _position: expression(fixed);
    right: 0;
    width: 207px;
    z-index: 999;
}

.ie9 .fly-features-v1 h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    line-height: 23px;
    margin: 0 0 7px 4px;
    text-align: left;
}
.ie9 .fly-features-v2 h2 {
    color: #f7efa5;
    font-size: 24px;
    line-height: 1em;
}

/* ============== // store ============= */

.ie9 .tb_pricing {
  color: #4d4f5b;
  position: relative;
  width: 100%;
}

.ie9 .tb_pricing:first-child,
.ie9 form > table.pricing-second {
  margin: 0;
}

.ie9 .tb_pricing:first-child:before,
.ie9 form > table.pricing-second:before {
  content: "";
  display: block;
  position: absolute;
  top: 185px;
  left: -80px;
  width: 72px;
  height: 475px;
  
}

@media only screen and (max-width: 991px) {
  .ie9 .tb_pricing:first-child:before,
  .ie9 form > table.pricing-second:before {
    display: none;
  }
}

.ie9 .tb_pricing:first-child:after,
.ie9 form > table.pricing-second:after {
  content: "";
  display: block;
  position: absolute;
  top: 185px;
  right: -82px;
  width: 74px;
  height: 774px;
  
}

@media only screen and (max-width: 991px) {
  .ie9 .tb_pricing:first-child:after,
  .ie9 form > table.pricing-second:after {
    display: none;
  }
}

.ie9 .tb_pricing thead tr th {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border:0px !important;
  border-color: transparent;
}

@media only screen and (max-width: 480px) {
  .ie9 .tb_pricing thead tr th {
    min-width: 56px;
    padding: 0px;
  }
}

.ie9 .tb_pricing thead tr th:first-child {
  font-size: 21px;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .ie9 .tb_pricing thead tr th:first-child {
    font-size: 16px;
  }
}

.ie9 .tb_pricing thead tr th i {
  color: #cecece;
  font-size: 21px;
  margin-right: 5px;
}
@media only screen and (max-width: 991px) {
  .ie9 .tb_pricing thead tr th i {
    margin: 0;
  }
}

.ie9 .tb_pricing thead tr th span span {
  font-size: 16px;
}

.ie9 .tb_pricing tbody tr td {
  color: #868686;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  padding: 0 8px;
  height: 35px;
  width: 200px;
}

.ie9 .tb_pricing tbody tr td:first-child {
  font-size: 14px;
  text-align: right;
}

.ie9 .tb_pricing tbody tr td i.icon-cancel {
  font-size: 20px;
  min-width: 0;
}

.ie9 .tb_pricing tbody tr td i.icon-cancel:before {
  margin: 0;
}

.ie9 .tb_pricing tfoot tr td {
  padding: 0 !important;
  width: auto;
  border: none;
  line-height: 0;
}

.ie9 .tb_pricing tfoot tr td:first-child {
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .ie9 .tb_pricing tfoot tr td {
    padding: 8px 16px !important;
  }
}

.ie9 .tb_pricing tfoot tr td > * {
  display: table-cell;
  vertical-align: middle;
  line-height: 1;
  padding: 0 12px;
}

@media only screen and (max-width: 991px) {
  .ie9 .tb_pricing tfoot tr td > * {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.ie9 .tb_pricing tfoot tr td .label_inline {
  width: 450px;
  padding-right: 0 !important;
}

.ie9 .tb_pricing tfoot tr td h4 {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  width: 123px;
  color: #16a89e;
  text-transform: uppercase;
  line-height: 1;
}

@media only screen and (max-width: 480px) {
  .ie9 .tb_pricing tfoot tr td h4 {
    margin-right: 0;
  }
}

.ie9 .tb_pricing tfoot tr td .select_row {
  padding: 0 !important;
}

.ie9 .tb_pricing tfoot tr td button {
  display: inline-block !important;
}

@media only screen and (max-width: 1175px) {
  .ie9 .tb_pricing tfoot tr td button {
     margin-top: 10px;
  }
}

.ie9 .tb_pricing  .refund_10,
.ie9 .tb_pricing .refund_new_11 {
    position: absolute;
    width:100%;
    top:527px;
    height: 36px;
    background-color:#4d4f5b; 
}

.ie9 .tb_pricing .refund_new_11{ 
    top: 566px;
}

.ie9 .tb_pricing .support_os,
.ie9 .tb_pricing .support_new_os {
    position: absolute;
    width:100%;
    top:562px;
    height: 40px;
    background-color:#f0f0f0; 
}

.ie9 .tb_pricing .support_new_os {
    top: 603px;
}

.ie9 .basic_wr{
    width:49.99%;
    background: #ffffff;
    color:#606060;
    float:left;
}

.ie9 .premium_wr{
    width:49.99%;
    background: #f9f7ee;
    color:#606060;
    float:left;
}

.ie9 .wr_price_big{
    float: left;
    position: relative;
    margin-top: 35px;
    color:#606060;
    font-size: 36px;
    font-weight: bold;

}
.ie9 .wr_price_big span{
    font-size: 14px;
    text-transform: none;
}

.ie9 .show_premium_features, 
.ie9 .show_basic_features{
   display:none;
   width:100%;
    
}

.ie9 .refund_10 .wr_refund,
.ie9 .refund_new_11 .wr_refund {
    margin: 0 auto;
    color:#fff;
    position: relative;
}

.ie9 .refund_10 .wr_refund .day10,
.ie9 .refund_new_11 .wr_refund .day10 {
    color:#f4ad43;
    font-size:22px;
    font-weight:bold;
    line-height: 36px;
    position: relative;
}

.ie9 .refund_10 .wr_refund .d_green,
.ie9 .refund_new_11 .wr_refund .d_green {
    color:#2ebcb0;
    font-weight:normal;
}

.ie9 .refund_10 .wr_support_os,
.ie9 .refund_new_11 .wr_support_os {
    margin: 0 auto;
    color:#fff;
}

.ie9 .support_os .wr_support_os,
.ie9 .support_new_os .wr_support_new_os{
    color:#898989;
    font-size:15px;
    font-weight:bold;
    line-height: 36px;
}

.ie9 .support_os .wr_support_os .d_green,
.ie9 .support_new_os .wr_support_new_os .d_green {
    color:#2ebcb0;
    font-weight:normal;
    font-size:18px; 
}

.ie9 .basic_wr .basic_h{
    width:100%;
    background: #4d4f5b;
    color:#5cbab2;
    line-height:34px; 
    height:34px;
    clear: both;
}

.ie9 .premium_wr .premium_h{
    width:100%;
    background: #2cbdb3;
    color:#fff;
    line-height:34px; 
    height:34px;
   clear: both;
}

.ie9 .basic_wr .priceb{
    width:100%;
    color:#5cbab2;
    line-height:34px; 
    clear: both;
    border-right:1px solid #dddddd;
    content: "";
    height: auto;
}

.ie9 .premium_wr .pricep{
    width:100%;
    color:#fff;
    line-height:34px; 
    clear: both;
    content: "";
    height: auto;
}

.ie9 .wr_pack{
    margin:15px 0 0 20%;
    width:85px;
    height:79px;
    float:left;
}

.ie9 .list_price{
    width:100%;
    clear:both;
}

.ie9 .priceb .list_price ul{
    list-style-type: none;
    margin-left: 4%;
}

.ie9 .priceb .list_price ul li{
    width: 84%;
    height:38px;
    line-height: 38px;
}

.ie9 .pricep .list_price ul{
    list-style-type: none;
    margin-left: 4%;
}

.ie9 .pricep .list_price ul li{
    width: 84%;
    height: 38px;
    line-height: 38px;
}

.ie9 .priceb .list_price ul li,
.ie9 .pricep .list_price ul li {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.ie9 .label_radio .sp {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    float:left;
    text-transform: none;
   
}

.ie9 .priceb .list_price ul li:hover,
.ie9 .pricep .list_price ul li:hover {
    background: #fdfbf3;
    border-bottom-color: #d8f3f1;
    border-top-color: #d8f3f1;
}

.ie9 .label_radio .sp_price{
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    float:right;
    text-transform: none;
}

.ie9 .label_radio .sp strong{
    font-size: 18px;
}

.ie9 .label_radio .sp_price strong{
    font-size: 18px;
}

.ie9 .basic_wr .basic_fe{
    margin-top:110px;
    width:100%;
}

.ie9 .basic_wr .basic_fe ul{
    list-style-type: none;
    margin: 5%;
}

.ie9 .basic_wr .basic_fe ul li{
    list-style-type: none;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    color:#4e4d5b;
    line-height: 22px;
    height:32px;
    overflow: hidden;
}

.ie9 .basic_wr .basic_fe ul li div{
    display: inline;
}

.ie9 .basic_wr .basic_fe ul li span{
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    color:#4d4f5b;
}

.ie9 .basic_wr .basic_fe ul li:hover{
    list-style-type: none;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    color:#2cbdb3;
    cursor: pointer;
    line-height: 22px;
    height:32px;
    overflow: hidden;
}

.ie9 .basic_wr .basic_fe ul li:hover > span {
    color:#2cbdb3;
    cursor: pointer;
}

.ie9 .basic_wr .icon-ok{
    font-size: 13px !important;
}

.ie9 .basic_wr .icon-cancel{
    font-size: 15px !important;
}

.ie9 .premium_wr .premium_fe{
    margin-top:110px;
    width:100%;
}

.ie9 .premium_wr .premium_fe ul{
    list-style-type: none;
    margin: 5%;
}

.ie9 .premium_wr .premium_fe ul li{
    list-style-type: none;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    color:#4d4f5b;
    line-height: 22px;
    height:32px;
    overflow: hidden;
}

.ie9 .premium_wr .premium_fe ul li div{
    display: inline;
}

.ie9 .premium_wr .premium_fe ul li span{
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    color:#4d4f5b;
}

.ie9 .premium_wr .premium_fe ul li:hover{
    list-style-type: none;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    color:#2cbdb3;
    cursor: pointer;
    line-height: 22px;
    height:32px;    
}

.ie9 .premium_wr .premium_fe ul li:hover > span {
    color:#2cbdb3;
    cursor: pointer;
}

.ie9 .premium_wr .icon-ok{
    font-size: 13px !important;
}

.ie9 .premium_wr .icon-cancel{
    font-size: 15px !important;
}

.ie9 .space_line{
    content:"";
    line-height:14px;
    height:14px;
}

.ie9 .show_premium_features a{
    text-transform:none;
    color: #2ebcb0;
    font-size: 14px;
    font-weight: normal;    
}

.ie9 .show_premium_features a:hover{
    text-transform:underline;
    color: #2ebcb0;
    font-size: 14px;
    font-weight: normal;    
}

.ie9 .show_basic_features a{
    text-transform:none;
    color: #2ebcb0;
    font-size: 14px;
    font-weight: normal;
    
}

.ie9 .show_basic_features a:hover{
    text-transform:underline;
    color: #2ebcb0;
    font-size: 14px;
    font-weight: normal;
}

.ie9 .circle_ico2 {
    background: url(../images/info.png);
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 42px;
    margin-right: 5px;
    vertical-align: middle;
}

.ie9 .link_circle_italic2 {
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-style: italic;
  text-align: center;
}

.ie9 .style-links2 {
    color: #16a89e;
    font-weight: 600;
}

.ie9 .tb_pricing .tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 1;
  filter: alpha(opacity=1);
}

.ie9 .tb_pricing .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=1);
}

.ie9 .tb_pricing .tooltip.top {
  margin-top: 0px;
  padding: 5px 0;
}

.ie9 .tb_pricing .tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.ie9 .tb_pricing .tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.ie9 .tb_pricing .tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.ie9 .tb_pricing .tooltip-inner {
  max-width: 250px;
  padding: 3px 8px;
  color: #868686;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size:13px;
  text-align: center;
  text-decoration: none;
  background-color: #fdfbf3;
  border-radius: 4px;
  border:1px solid #cecece;
  text-transform: none !important;
}

.ie9 .tb_pricing .tooltip-arrow, 
.ie9 .tb_pricing .tooltip-arrow:after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.ie9 .tb_pricing .tooltip-arrow {
  border-width: 11px;
}

.ie9 .tb_pricing .tooltip-arrow:after {
  border-width: 10px;
  content: "";
}

.ie9 .tb_pricing .tooltip.top .tooltip-arrow {
  left: 10%;
  margin-left: -11px;
  border-bottom-width: -1px;
  border-top-color: #cecece;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: 0px;
}

.ie9 .tb_pricing .tooltip.top .tooltip-arrow:after{
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fdfbf3;
}

.ie9 .tb_pricing .tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #f8f8f8;
}

.ie9 .tb_pricing .tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #f8f8f8;
}

.ie9 .tb_pricing .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #f8f8f8;
}

.ie9 .tb_pricing .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #f8f8f8;
}

.ie9 .tb_pricing .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f8f8f8;
}

.ie9 .tb_pricing .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f8f8f8;
}

.ie9 .tb_pricing .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f8f8f8;
}

@media only screen and (max-width: 1200px) {
    .ie9 .tb_pricing  .refund_10,
    .ie9 .tb_pricing  .refund_new_11 {
        position: absolute;
        width:100%;
        top:545px; 
        height: 36px;
        background-color:#4d4f5b; 
    }

    .ie9 .tb_pricing  .refund_new_11 { 
        top: 584px;
    }
    .ie9 .tb_pricing .support_os,
    .ie9 .tb_pricing .support_new_os {
        position: absolute;
        width:100%;
        top:580px; 
        height: 40px;
        background-color:#f0f0f0; 
    }

    .ie9 .tb_pricing .support_new_os { 
        top: 620px;
    }

    .ie9 .basic_wr .basic_fe,
    .ie9 .premium_wr .premium_fe {
        margin-top:110px;
        width:100%;
    }
        
}


@media only screen and (max-width: 1157px) {
    .ie9 .tb_pricing .refund_10,
    .ie9 .tb_pricing .refund_new_11 {
        position: absolute;
        width:100%;
        top:545px;
        height: 36px;
        background-color:#4d4f5b; 
    }
    
    .ie9 .tb_pricing  .refund_new_11 { 
        top: 584px;
    }
    
    .ie9 .tb_pricing .support_os,
    .ie9 .tb_pricing .support_new_os {
        position: absolute;
        width:100%;
        top:580px;
        height: 40px;
        background-color:#f0f0f0; 
    }
    
    .ie9 .tb_pricing .support_new_os { 
        top: 619px;
    }
    
    .ie9 .basic_wr .basic_fe,
    .ie9 .premium_wr .premium_fe {
        margin-top:110px;
        width:100%;

    }
}
@media only screen and (max-width: 991px) {
    .ie9 .prevent-online-dangers .visual-text {
        text-align: center;
    }
    
    .ie9 .tb_pricing  .refund_10,
    .ie9 .tb_pricing  .refund_new_11 {
        position: absolute;
        width:100%;
        top:539px;
        height: 36px;
        background-color:#4d4f5b; 
    }
    
    .ie9 .tb_pricing  .refund_new_11 { 
        top: 575px;
    }
    
    .ie9 .tb_pricing .support_os,
    .ie9 .tb_pricing .support_new_os{ 
        position: absolute;
        width:100%;
        top:575px;
        height: 40px;
        background-color:#f0f0f0; 
    }
    
    .ie9 .tb_pricing .support_new_os{ 
        top: 611px;
    }
}
@media only screen and (max-width: 710px) {
    .ie9 .tb_pricing  .refund_10,
    .ie9 .tb_pricing  .refund_new_11{
        position: absolute;
        width:100%;
        top:536px;
        height: 36px;
        background-color:#4d4f5b; 
    }
    
    .ie9 .tb_pricing  .refund_new_11 {
        top: 575px; 
    }
    
    .ie9 .tb_pricing .support_os,
    .ie9 .tb_pricing .support_new_os {
        position: absolute;
        width:100%;
        top:572px;
        height: 40px;
        background-color:#f0f0f0; 
    }
    
    .ie9 .tb_pricing .support_new_os { 
        top: 611px;
    }
    
    .ie9 .basic_wr .basic_fe,
    .ie9 .premium_wr .premium_fe {
        margin-top:110px;
        width:100%;

    }
      
}
@media only screen and (max-width: 400px){
        .ie9 .wr_price_big span {
            display: block;
            clear: both;
            font-size: 13px;
            text-align: right;
            vertical-align: top;
            line-height: 15px;
           
        }
}
@media only screen and (max-width: 700px) {
     
    .ie9 .basic_wr,
    .ie9 .premium_wr {
        width:100%;
        background: #ffffff;
        color:#606060;

        float:left;
    }
    .ie9 .premium_wr {
        background: #f9f7ee;
    }
    
    .ie9 .wr_price_big {
        color: #606060;
        float: left;
        font-size: 30px;
        font-weight: bold;
        height: 79px;
        margin: 25px 0 0 50%;
        position: absolute;

    }

    .ie9 .tb_pricing  .refund_10,
    .ie9 .tb_pricing .support_os,
    .ie9 .tb_pricing  .refund_new_11,
    .ie9 .tb_pricing .support_new_os,
    .ie9 #foot_h1, 
    .ie9 #foot_h2, 
    .ie9 #foot_h3, 
    .ie9 #foot_h4,
    .ie9 .basic_fe, 
    .ie9 .premium_fe{
        display:none;
    }
    
    .ie9 .show_premium_features, 
    .ie9 .show_basic_features{
       display:block;
       width:100%;
    }
} 

.ie9 .basic_wr .priceb > div.price-main {
    position: relative;
}

.ie9 .protected_lk_text { 
    color: #afb0b7;
    font-size: 10px;
    font-weight: lighter;
    left: 0;
    line-height: 10px;
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    right: 0;
    top: 5px;
}

@media only screen and (max-width: 480px) {
    .ie9 .protected_lk_text { 
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 40px;
    }
}
@media (min-width: 468px) {
    .ie9 .protected_lk_text { 
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 40px;
    }
}
@media (min-width: 768px) {
    .ie9 .protected_lk_text { 
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
}
@media (min-width: 992px) { 
    .ie9 .protected_lk_text { 
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
}
@media (min-width: 1200px) {
    .ie9 .protected_lk_text { 
        position: absolute;
        top: 5px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0px;
    }
}

.ie9 .wr_price_big {
    color: #606060;
    float: left;
    font-size: 36px;
    font-weight: 700;
    margin-top: 35px;
    position: relative;
}

.ie9 .box-currence,
.ie9 div.symbol {
    display: inline;
}

.ie9 div.curr {
    display: inline-block;
}

.ie9 .wr_price_big span {
    font-size: 14px;
    text-transform: none;
}

/* ============== // all23032015 ========== */
.ie9 .box-plans-package {
    position: relative;
}
 
.ie9 .box-plans-package:first-child { 
    border-left: 1px solid #d8f3f1; 
}
.ie9 .box-plans-package {
    border-top: 1px solid #d8f3f1;
    border-bottom: 1px solid #d8f3f1;
}

.ie9 #list-plans-premium-package {
    background: #fffefb;
}
.ie9 #list-plans-basic-package {
   background: #f9f7ee; 
}

.ie9 #list-plans-basic-package,
.ie9 #list-plans-premium-package {
    display: inline-block;
    width: 100%;
}

.ie9 #list-plans-basic-package > section,
.ie9 #list-plans-premium-package > section {
    max-width: 280px;
    margin: 0 auto;
    padding: 6px;
}

.ie9 #list-plans-premium-package > section.full {
    max-width: 310px;
    padding: 11px 6px 12px 6px;
}

.ie9 #list-plans-premium-package > section.full { 
    padding: 11px 6px 11px 6px
}

.ie9 #list-plans-premium-package > section.full .list-plans i {
    float: none;
}

.ie9 .box-small-package {
    width: 47px;
    padding-left: 5px;
    vertical-align: middle;
}

.ie9 .small_package {
    position: relative;
}

.ie9 .plan-header-premium {
    display: inline-block;
    background: url('../images/plans/header_premium.png') no-repeat;
    width: 105px;
    height: 31px;
}

.ie9 .banner-header-package p {
    margin-bottom: 0px;
}
.ie9 .banner-header-package p:last-child {
    font-size: 14px;
    line-height: 1.1em;
}

.ie9 .banner-header-package button {
    top: 10px;
    position: relative;
}

@media only screen and (max-width: 992px) { 
    .ie9 .banner-header-package button { 
        top: 0px;
    }
}


.ie9 .label_radio .sp,
.ie9 .label_radio .sp_price, 
.ie9 .box-small-package {
    float: none !important;
    display: inline-block !important;
}
.ie9 .label_radio .sp {
    width: 76px;
}
.ie9 .label_radio .sp_price {
    width: 70px;
}

.ie9 .coming-soon-icons {
    margin: 0 15px !important;
    display: inline-block;
    width: 27px;
    height: 26px;
    position: relative;
    top: 3px;
}

.ie9 .coming_soon_block ul li span {
    display: inline;
    text-align: left;
}

@media only screen and (max-width: 768px) { 
    .ie9 .coming_soon_block ul li span  {
        padding-top: 3px;
        overflow: hidden;
        display: block;
        text-align: center;
      }
}

.ie9 .box-table, 
.ie9 .div-table {
    display: table;
}

.ie9 .table-rows {
    display: table-row;
}

.ie9 .mt15 {
    margin-top: 15px;
}

.ie9 #list-plans-basic-package, 
.ie9 #list-plans-premium-package {
    display: inline-block;
    width: 100%;
}
.ie9 #list-plans-basic-package {
    background: #f9f7ee none repeat scroll 0 0;
}
.ie9 .box-plans-package {
    border-bottom: 1px solid #d8f3f1;
    border-top: 1px solid #d8f3f1;
    position: relative;
}

.ie9 #list-plans-basic-package > section, 
.ie9 #list-plans-premium-package > section {
    margin: 0 auto;
    max-width: 280px;
    padding: 6px;
}

.ie9 .list-plans .item-plan:first-child {
    margin-right: 0;
}

.ie9 .list-plans .item-plan {
    display: table-cell;
    float: left;
    padding: 0;
    vertical-align: middle;
}

.ie9 .tb_pricing thead tr th i {
    color: #cecece;
    font-size: 21px;
    margin-right: 5px;
}

.ie9 .list-plans i {
    float: right;
}
.ie9 .i-price-plans-big-basic {
    background: rgba(0, 0, 0, 0) url("../images/plans/basic_plan_packets.png") no-repeat scroll 0 0;
}

.ie9 .i-price-plans-big-premium {
    background: rgba(0, 0, 0, 0) url("../images/plans/premium_plan_packets.png") no-repeat scroll 0 0;
}

.ie9 [class*="i-price-plans-big-"], 
.ie9 [class^="i-price-plans-big-"] {
    height: 35px;
    position: relative;
    width: 112px;
}

.ie9 [class*="i-price-plans-big-"], 
.ie9 [class^="i-price-plans-big-"] {
    height: 35px;
    position: relative;
    width: 112px;
}

.ie9 [class*="i-price-plans-small-"], 
.ie9 [class*="i-price-plans-big-"], 
.ie9 [class^="i-price-plans-small-"], 
.ie9 [class^="i-price-plans-big-"] {
    display: block;
}

.ie9 [class*="i-price-plans-small-"], 
.ie9 [class*="i-price-plans-big-"], 
.ie9 [class^="i-price-plans-small-"], 
.ie9 [class^="i-price-plans-big-"] {
    display: block;
}

.ie9 .list-plans .item-plan:last-child {
    text-align: left;
}
.ie9 .list-plans .item-plan {
    float: none;
    padding: 0;
    vertical-align: middle;
}

.ie9 .list-plans p {
    color: #606060;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1em;
    margin-bottom: 0;
    text-transform: none;
}
.ie9 div.blockquate_bottom, 
.ie9 p {
    margin-bottom: 15px;
}

.ie9 .text-red {
    color: #cf4857;
}

/* ================ // recommended-by ============== */

.ie9 .main-recommended .item {
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 28px;
}  

.ie9 .main-recommended .member-of {
    margin-right: 15px;
}

.ie9 .main-recommended .item:last-child {
    margin-right: 0px;
}

.ie9 .main-recommended .item img {
    vertical-align: middle;
}

.ie9 .main-recommended .item > attr {
    display: inline-block;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .ie9 .main-recommended .item { 
        margin-top: 10px;
        margin-right: 0px;
        width: 100%;
    }
    
    .ie9 .main-recommended .row-item {
        display: inline-block;
        width: 100%;
        padding: 0px 15px;
        margin-top: 10px;
        margin-right: 0px;
    }
    
    .ie9 .main-recommended .row-item > .item {
        width: 25%;
        float: left;
        margin-top: 0px;
    }
}

@media (min-width: 468px) { 
    .ie9 .main-recommended .item { 
        margin-top: 10px;
        margin-right: 0px;
        width: 100%;
    }
    
    .ie9 .main-recommended .row-item {
        display: inline-block;
        width: 100%;
        padding: 0px 15px;
        margin-top: 10px;
        margin-right: 0px;
    }
    
    .main-recommended .row-item > .item {
        width: 25%;
        float: left;
        margin-top: 0px;
    }
    
}

@media (min-width: 768px) {
    
    .ie9 .main-recommended .item { 
        margin-top: 10px;
        margin-right: 0px;
        width: 100%;
    }
    
    .ie9 .main-recommended .row-item {
        display: inline-block;
        width: 100%;
        padding: 0px 15px;
        margin-top: 10px;
        margin-right: 0px;
    }
    
    .ie9 .main-recommended .row-item > .item {
        width: 25%;
        float: left;
        margin-top: 0px;
    }
    
    
}
@media (min-width: 992px) {
    
    .ie9 .main-recommended .item { 
        margin-top: 0px;
        margin-right: 10px;
        width: auto;
    }
    
    .ie9 .main-recommended .row-item {
        display: inline-block;
        width: auto;
        padding: 0px;
        margin-top: 0px;
        margin-right: 28px;
    }
    
    .ie9 .main-recommended .row-item > .item {
        width: auto;
        float: none;
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {
    
    .ie9 .main-recommended .item { 
        margin-top: 0px;
        margin-right: 28px;
        width: auto;
    }
    .ie9 .main-recommended .member-of {
        margin-right: 15px;
    }
    
    .ie9 .main-recommended .row-item {
        display: inline-block;
        width: auto;
        padding: 0px;
        margin-top: 0px;
        margin-right: 28px;
    }
    
    .ie9 .main-recommended .row-item > .item {
        width: auto;
        float: none;
        margin-top: 0px;
    }
    
}

/* ================ // small banner =============== */

.ie9 .demo-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 79px;
    text-align: center;
    margin-bottom: 10px;
    background: url(../images/demo-banner/bg-lg.png) 0 0 no-repeat #286594;
}

.ie9 .demo-banner .banner-phone {
    display: none;
    vertical-align: middle;
    margin-right: 20px;
    width: 228px;
    height: 79px;
    background: url(../images/demo-banner/phone.png) 0 0 no-repeat;
}

.ie9 .demo-banner .banner-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    margin-right: 20px;
    height: 79px;
}

.ie9 .demo-banner .banner-text span {
    display: block;
    line-height: 26px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 26px;
    margin: 14px 0 5px 0;
}

.ie9 .demo-banner .banner-text ul {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.ie9 .demo-banner .banner-text ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    line-height: 11px;
}

.ie9 .demo-banner .banner-arrow {
    display: none;
    vertical-align: middle;
    margin-right: 20px;
    width: 69px;
    height: 79px;
    background: url(../images/demo-banner/arrow.png) 0 50% no-repeat;
}

.ie9 .demo-banner .banner-btn {
    border-radius: 4px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    background-color: #cf4757;
    color: white;
    text-shadow: 0 1px 0 rgba(186, 120, 26, 0.4);
    padding: 8px 16px;
    display: inline-block;
}

.ie9 .demo-banner .banner-btn:hover, 
.ie9 .demo-banner .banner-btn:focus, 
.ie9 .demo-banner .banner-btn:active {
    color: white;
    background-color: #d45b69;
    text-decoration: none;
}

.ie9 .demo-banner .button-holder {
    display: inline-block;
}

.ie9 .demo-banner .button-holder .btn {
    min-width: 0;
}

.ie9 .mobile-operations-banner {
    padding: 13px;
    margin-bottom: 0px;
    height: 123px;
    background: url(../images/bg-banner-small-mobile-operators.png) no-repeat;
    background-size: 100% 100%;
}
.ie9 .mobile-operations-banner .banner-phone {
    width: 224px;
    height: 102px;
    background: url(../images/banner-operations.png) no-repeat;
}

.ie9 .mobile-operations-banner i.icon-android, 
.ie9 .mobile-operations-banner i.icon-apple {
    position: relative;
    top: 1px;
    font-size: 16px;
}

@media (min-width: 1200px) {
    .ie9 .demo-banner .banner-phone {
        display: inline-block;
    }
}

@media (min-width: 800px) {
    .ie9 .demo-banner .banner-arrow {
        display: inline-block;
    }
}

@media (max-width: 640px) {
    .ie9 .demo-banner {
        height: 150px;
        background: url(../images/demo-banner/bg-xs.png) 0 0 no-repeat #398fa7;
    }

    .ie9 .demo-banner .button-holder {
        margin-top: 10px;
        display: block;
    }

    .ie9 .demo-banner .banner-text {
        margin: 0;
    }
    
    .ie9 .mobile-operations-banner { 
        background: url(../images/bg-banner-small-mobile-operators.png);
        background-size: 100% 100%;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .ie9 .demo-banner .banner-text span {
        font-size: 20px;
    }
}

.ie9 .breadcrumbs a:hover { text-decoration: none; }
.ie9 .breadcrumbs div.h4, 
.ie9 .breadcrumbs h3,
.ie9 .breadcrumbs h1.h3 {
    display: inline-block;
}
.ie9 .breadcrumbs div.h4 {
    
}
.ie9 .breadcrumbs div.h4 span {
    margin: 0px;
    color: #16a89e;
}

.ie9 .visual{
    background: url(../images/bg-visual.jpg) 50% 0 repeat-x #6e9c99;
}
