# denied Access
Order allow,deny
allow from all
Deny from 49.199.27.18
Deny from 49.199.31.93
Deny from 49.183.190.197
Deny from 54.186.60.77
 
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?semalt\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?buttons\-for\-website\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?buttons\-for\-your\-website\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?best\-seo\-solution\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?best\-seo\-offer\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?blackhatworth\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?7makemoneyonline\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?ilovevitaly\.(com|co|ru|ro).*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?priceg\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?prodvigator\.ua.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?resellerclub\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?savetubevideo\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?screentoolkit\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?kambasoft.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?socialseet.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?superiends.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?vodkoved.ru.*$ [NC,OR]

RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?o\-o\-8\-o\-o\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?iskalko\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?luxup\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?myftpupload\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?websocial\.me.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?ykecwqlixx\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?slftsdybbg\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?seoexperimenty\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?darodar\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?econom\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?edakgfvwql\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?adcash\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?adviceforum\.info.*$ [NC,OR]

RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?hulfingtonpost\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?europages\.com\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?gobongo\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cenoval\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cityadspix\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cenokos\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?ranksonic\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?(lomb|lumb)\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?econom\.co.*$ [NC,OR]

RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?srecorder\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?see\-your\-website\-here\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?76brighton\.co\.uk.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?paparazzistudios\.com\.au.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?powitania\.pl.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?sharebutton\.net.*$ [NC,OR]

RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?tasteidea\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?descargar\-musica\-gratis\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?torontoplumbinggroup\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cyprusbuyproperties\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?semalt\.dev.*$ [NC]
RewriteRule .* - [F]

RewriteCond %{HTTP_HOST} ^www\.pumpic\.com
RewriteRule ^(.*)$ http://pumpic.com/$1 [NC,R=301,L]

RewriteRule ^compatibility/Samsung\-N7100\-Galaxy\-Note\-II/$ compatibility/Samsung\-Galaxy\-Note\-2/ [L,R=301]

RewriteRule ^GPS-and-geofencing\.html$ gps-and-geofencing\.html [L,R=301]
RewriteRule ^pricing\.html$ store\.html [L,R=301]
RewriteRule ^index\.html$ http://pumpic.com/ [L,R=301]
RewriteRule ^features\.html$ all-features\.html [L,R=301]
RewriteRule ^store-trial\.html$ http://pumpic.com/ [L,R=301]
RewriteRule ^compatibility\.html$ compatibility/ [L,R=301]

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

#redirect devices
RewriteRule ^compatibility/Samsung\-I9300\-Galaxy\-S\-III/$ http://pumpic.com/compatibility/Samsung\-I9300\-Galaxy\-S\-III\-\(S3\)/ [L,R=301]

RewriteRule ^compatibility/results(.+)$ search.html [L]
# Android 
RewriteRule ^compatibility/android-devices(.+)$ search.html [L]
# iOS
RewriteRule ^compatibility/ios-devices(.+)$ search.html [L]

RewriteRule ^compatibility/(.+)$ compatibility/?model=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.php

#add cache images
<IfModule mod_expires.c>     
    ExpiresActive On     
    ExpiresDefault "access plus 1 month"      
    ExpiresByType image/gif "access plus 2 months"     
    ExpiresByType image/jpeg "access plus 2 months"
    ExpiresByType image/png "access plus 2 months"  
</IfModule> 