RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.pumpic\.com
RewriteRule ^(.*)$ http://pumpic.com/$1 [NC,R=301,L]

RewriteRule ^pricing\.html$ store\.html [L,R=301]
RewriteRule ^index\.html$ http://pumpic.com/ [L,R=301]

RewriteRule ^compatibility\.html$ compatibility/ [L,R=301]

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

RewriteRule ^compatibility/results(.+)$ search.html [L]
RewriteRule ^compatibility/(.+)$ compatibility/?model=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.php

#add cache images
<IfModule mod_expires.c>     
    ExpiresActive On     
    ExpiresDefault "access plus 1 month"      
    ExpiresByType image/gif "access plus 2 months"     
    ExpiresByType image/jpeg "access plus 2 months"
    ExpiresByType image/png "access plus 2 months"  
</IfModule> 