# denied Access
Order allow,deny
allow from all
Deny from 49.199.27.18
Deny from 49.199.31.93
Deny from 49.183.190.197
Deny from 54.186.60.77

RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?semalt\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?buttons\-for\-website\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?buttons\-for\-your\-website\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?best\-seo\-solution\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?best\-seo\-offer\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?blackhatworth\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?7makemoneyonline\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?ilovevitaly\.(com|co|ru|ro).*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?priceg\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?prodvigator\.ua.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?resellerclub\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?savetubevideo\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?screentoolkit\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?kambasoft.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?socialseet.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?superiends.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?vodkoved.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?o\-o\-8\-o\-o\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?iskalko\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?luxup\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?myftpupload\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?websocial\.me.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?ykecwqlixx\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?slftsdybbg\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?seoexperimenty\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?darodar\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?econom\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?edakgfvwql\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?adcash\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?adviceforum\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?hulfingtonpost\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?europages\.com\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?gobongo\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cenoval\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cityadspix\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cenokos\.ru.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?ranksonic\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?(lomb|lumb)\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?econom\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?srecorder\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?see\-your\-website\-here\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?76brighton\.co\.uk.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?paparazzistudios\.com\.au.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?powitania\.pl.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?sharebutton\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?tasteidea\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?descargar\-musica\-gratis\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?torontoplumbinggroup\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?cyprusbuyproperties\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?semalt\.dev.*$ [NC,OR]
# v2
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?Get\-Free\-Traffic\-Now\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?get\-free\-traffic\-now\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?event\-tracking\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?event\-tracking\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?howtostopreferralspam\.eu.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?непереводимая\.рф.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?meendo\-free\-traffic\.ga.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?rapidgator\-porn\.ga.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?youporn\-forum\.ga.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?depositfiles\-porn\.ga.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?amanda\-porn\.ga.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?savetubevideo\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?buy\-cheap\-online\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?torture\.ml.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?domination\.ml.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?iaeconom\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?lombia\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?guardlink\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?trafficmonetize\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?superiends\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?4webmasters\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?smailik\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?anticrawler\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?generalporn\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?humanorightswatch\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?comkambasoft\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?theguardlan\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?o\-o\-6\-o\-o\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?bestwebsitesawards\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?srecorder\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?googlsucks\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?makemoneyonline\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?websites-reviews\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?sanjosestartups\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?100dollars\-seo\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?simple\-share\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?simple\-share\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?simple\-social\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?simple\-social\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?free\-social\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?free\-social\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?free\-share\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?free\-share\-buttons\.com.*$ [NC,OR]
#v3
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?floating\-share\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?floating\-share\-buttons\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?videos\-for\-your\-business\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?videos\-for\-your\-business\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?success\-seo\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?semaltmedia\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?webmonetizer\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?dailyrank\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?sitevaluation\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?best\-seo\-offer\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?best\-seo\-solution\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?forum69\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?sitevaluation\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?erot\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?lomb\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?lomb\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?darodar\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?darodar\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?hulfingtonpost\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?rank-checker\.online.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?rank-checker\.online.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(.*)?lumb\.co.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http(s)?://(www\.)?lumb\.co.*$ [NC]


RewriteRule .* - [F]

RewriteCond %{HTTP_HOST} ^www\.pumpic\.com
RewriteRule ^(.*)$ http://pumpic.com/$1 [NC,R=301,L]



RewriteRule ^compatibility/samsung\-i9300\-galaxy\-s\-iii\-\(s3\)/$ compatibility/samsung-galaxy-s3/ [L,R=301]

RewriteRule ^pricing\.html$ store\.html [L,R=301]
RewriteRule ^index\.html$ http://pumpic.com/ [L,R=301]
RewriteRule ^features\.html$ all-features\.html [L,R=301]
RewriteRule ^compatibility\.html$ compatibility/ [L,R=301]
RewriteRule ^learning-center/ready\-solutions\.html$ learning-center/ready\-solutions/ [L,R=301]
RewriteRule ^limitly-parental-app/index\.html$ limitly-parental-app/ [L,R=301]
RewriteRule ^best-spy-apps-for-android\.html$ best-spying-apps-for-android\.html [L,R=301]

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]


RewriteRule ^compatibility/results(.+)$ search.html [L]
# Android
RewriteRule ^compatibility/android-devices(.+)$ search.html [L]
# iOS
RewriteRule ^compatibility/ios-devices(.+)$ search.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.php

#add cache images
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType image/gif "access plus 2 months"
    ExpiresByType image/jpeg "access plus 2 months"
    ExpiresByType image/png "access plus 2 months"
    ExpiresByType text/html  "access plus 2 months"
    ExpiresByType text/plain  "access plus 2 months"
    ExpiresByType text/xml  "access plus 2 months"
    ExpiresByType text/css  "access plus 2 months"
    ExpiresByType application/javascript  "access plus 2 months"
</IfModule>

<IfModule mod_deflate.c>
   SetOutputFilter DEFLATE

   # example of how to compress ONLY html, plain text and xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript

   # Don't compress binaries
   SetEnvIfNoCase Request_URI .(?:exe|t?gz|zip|iso|tar|bz2|sit|rar) no-gzip dont-vary


   # Don't compress images
   SetEnvIfNoCase Request_URI .(?:gif|jpe?g|jpg|ico|png)  no-gzip dont-vary


   # Don't compress PDFs
   SetEnvIfNoCase Request_URI .pdf no-gzip dont-vary


   # Don't compress flash files (only relevant if you host your own videos)
   SetEnvIfNoCase Request_URI .flv no-gzip dont-vary


   # Netscape 4.X has some problems
   BrowserMatch ^Mozilla/4 gzip-only-text/html


   # Netscape 4.06-4.08 have some more problems
   BrowserMatch ^Mozilla/4.0[678] no-gzip


   # MSIE masquerades as Netscape, but it is fine
   BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    #<IfModule mod_headers.c>
        # properly handle requests coming from behind proxies
     #   Header append Vary User-Agent
    #</IfModule>
   # Make sure proxies don't deliver the wrong content
   #Header append Vary User-Agent env=!dont-vary


   # Setup custom deflate log
   #DeflateFilterNote Input instr
   #DeflateFilterNote Output outstr
   #DeflateFilterNote Ratio ratio
   #LogFormat '"%r" %{outstr}n/%{instr}n %{ratio}n%%' DEFLATE
   #CustomLog /home/sergey/WebServer/pumpic/logs/logs/deflate_log DEFLATE
</IfModule>

#RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
#RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
