/*page4*/
body {
	/*background: url(../../images/index.jpg) 50% 0 no-repeat;
	opacity: .7;*/
}

.block-reviews .box-state {
	max-width: 630px;
	margin: 35px auto 64px;
	color: #4d4f5b;
}
.block-reviews .box-state p {
	margin-bottom: 20px;
}
.block-reviews .heading {
	font-size: 30px;
	line-height: 1;
	margin: 30px 0 2px;
}
.block-reviews .heading-rating {
	color: #f5ac43;
	font-weight: 400;
}
.block-reviews .txt-success {
	color: #16a89e;
}
.block-reviews .price-span {
	background: #4d4f5b;
	font-size: 24px;
	color: #facc00;
	display: inline-block;
	padding: 5px 16px;
	border-radius: 4px;
	margin: 2px 0;
}
.block-reviews .box-graph {
	margin: 30px 0;
}
.block-reviews .list-tile {
	display: table;
	width: 100%;
	background: #fff;
	border: 1px solid #e7e7e7;
	border-left: none;
	margin: 14px 0px;
	table-layout: fixed;
	font-size: 13px;
}
.block-reviews .list-tile > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table-cell;
	border-left: 1px solid #e7e7e7;

}
.block-reviews .list-tile > ul > li {
	padding: 22px 0;
	padding-left: 15%;
}
.list-tile > ul > li + li {
	border-top: 1px solid #e7e7e7;
}
.block-reviews .img-tile {
	display: table-cell;
	vertical-align: middle;
	width: 55px;
}
.block-reviews .number-tile {
	-ms-word-break: break-all;
	word-break: break-all;
	display: table-cell;
	vertical-align: middle;
}
.block-reviews .number-tile a {
	text-decoration: underline;
	margin-left: 5px;
}
.block-reviews .number-tile a:hover {
	text-decoration: none;
}

.block-reviews .btn-success:hover{
	background-color: #58beb7;
}
.block-reviews .btn-success:focus, 
.block-reviews .btn-success:active, 
.block-reviews .btn-success.active, 
.block-reviews .open > .dropdown-toggle.btn-success {
	background: #1a8783;
	box-shadow: none;
}
.block-reviews .box-state .media  {
	margin-bottom: 70px;
}
.block-reviews .box-state .media > .pull-left {
	margin-right: 60px;
}
.block-reviews .box-state .media > .pull-right {
	margin-left: 60px;
}
.block-reviews .box-state .media-body {
	padding-top: 12px;
}
.block-reviews .box-state .media .heading {
	margin: 0;
}
.block-reviews .img-media {
	display: block;
	margin: 20px 0;
}
.block-reviews .media-btn {
	margin-top: 40px;
}
.block-reviews .media-body {
	color: #4d4f5b;
}
.block-reviews .media-body .media-heading {
	font-size: 20px;
	color: #16a89e;
	font-weight: 400;
}
.block-reviews .lighten {
	background: #f9f9f9;
}
.block-reviews .darken {
	background: #f1f1f1;
}
.block-reviews .visual-images-center-lg img {
	margin: auto !important;
	
}
.block-reviews .visual-images-right-lg img {
	float: right;
}
/*.block-reviews .visual-text-xlg .title {
	font-size: 41px;
}*/
.block-reviews bg_bottom_images .visual-text-xlg {
  padding: 55px 28px 98px;
}
.block-reviews .btn-sm, .btn-group-sm > .btn {
	font-size: 16px;
}

@media screen and (max-width: 640px) {
	.block-reviews .media > .pull-left {
		float: none !important;
		margin: 0;
		text-align: center;
	}
	.block-reviews .img-media {
		padding-left: 80px;
	}
	.block-reviews .list-tile {
		display: block;
		border-left: 1px solid #e7e7e7;
		border-top: none;
	}
	.block-reviews .list-tile > ul {
		display: block;
		border-left: none;
	}
	.block-reviews .list-tile > ul > li {
		padding-left: 40px;
		border-top: 1px solid #e7e7e7;
	}
	.block-reviews .bg_bottom_images .visual-text-xlg {
	  padding: 25px 28px 20px;
	}


}
/* page 5*/
.block-reviews .box-state-table {
	max-width: 973px;
	margin: 15px auto 64px;
}
.block-reviews .box-state-table .heading{
	margin: 20px 0 6px;
}

/*thumb-ranking*/
.block-reviews .list-ranking {
	overflow: hidden;
}
.block-reviews .list-ranking > ul  {
	margin: 0 -5px 40px;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.block-reviews .list-ranking > ul > li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 10%;
	margin: 5px 0;
	padding: 0 5px;
	position: relative;
}
.block-reviews .img-ranking { min-height: 118px; }
.block-reviews .img-ranking, 
.block-reviews .header-thumb-ranking, 
.block-reviews .price-ranking {
	padding: 7px 0;
}
.block-reviews .thumb-ranking {
	display: block;
	position: relative;
	background: #f9f9f9;
	text-align: center;
}
.block-reviews .header-thumb-ranking {
	font-size: 19px;
	background: #b3b3b3;
	color: #fff;
}
@media screen and (max-width: 992px) { 
   .block-reviews .header-thumb-ranking { 
       font-size: 25px;
       background: none;
       color: #999;
   } 
}
.content-thumb-ranking {
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	
}
.img-ranking {
	padding: 12px 0;
}
.img-ranking img {
	display: inline-block;
	vertical-align: top;
	margin-left: 16px;
}
.block-reviews .img-ranking span {
	display: block;
	font-weight: 600;
	font-size: 13px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 2px;
	padding-right: 2px;
}
.block-reviews .price-ranking {
	display: block;
	border-top: 1px solid #dbdbdb;
	padding-bottom: 14px;
	color: #838383;
	font-size: 16px;
	font-weight: 600;
	padding: 7px 0 10px;
}
.block-reviews .btn-ranking .btn {
	font-size: 16px;
	min-width: 0;
	display: block;
	min-height: 0;
	margin-top: -4px;
	padding-left: 2px;
	padding-right: 2px;
}
.block-reviews .btn-ranking .btn-info {
	background-color: #b3b3b3;
}
.block-reviews .btn-ranking .btn-info:hover{
	background-color: #c8c8c8;
}
.block-reviews .btn-ranking .btn-info:focus, 
.block-reviews .btn-ranking .btn-info:active, 
.block-reviews .btn-ranking .btn-info.active, 
.block-reviews .btn-ranking .open > .dropdown-toggle.btn-info {
	background-color: #8c8c8c;
	box-shadow: none;
}
/*thumb-ranking-heading*/
.block-reviews .thumb-ranking-heading .btn-ranking .btn-info {
	background-color: #16a89e;
}
.block-reviews .thumb-ranking-heading .btn-ranking .btn-info:hover{
	background-color: #58beb7;
}
.block-reviews .thumb-ranking-heading .btn-ranking .btn-info:focus, 
.block-reviews .thumb-ranking-heading .btn-ranking .btn-info:active, 
.block-reviews .thumb-ranking-heading  .btn-ranking .btn-info.active, 
.block-reviews .thumb-ranking-heading  .btn-ranking .open > .dropdown-toggle.btn-info {
	background-color: #1a8783;
	box-shadow: none;
}
.block-reviews .thumb-ranking-heading .header-thumb-ranking, 
.block-reviews .thumb-ranking-heading .content-thumb-ranking {
	background: rgb(248,201,38);
	background: -moz-linear-gradient(top,  rgba(248,201,38,1) 0%, rgba(248,201,38,1) 28%, rgba(248,201,38,1) 29%, rgba(218,148,93,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,201,38,1)), color-stop(28%,rgba(248,201,38,1)), color-stop(29%,rgba(248,201,38,1)), color-stop(100%,rgba(218,148,93,1)));
	background: -webkit-linear-gradient(top,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c926', endColorstr='#da945d',GradientType=0 );

}
.block-reviews .thumb-ranking-heading .content-thumb-ranking  {
	border: none;
}
.block-reviews .thumb-ranking-heading .header-thumb-ranking {
	font-size: 31px;
	padding: 5px 0;
	line-height: 1;
}
.block-reviews .thumb-ranking-heading .price-ranking {
	border-top-color: #f4c32c;
	color: #fff;
	font-size: 20px;
	padding: 4px 0 7px;
}
.block-reviews .thumb-ranking-heading .img-ranking span {
	color: #fff;
}
.block-reviews .btn-ranking .btn {
	font-size: 14px !important;
	border-radius: 3px;
}
.block-reviews .table-vertical-striped .icon-cancel {
	display: none;
}
@media screen and (max-width: 992px) {
	.block-reviews .box-state-table .heading{
		text-align: center;
	}
	.block-reviews .bg_bottom_images .visual-images-bottom {
		margin: -17px auto 26px;
	}
	.block-reviews .table-vertical-striped .icon-cancel {
		display: inline-block;
	}
	.block-reviews .visual-text-xlg  {
		text-align: center;
	}
	.block-reviews .table-vertical-striped-mobile .table-vertical-striped tbody tr td:first-child {
		width: 80%;
	}
	.block-reviews .list-ranking > ul > li {
		width: 100%;
	}
	.block-reviews .thumb-ranking:before {
		content: '';
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		height: 1px;
		background: #e0e0e0;
	}
	.block-reviews .thumb-ranking {
		display: table;
		width: 100%;
		background: none;
        }        
/*	.block-reviews */
	.header-thumb-ranking {
		text-align: left;
		display: table-cell;
		vertical-align: middle;
		background: transparent;
		width: 50px;
		color: #999;
		font-weight: 600;
		font-size: 25px;
	}
	.block-reviews .content-thumb-ranking {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		border: none;
	}
	.block-reviews .footer-thumb-ranking {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.block-reviews .img-ranking {
		display: inline-block;
		vertical-align: middle;
		width: 200px;
	}
	.block-reviews .img-ranking img {
		vertical-align: middle;
	}
	.block-reviews .img-ranking span {
		display: inline-block;
		vertical-align: middle;	
	}
	.block-reviews .price-ranking {
		float: right;
		padding-top: 25px;
		padding-right: 5px;
		border:none;
		color: #16a89e;
		font-size: 20px;
	}
	.block-reviews .btn-ranking {
		display: inline-block;
		vertical-align: middle;
		min-width: 100px;
	}
	.block-reviews .btn-ranking .btn {
		font-size: 14px !important;
	}
	.block-reviews .thumb-ranking-heading .header-thumb-ranking {
		background: transparent;
		color: #16a89e;
	}
	.block-reviews .thumb-ranking-heading .content-thumb-ranking {
		background: transparent;
		color: #4d4f5b;
		border: none;
	}
	.block-reviews .thumb-ranking-heading .img-ranking span {
		color: #4d4f5b;
	}
	.block-reviews .thumb-ranking-heading .price-ranking {
		color: #16a89e;
		float: right;
		padding-top: 25px;
		padding-right: 5px;
		font-size: 20px;
	}
	.block-reviews .btn-ranking .btn-info {
		background-color: #16a89e;
	}
	.block-reviews .btn-ranking .btn-info:hover{
		background-color: #58beb7;
	}
	.block-reviews .btn-ranking .btn-info:focus, 
        .block-reviews .btn-ranking .btn-info:active, 
        .block-reviews .btn-ranking .btn-info.active, 
        .block-reviews .btn-ranking .open > .dropdown-toggle.btn-info {
		background-color: #1a8783;
		box-shadow: none;
	}
}
@media screen and (max-width: 479px) {
	.block-reviews .list-ranking > ul > li {
		width: 100%;
	}
	.block-reviews .content-thumb-ranking {
		text-align: center;
	}
	.block-reviews .img-ranking {
		width: auto;
		padding-bottom: 0;
	}
	.block-reviews .img-ranking img {
		vertical-align: middle;
	}
	.block-reviews .img-ranking span {
		display: block;
	}
	.block-reviews .price-ranking {
		float: none !important;
		padding: 0 !important;
		padding-bottom: 10px !important;
	}
}

/*table-vertical-striped*/

.block-reviews .table-vertical-striped {
	width: 100%;
	margin: 17px 0;
}
.block-reviews .table-vertical-striped thead tr th, 
.block-reviews .table-vertical-striped tbody tr td  {
	padding: 8px 12px;
	text-align: center;
	background: #f9f9f9;
}
.block-reviews .table-vertical-striped thead tr th {
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #ececec;
	text-align: left;
	color: #818181;
	font-size: 18px;
	font-weight: 400;
	padding: 7px;
}
.block-reviews .table-vertical-striped tbody tr td {
	border-bottom: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	min-width: 50px;
}
.block-reviews .table-vertical-striped thead tr th:nth-child(2) {
	border-left: none;
}
.block-reviews .table-vertical-striped tbody tr td:first-child {
	text-align: left;
	color: #8d8d8d;
	border-left: 1px solid #dbdbdb;
	padding: 7px 12px;
	width: 200px;
}
.block-reviews .table-vertical-striped tbody tr td:nth-child(2n+2){
	background: #f1f1f1;
}
.block-reviews .table-vertical-striped thead tr th.table-vertical-striped-title {
	border: none;
	border-bottom: 1px solid #dbdbdb;
	background-color: transparent;
	color: #4d4f5b;
	font-size: 30px;
	line-height: 1;
	padding-bottom: 15px;
	font-weight: 300;
	padding-left: 0;
}
.block-reviews .icon-ok-muted:before {
  content: '\e808';
  color: #949494;
}

.block-reviews .table-vertical-striped-mobile {
	display: none;
}
.block-reviews .table-vertical-striped-mobile .table-vertical-striped thead tr th {
	text-align: center;
}
.block-reviews .table-vertical-striped-mobile {
	
}
.block-reviews .boxes-img img {
	display: inline-block;
	vertical-align: middle;
	margin-right: -22px;
}
.block-reviews .boxes-img-heading , 
.block-reviews .table-vertical-striped thead tr th.boxes-img-heading, 
.block-reviews .table-vertical-striped tbody tr td.boxes-img-heading {
	background: rgb(248,201,38);
	background: -moz-linear-gradient(top,  rgba(248,201,38,1) 0%, rgba(248,201,38,1) 28%, rgba(248,201,38,1) 29%, rgba(218,148,93,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,201,38,1)), color-stop(28%,rgba(248,201,38,1)), color-stop(29%,rgba(248,201,38,1)), color-stop(100%,rgba(218,148,93,1)));
	background: -webkit-linear-gradient(top,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,201,38,1) 0%,rgba(248,201,38,1) 28%,rgba(248,201,38,1) 29%,rgba(218,148,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c926', endColorstr='#da945d',GradientType=0 );
	color: #fff;
	font-size: 22px;
}
.block-reviews .table-vertical-striped .icon-cancel {
	font-size: 22px;
	line-height: 1;
}
@media screen and (max-width: 992px) {
	.block-reviews .bg_bottom_images .visual-text-xlg {
		padding: 10px 28px 0px;
	}
	.block-reviews .table-vertical-striped {
		display: none;
	}
	.block-reviews .table-vertical-striped-mobile {
		display: block;
	}
	.block-reviews .table-vertical-striped-mobile .table-vertical-striped{
		display: table;
	}
	.block-reviews .boxes-img-heading , 
        .block-reviews .table-vertical-striped thead tr th.boxes-img-heading, 
        .block-reviews .table-vertical-striped tbody tr td.boxes-img-heading {
		font-size: 33px;
	}
	.block-reviews .table-vertical-striped thead tr th {
		background: #fff;
	}
}
