.border-top-bottom {
  border-color: #e8e8e8 !important;
  border-style: solid !important;
  border-width: 1px 0px !important;
}

.row-white {
  padding: 15px 0;
  background: #fff;
}

.visual-text p {
  color: inherit !important;
}

.icons {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/sprite-icons-update.png) no-repeat;
}

span.text-success {
  color: #16a89e !important;
  font-size: inherit !important;
  margin: 0 !important;
}

.ico-iphones {
  margin-right: 5px;
  background-position: 0 0;
  width: 12px;
  height: 23px;
  margin-top: -5px;
}

.ico-ipads {
  margin-right: 5px;
  background-position: -25px 0;
  width: 20px;
  height: 23px;
  margin-top: -5px;
}

.ico-ipods {
  margin-right: 5px;
  background-position: -50px 0;
  width: 12px;
  height: 23px;
  margin-top: -5px;
}

.ico-cloud {
  margin-right: 5px;
  background-position: -125px 0;
  width: 42px;
  height: 28px;
}

.ico-cloud-white {
  margin-right: 5px;
  background-position: -75px -50px;
  width: 30px;
  height: 20px;
}

.ico-jailbreak {
  margin-right: 5px;
  background-position: -75px 0;
  width: 30px;
  height: 37px;
}

.ico-arrows {
  margin-left: 5px;
  background-position: -50px -50px;
  width: 10px;
  height: 12px;
}

.icon-buy {
  background-position: 0 -75px;
  width: 25px;
  height: 23px;
  display: block;
  margin: auto;
}

.icon-install {
  background-position: -50px -75px;
  width: 29px;
  height: 25px;
  display: block;
  margin: auto;
}

.icon-remotely {
  background-position: -100px -75px;
  width: 21px;
  height: 27px;
  display: block;
  margin: auto;
}

.ico-cloud-lock {
  margin-right: 7px;
  background: url('../images/icons/icon-icloud-lock.png') no-repeat;
  width: 20px;
  height: 24px;
}

.weight-normal {
  font-weight: 400;
  i {
    margin-bottom: 10px;
  }
}

.list-group-box {}

.font-weight400 {
  font-weight: 400 !important;
}

.btn-text-sm {
  font-size: 18px;
  padding-top: 12px;
}

.list-group-box .list-group {
  float: left;
  width: 50%;
  margin-bottom: 0;
}

.text-promo-buy.text-promo-sm {
  font-size: 18px;
  text-align: right;
  display: inline-block;
  padding-top: 5px;
}

.list-group-item-heading {
  font-size: 27px;
  color: #16a89e;
  height: 37px;
  padding: 5px 0 0;
  small {
    display: block;
    font-size: 18px;
    color: inherit;
    padding-top: 35px;
  }
}

.list-group-box .list-group {
  .list-group-item {
    border-radius: 0;
    padding-left: 30px;
  }
  + .list-group .list-group-item {
    border-left: none;
  }
}

.row-pricing-panel {
  text-align: center;
}

.w100 {
  width: 100% !important;
}

.list-group-item-link {
  display: inline-block;
  font-size: 20px;
  color: #42778e;
  padding: 10px 0;
  &:hover {
    color: #42778e;
  }
}

.refund_bg {
  overflow: hidden;
  position: static !important;
  background-color: #4d4f5b;
}

.iphone-tracking-software .refund_10 {
  display: block;
}

@media only screen and (max-width: 700px) {
  .iphone-tracking-software .refund_10 {
    display: none;
  }
}

.list-group-item-text {
  font-size: 15px;
  .title {
    font-size: 18px;
    display: block;
    padding-bottom: 5px;
  }
}

.list-group-item {
  .block-number {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    padding: 4px 7px;
    margin-right: 8px;
    background: #16a89e;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 45px;
    text-align: center;
  }
  .icon-cancel {
    font-size: 28px;
    line-height: 1;
    margin-top: -4px;
    height: 32px;
  }
  .icon-ok {
    font-size: 22px;
    height: 28px;
  }
  [class^="icon-"]:before {
    margin: 0;
    width: auto;
  }
}

[class*=" icon-"]:before {
  margin: 0;
  width: auto;
}

.list-group-item {
  .text-danger {
    color: #cf4857;
    font-size: inherit;
  }
  .text-success {
    color: #16a89e;
    font-size: inherit;
  }
}

.icloud-iphone-without-jailbreak-monitoring .dtable, .iphone-with-jailbreak-monitoring .dtable, .iphone-tracking-software .dtable {
  display: table;
  width: 100%;
}

.icloud-iphone-without-jailbreak-monitoring .dtable .wr_price_big, .iphone-with-jailbreak-monitoring .dtable .wr_price_big, .iphone-tracking-software .dtable .wr_price_big {
  position: static;
  margin: 15px 0 0 0px;
  height: auto;
  display: inline-block;
  float: none;
  min-width: 190px;
}

.icloud-iphone-without-jailbreak-monitoring .dtable .wr_pack, .iphone-with-jailbreak-monitoring .dtable .wr_pack, .iphone-tracking-software .dtable .wr_pack {
  position: static;
  margin: 0;
  height: auto;
  float: none;
  width: auto;
  margin-left: 10px;
  margin-right: -30px;
  display: inline-block;
}

.icloud-iphone-without-jailbreak-monitoring .dtable-cell, .iphone-with-jailbreak-monitoring .dtable-cell, .iphone-tracking-software .dtable-cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.icloud-iphone-without-jailbreak-monitoring .dtable-text, .iphone-with-jailbreak-monitoring .dtable-text, .iphone-tracking-software .dtable-text {
  display: inline-block;
  vertical-align: middle;
  color: #606060;
  font-size: 13px;
  line-height: 1;
  text-transform: none;
  float: right;
}

.visual-images-left-lg {
  /*margin-top: 30px;*/
}

.visual-text-lg p {
  margin: 22px 0;
}

.list-group-item-heading + small {
  display: block;
  font-size: 18px;
  color: inherit;
  padding-top: 35px;
  color: #16a89e;
}

.list-group-bg {
  background: #f8f8f8;
  .list-group-item {
    background: #f8f8f8;
  }
}

.compatibility-lg {
  font-size: 13px;
}

.row-pricing-panel {
  .basic_wr .priceb, .premium_wr .pricep {
    padding-bottom: 10px;
  }
  .basic_wr .basic_h {
    font-size: 21px;
  }
  .premium_wr .premium_h {
    font-size: 21px;
    position: relative;
    z-index: 2;
  }
  .wr_price_big span {
    font-weight: normal;
  }
  .priceb .list_price ul li, .pricep .list_price ul li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    &:hover {
      border-top-color: #d8f3f1;
      border-bottom-color: #d8f3f1;
      background: #fdfbf3;
    }
    .hover_label_radio {
      max-width: 250px;
      width: 250px;
      margin: auto;
      &:hover {
        border-color: transparent;
        background-color: transparent;
      }
    }
  }
}

.icloud-box .priceb .list_price ul li:hover {
  background: #ebfcfa !important;
}

h2.list-group-item-heading {
  padding: 0;
  height: auto;
  min-height: 0;
  font-weight: 400;
}

.list-group-item {
  .text-success {
    color: #16a89e;
  }
  .text-danger {
    color: #cf4857;
  }
}

.table_header-border {
  border: 1px solid #e8e8e8;
  background: transparent;
  span:first-child {
    padding-top: 3px;
  }
}

#block-promo-buy.block-promo-buy {
  &:before {
    background: #3f041b;
    opacity: 0.12;
  }
  .btn-blue {
    background: #42778e;
  }
}

.block-promo-sale{
  background-image: url(/images/double_premium.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 68px;
  height: 37px!important;
  margin: 0 0 0 20px;
  display: inline-block;
}


.block-promo-h2{
  margin: 0;
  color: #fff;
  font-size: 14px;
  .text-yellow{
  font-weight: 600;
  color: #feff8b !important;
  }
}

.basic_wr .basic_fe .list_price-no-link li:hover, .premium_wr .premium_fe .list_price-no-link li:hover {
  color: #4e4d5b;
  font-size: 16px;
  cursor: default;
  line-height: 1;
  height: auto;
}

.basic_wr .basic_fe .list_price-no-link li, .premium_wr .premium_fe .list_price-no-link li {
  font-size: 16px;
  height: auto;
  line-height: 1;
  position: relative;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}

.basic_wr .basic_fe .list_price-no-link li i, .premium_wr .premium_fe .list_price-no-link li i {
  position: absolute;
  left: 5px;
  top: 8px;
}

.basic_wr .basic_fe .list_price-no-link li:hover > span, .premium_wr .premium_fe .list_price-no-link li:hover > span {
  color: #898989;
  cursor: default;
}

.basic_wr .basic_fe .list_price-no-link li > span, .premium_wr .premium_fe .list_price-no-link li > span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: #898989;
  line-height: 1.2;
}

.reset-list {
  margin: 0 !important;
  ul {
    margin: 0 !important;
    padding: 5%;
  }
}

.basic_wr .basic_fe .list_price-no-link .feature_list, .premium_wr .premium_fe .list_price-no-link .feature_list {
  padding-left: 0;
  li {
    color: #898989;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 0;
    &:before {
      background: #ffba60;
      top: 4px;
      width: 6px;
      height: 6px;
    }
  }
}

h2 {
  &.text-success {
    color: #2cbdb3;
    font-size: 30px;
  }
  &.text-warning {
    color: #f5ac43;
    font-size: 26px;
  }
}

.text-transform-none {
  text-transform: none !important;
  position: relative;
}

h3.text-warning {
  color: #f5ac43;
  font-size: 24px;
}

.prices-padding {
  .basic_wr .priceb, .premium_wr .pricep {
    padding-bottom: 10px;
  }
}

.coming_soon_block {
  text-transform: none;
  border-top: 1px solid #dddddd;
}

th .table_title {
  border-left: none;
  border-right: none;
}

.coming_soon_block ul {
  list-style: none;
  padding: 10px 0;
  display: inline-block;
  text-align: left;
  color: #898989;
  font-size: 15px;
  li {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
  }
}

.ico-skype, .ico-notes, .ico-emails {
  background: none;
  width: 40px;
  text-align: center;
}

.ico-skype:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite-icons-update.png) no-repeat;
  background-position: 0 -100px;
  width: 23px;
  height: 23px;
}

.ico-notes:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite-icons-update.png) no-repeat;
  background-position: -25px -100px;
  width: 20px;
  height: 26px;
}

.ico-emails:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite-icons-update.png) no-repeat;
  background-position: -50px -100px;
  width: 24px;
  height: 17px;
}

.coming_soon_block ul li {
  b {
    font-size: 19px;
    color: #4d4f5b;
    min-width: 65px;
    font-weight: 400;
    display: inline-block;
    text-align: right;
  }
  > div {
    display: inline-block;
    position: relative;
    min-width: 122px;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .block-promo-sale{
    margin: 0;
  }
  .coming_soon_block ul li {
    > div {
      text-align: center;
      width: 100%;
    }
    b {
      float: none;
    }
  }
}

.border-none {
  border: none !important;
}

.list_price-no-link-inline {
  display: inline-block;
  vertical-align: top;
}

.pricep.border-left {
  margin-left: -1px;
  border-left: 1px solid #dddddd;
}

.icloud-iphone-without-jailbreak-monitoring .dtable-cell, .iphone-with-jailbreak-monitoring .dtable-cell, .iphone-tracking-software .dtable-cell {
  padding: 20px 0;
}

.icloud-iphone-without-jailbreak-monitoring .dtable, .iphone-with-jailbreak-monitoring .dtable, .iphone-tracking-software .dtable {
  max-width: 280px;
  margin: auto;
}

.list-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w100 .dtable {
  max-width: 600px;
  margin: auto;
}

.basic_fe_mobile_block {
  display: block !important;
}

.column-relative {
  position: relative;
}

@media (min-width: 700px) {
  .column-relative {
    > {
      .table_title {
        position: absolute;
        top: 417px;
        left: 0;
        width: 100%;
        background: #fff;
      }
      .table_title_v2 {
        position: absolute;
        top: 417px;
        left: 0;
        width: 100%;
        background: #fff;
        top: 480px;
        left: 0px;
      }
    }
    .basic_wr .list_price-no-link, .premium_wr .list_price-no-link {
      padding-top: 100px;
    }
  }
}

@media (max-width: 700px) {
  .column-relative {
    > {
      .table_title, .table_title_v2 {
        display: none;
      }
    }
    .basic_wr .list_price-no-link, .premium_wr .list_price-no-link {
      padding-top: 0;
    }
    .basic_fe, .premium_fe {
      display: block !important;
    }
  }
  .basic_wr .basic_fe .list_price-no-link .feature_list, .premium_wr .premium_fe .list_price-no-link .feature_list {
    display: none;
  }
}

.iphone-tracking-software .dtable-cell.text-center, .iphone-with-jailbreak-monitoring .dtable-cell.text-center, .icloud-iphone-without-jailbreak-monitoring .dtable-cell.text-center {
  text-align: center !important;
}

.list-group-item .icon-cancel:before {
  display: inline-block;
  vertical-align: middle;
}

.iphone-tracking-software {
  .save__2plan {
    position: absolute;
    width: 100%;
    top: 670px;
    z-index: 3;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .basic_wr .priceb {
    margin-top: 55px;
  }
  .dtable-cell {
    padding: 20px 0 10px 0;
  }
  .row-pricing-panel .priceb .list_price ul li .hover_label_radio {
    max-width: 250px;
    width: 250px;
  }
}

.row-pricing-panel .pricep .list_price ul li .hover_label_radio {
  max-width: 250px;
  width: 250px;
}

.iphone-tracking-software {
  .dtable-text {
    display: inline-block;
    vertical-align: middle;
    color: #606060;
    font-size: 13px;
    line-height: 1;
    text-transform: none;
    float: none;
    padding: 0 15px 0px 0px;
  }
  .wr_pack_double_premium2 {
    background-image: url(/images/double_premium.png);
    background-repeat: no-repeat;
    margin: 25px 10px 0 20%;
    width: 121px;
    height: 85px;
    display: none;
    float: none;
  }
  .wr_pack_basic {
    background-repeat: no-repeat;
    height: 85px;
    float: right;
  }
}

.wr_pack_double_basic {
  background-repeat: no-repeat;
  height: 85px;
  float: right;
}

.iphone-tracking-software {
  .wr_pack_premium1 {
    margin: 25px 10px 0 15%;
  }
  .wr_pack_premium2 {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    height: 85px;
    float: none;
  }
  .wr_pack_double_premium2 {
    display: none;
    vertical-align: middle;
    background-repeat: no-repeat;
    height: 85px;
    float: none;
  }
  .dtable .wr_price_big {
    min-width: 0;
  }
  .wr_price_big {
    font-size: 25px;
  }
}

/*.iphone-tracking-software  .wr_pack_double_premium1{*/
/*margin: 0px 0px 0px 12px;*/
/*}*/

.icloud-iphone-without-jailbreak-monitoring {
  .basic_wr .priceb,  .basic_wr .pricep,{
    margin-top: 25px;
  }
  .row-pricing-panel {
    .priceb .list_price ul li .hover_label_radio, .pricep .list_price ul li .hover_label_radio {
      max-width: 250px;
      width: 250px;
    }
  }
  .dtable-text {
    display: inline-block;
    vertical-align: middle;
    color: #606060;
    font-size: 13px;
    line-height: 1;
    text-transform: none;
    float: none;
    padding: 0 30px 0px 0px;
  }
  .wr_pack_premium {
    margin: 0;
    background-repeat: no-repeat;
    height: 85px;
    float: none;
    display: inline-block;
  }
  .wr_price_big {
    font-size: 25px;
  }
  .wr_pack_double_premium {
    display: none;
    vertical-align: middle;
    margin-left: 20px;
    margin: 0;
    background-repeat: no-repeat;
    height: 85px;
    float: none;
  }
  .dtable-text {
    display: inline-block;
    vertical-align: middle;
    color: #606060;
    font-size: 13px;
    line-height: 1;
    text-transform: none;
    float: none;
    padding: 0 30px 0px 0px;
  }
  .dtable .wr_price_big {
    min-width: auto;
    padding: 0 0 0 15px;
  }
}

@media only screen and (max-width: 400px) {
  .icloud-iphone-without-jailbreak-monitoring .dtable-cell .wr_price_big span, .iphone-with-jailbreak-monitoring .dtable-cell .wr_price_big span, .iphone-tracking-software .dtable-cell .wr_price_big span {
    display: inline-block;
    vertical-align: bottom;
  }
}

@media only screen and (max-width: 768px) {
  .list-group-item-heading {
    min-height: 37px;
    height: auto;
  }
}

@media only screen and (max-width: 980px) {
  .visual-text.text-right, .text-promo-buy.text-promo-sm {
    text-align: center;
  }
  .btn-text-sm {
    padding-top: 2px;
  }
}

@media only screen and (max-width: 1200px) {
  .border-right-sm {
    border-right: 1px solid #ddd;
  }
  .pricep.border-left {
    border-left: none;
  }
  .row-pricing-panel {
    .basic_wr .priceb, .premium_wr .pricep {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  .list-group-box .list-group {
    float: none;
    width: auto;
  }
  .list_price-no-link-inline {
    display: block;
  }
  .row-pricing-panel {
    .premium_wr, .basic_wr {
      width: 100% !important;
      float: none !important;
    }
  }
  .list-group-box .list-group + .list-group .list-group-item {
    border-left: 1px solid #dddddd;
  }
  .iphone-tracking-software .save__2plan {
    display: none;
  }
}

.list-group .wr_price_big curr, .dtable .wr_price_big curr {
  text-indent: -8px;
  display: inline-block;
}

.column-relative {
  &.basic_wr {
    float: none;
    width: 100%;
  }
  .column-relative {
    display: none;
  }
  > .table_title_second {
    top: 1726px;
    z-index: 2;
  }
}

@media only screen and (max-width: 700px) {
  .column-relative .column-relative {
    display: block;
  }
}

.hidden-media-box {}

.icloud-iphone-without-jailbreak-monitoring .pricep .list_price ul li, .iphone-with-jailbreak-monitoring .pricep .list_price ul li, .iphone-tracking-software .pricep .list_price ul li {
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .hidden-media-box {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .basic_wr .basic_fe .list_price-no-link > li > span, .premium_wr .premium_fe .list_price-no-link li > span {
    display: none;
  }
}

.padding-reset {
  padding-top: 0 !important;
}

.h2-sm {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 26px !important;
}

.visible-sm-box {
  display: none;
}

@media only screen and (max-width: 700px) {
  .bb-media-sm {
    border-bottom: 1px solid #e8e8e8;
  }
  .visible-sm-box {
    display: block !important;
  }
  .border-none-sm {
    border: none !important;
  }
  .basic_wr .basic_fe .list_price-no-link .feature_list, .premium_wr .premium_fe .list_price-no-link .feature_list {
    padding-bottom: 0 !important;
  }
  .media-sm-block {
    display: block !important;
    padding: 2% 5% !important;
  }
  .list_price-no-link {
    padding: 0 !important;
  }
  .basic_wr.span-list-block .basic_fe .list_price-no-link > li > span, .premium_wr.span-list-block .premium_fe .list_price-no-link li > span {
    display: block !important;
  }
  .padding-none-list + .padding-none-list {
    margin-top: -30px;
  }
  .padding-none-list-sm + .padding-none-list-sm {
    margin-top: -12px;
  }
}

.row-pricing-panel {
  .priceb .list_price ul, .pricep .list_price ul {
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
  }
}

.iphone-tracking-software .priceb .list_price ul li, .iphone-with-jailbreak-monitoring .priceb .list_price ul li, .icloud-iphone-without-jailbreak-monitoring .priceb .list_price ul li {
  margin: auto;
}

.row-pricing-panel .basic_wr + .premium_wr .premium_h {
  border-right: 1px solid #41a9a0;
}

.none-uppercase {
  text-transform: none !important;
}

.table_header span:first-child {
  padding: 0;
  vertical-align: middle;
}

.border-left {
  border-left: 1px solid #dddddd;
}

.premium_wr, .basic_wr {
  width: 50%;
}

.bg_bottom_images .visual-img-pc {
  bottom: -6px;
  /* -1 */
  position: relative;
}

.box-bottom-images .banner-header {
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .premium_wr {
    width: 100%;
  }
  .basic_wr {
    width: 100%;
    .basic_fe .list_price-no-link li {
      padding-left: 50px;
    }
  }
  .premium_wr .premium_fe .list_price-no-link li {
    padding-left: 50px;
  }
  .basic_wr .basic_fe .list_price-no-link li i, .premium_wr .premium_fe .list_price-no-link li i {
    left: 20px;
  }
}

.table_header span:first-child {
  text-transform: none;
}

@media only screen and (max-width: 700px) {
  .row-pricing-panel .priceb .list_price ul li:hover {
    .label_radio::before, .label_check::before {
      margin-top: -8px;
    }
  }
}

.row-pricing-panel {
  .basic_wr .priceb .list-plans, .premium_wr .pricep .list-plans {
    clear: both;
    width: 100%;
    color: #606060;
  }
}

.list-plans {
  .item-plan {
    padding: 0px;
    float: none;
    vertical-align: middle;
    &:first-child {
      margin-right: 0px;
    }
    &:last-child {
      text-align: left;
    }
  }
  i {
    float: right;
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 300;
    text-transform: none;
    color: #606060;
    &.full {
      font-size: 15px;
    }
  }
}

[class^="i-price-plans-small-"], [class*="i-price-plans-small-"], [class^="i-price-plans-big-"], [class*="i-price-plans-big-"] {
  display: block;
}

[class^="i-price-plans-big-"], [class*="i-price-plans-big-"] {
  position: relative;
  width: 112px;
  height: 35px;
}

.i-price-plans-big-basic {
  background: url('../images/plans/basic_plan_packets.png') no-repeat;
}

.i-price-plans-big-premium {
  background: url('../images/plans/premium_plan_packets.png') no-repeat;
}

[class^="i-price-plans-small-"], [class*="i-price-plans-small-"] {
  width: 47px;
  height: 18px;
}

.i-price-plans-small-basic {
  background: url('../images/plans/basic_plan_small_packets.png') no-repeat;
}

.i-price-plans-small-premium {
  background: url('../images/plans/premium_plan_small_packets.png') no-repeat;
}

.text-red {
  color: #cf4857;
}

.box-plans-package {
  position: relative;
  &:first-child {
    border-left: 1px solid #d8f3f1;
  }
  border-top: 1px solid #d8f3f1;
  border-bottom: 1px solid #d8f3f1;
}

#list-plans-premium-package {
  background: #fffefb;
}

#list-plans-basic-package {
  background: #f9f7ee;
  display: inline-block;
  width: 100%;
}

#list-plans-premium-package {
  display: inline-block;
  width: 100%;
}

#list-plans-basic-package > section {
  max-width: 280px;
  margin: 0 auto;
  padding: 6px;
}

#list-plans-premium-package > section {
  max-width: 280px;
  margin: 0 auto;
  padding: 6px;
  &.full {
    max-width: 310px;
    padding: 11px 6px 12px 6px;
  }
}

.webkit #list-plans-premium-package > section.full {
  padding: 11px 6px 11px 6px;
}

#list-plans-premium-package > section.full .list-plans i {
  float: none;
}

.box-small-package {
  width: 75px;
  height: 40px;
  padding-left: 5px;
  vertical-align: middle;
}

.small_package {
  position: relative;
}

.plan-header-premium {
  display: inline-block;
  background: url('../images/plans/header_premium.png') no-repeat;
  width: 105px;
  height: 31px;
}

.banner-header-package {
  p {
    margin-bottom: 0px;
    &:last-child {
      font-size: 14px;
      line-height: 1.2em;
    }
  }
  section:last-child {}
  button {
    top: 10px;
    position: relative;
  }
}

@media only screen and (max-width: 992px) {
  .banner-header-package button {
    top: 0px;
  }
}

.label_radio {
  .sp, .sp_price {
    display: inline-block !important;
  }
}

.box-small-package {
  display: inline-block !important;
}

.label_radio {
  .sp {
    width: 75px;
  }
  .sp_price {
    width: 70px;
  }
}

.coming-soon-icons {
  margin: 0 15px !important;
  display: inline-block;
  width: 27px;
  height: 26px;
  position: relative;
  top: 3px;
}

.coming_soon_block ul li span {
  display: inline;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .coming_soon_block ul li span {
    padding-top: 3px;
    overflow: hidden;
    display: block;
    text-align: center;
  }
}

.cs-ico-skype {
  background: url('../images/icons/coming_soon/i-skype.png') no-repeat;
}

.cs-ico-whatsapp {
  background: url('../images/icons/coming_soon/i-whatsapp.png') no-repeat;
}

.cs-ico-photos {
  background: url('../images/icons/coming_soon/i-phones.png') no-repeat;
}

.cs-ico-notes {
  background: url('../images/icons/coming_soon/i-notes.png') no-repeat;
}

.cs-ico-kik {
  background: url("../images/technological/i-list-features-kik-chat.png") no-repeat;
  background-position: bottom center;
}

[class="cs-ico-*"] {
  background-position: center center;
}

.fulfill-link {
  float: right;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 14px;
  .store-full-link {
    vertical-align: middle;
    float: none;
    right: 0;
    i {
      position: relative;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
    }
  }
}

#choose-subscription-plan .tb_pricing .table_title {
  border-color: #e8e8e8;
  border-style: solid;
  border-width: 1px 1px 0;
}

.fix-m-left {
  margin-left: -1px;
  z-index: 2;
  display: inline-block;
  position: relative;
  border-left: 1px solid #ddd;
}

@media only screen and (max-width: 992px) {
  .fix-m-left {
    border-left: none;
  }
  .pricing-icloud-solution .priceb > .dtable > .dtable-cell {
    display: block;
    &:first-child {
      padding-bottom: 5px;
    }
    &:last-child {
      padding-top: 0px;
    }
  }
}

.icloud-iphone-without-jailbreak-monitoring {
  .premium_wr .premium_fe .list_price-no-link li, .basic_wr .basic_fe .list_price-no-link li {
    min-height: 70px;
    height: 70px;
  }
  .additional-benefits-item .list_price-no-link li {
    min-height: 120px !important;
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .icloud-iphone-without-jailbreak-monitoring .additional-benefits-item .list_price-no-link li {
    min-height: auto !important;
    height: auto !important;
  }
}