.list_category {
    margin: 10px 0px 20px 0px;
}
.list_category li {}

.box_category {
    border: 1px solid #ededed;
    padding: 0px;
}

.box_category > ul > li a {
    color: #4d4f5b;
}

.box_category > ul {}
.box_category > ul > li {
    padding: 8px 11px 7px 11px;
}

.box_category > ul > li > div {
    padding-left: 38px;
}
.box_category > ul > li > .minus,
.box_category > ul > li > .plus {
    min-width: 27px;
    min-height: 27px;
}
.box_category > ul > li > .minus {
    background: url('../images/faq/minus.png') no-repeat;
}
.box_category > ul > li > .plus {
    background: url('../images/faq/plus.png') no-repeat;
}

.box_category > ul > li:nth-child(2n) {
    position: relative;
    background: #f9f9f9 none repeat scroll 0 0;
}

.box_category > ul > li { }
.box_category > ul > li > a {
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}

#tmp-faq .box_category .collapse, 
#tmp-faq .box_category .collapsing {
    padding: 5px 0px;
}
#tmp-faq .box_category .collapse *{
    font-size: 14px;
    line-height: 1.6;
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    color: #888888;
}
#tmp-faq .box_category .collapse > p, 
#tmp-faq .box_category .collapsing > p {
    margin: 0px;
    padding: 7px 0px 0px; 
}

.box_category .box-faq-images {
    padding-top: 7px;
}