.lang-icon-en {
    display: inline-block;
}

//.c-header-germany {
//    width: 182px;
//    height: 107px;
//    background: url(../images/country/icon-germany.png) no-repeat;
//}

//.c-header-brazil {
//    width: 182px;
//    height: 107px;
//    background: url(../images/country/icon-brazil.png) no-repeat;
//}

.lang-icon-en {
    width: 36px;
    height: 18px;
    background: url(../images/country/icon-en-usa.png) no-repeat;
}

.c-icon-root-android {
    width: 46px;
    height: 25px;
    background: url(../images/country/icon-rooted-android.png) no-repeat;
}

.c-icon-sms {
    width: 33px;
    height: 29px;
    background: url(../images/country/icon-sms.png) no-repeat;
}

.c-icon-calls {
    width: 31px;
    height: 31px;
    background: url(../images/country/icon-phones.png) no-repeat;
}

.c-icon-contacts {
    width: 29px;
    height: 29px;
    background: url(../images/country/icon-contacts.png) no-repeat;
}

.c-icon-media-files {
    width: 31px;
    height: 26px;
    background: url(../images/country/icon-media.png) no-repeat;
}

.c-icon-browser-activity {
    width: 29px;
    height: 29px;
    background: url(../images/country/icon-browser-activity.png) no-repeat;
}

.c-icon-app-control {
    width: 32px;
    height: 32px;
    background: url(../images/country/icon-app-control.png) no-repeat;
}

.c-icon-keylogger, .c-icon-skype {
    width: 30px;
    height: 20px;
    background: url(../images/country/icon-keylogger.png) no-repeat;
}

.c-icon-email {
    width: 29px;
    height: 20px;
    background: url(../images/country/icon-email.png) no-repeat;
}

.c-icon-calendars {
    width: 28px;
    height: 28px;
    background: url(../images/country/icon-calendars.png) no-repeat;
}

.c-icon-notes {
    width: 28px;
    height: 28px;
    background: url(../images/country/icon-notes.png) no-repeat;
}

.c-icon-location-geo-fences, .c-icon-location {
    width: 25px;
    height: 32px;
    background: url(../images/country/icon-location-geo-fences.png) no-repeat;
}

.c-icon-chats-social-media {
    width: 27px;
    height: 26px;
    background: url(../images/country/icon-chats-social-media.png) no-repeat;
}

.c-icon-historical-data {
    width: 29px;
    height: 29px;
    background: url(../images/country/icon-historical-data.png) no-repeat;
}

.c-icon-sim-change-alert {
    width: 23px;
    height: 30px;
    background: url(../images/country/icon-sim-change-alert.png) no-repeat;
}

.c-icon-sms-commands {
    width: 33px;
    height: 28px;
    background: url(../images/country/icon-sms-commands.png) no-repeat;
}

.c-icon-anti-theft {
    width: 25px;
    height: 32px;
    background: url(../images/country/icon-anti-theft.png) no-repeat;
}

.c-icon-whatsapp {
    width: 29px;
    height: 20px;
    background: url(../images/country/icon-whatsapp.png) no-repeat;
}

.c-icon-bookmarks {
    width: 30px;
    height: 29px;
    background: url(../images/country/icon-bookmarks.png) no-repeat;
}

.c-icon-kik {
    width: 30px;
    height: 29px;
    background: url(../images/country/icon-kik.png) no-repeat;
}