.mt3 {
    margin-top: 3px;
}

.pl15-imp {
    padding-left: 15px !important;
}

.w100p {
    width: 100%;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.h52 {
    height: 52px;
}

.h60 {
    height: 60px;
}

.h70 {
    height: 70px;
}

.h80 {
    height: 80px;
}

.h90 {
    height: 90px;
}

.h100 {
    height: 100px;
}

.list_numbers_green {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
    > li {
        position: relative;
        padding-left: 20px;
        list-style: none;
        &:before {
            content: counter(li) ".";
            counter-increment: li;
            position: absolute;
            left: 0;
            top: 0px;
            color: #16a89e;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
        }
    }
}

.list_green {
    list-style: outside none none;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    > li {
        position: relative;
        padding-left: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 14px;
        line-height: 19px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0px;
            width: 6px;
            height: 6px;
            margin-top: 0;
            border: 1px solid #16a89e;
            border-radius: 3px;
            background: #16a89e;
        }
    }
}

.list_orange_circle {
    font-size: 15px;
    line-height: 26px;
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    > li {
        position: relative;
        padding-left: 22px;
        padding-top: 1px;
        padding-bottom: 1px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0px;
            width: 10px;
            height: 10px;
            margin-top: 0;
            border: 1px solid #ffba60;
            border-radius: 5px;
        }
    }
}

.font-light {
    font-weight: 300;
}

.background-width {
    background: #fff;
}

.padding-right-null {
    padding-right: 0px !important;
}

.padding-left-null {
    padding-left: 0px !important;
}

.block-number-green {
    display: inline-block;
    background: #16a89e none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding: 7px 12px;
    text-align: center;
    width: 39px;
    height: 39px;
}

.green {
    color: #16a89e;
}

.row-full {
    display: table;
    > div[class*="col-"] {
        display: inline-block;
    }
}

.arrows_green {
    display: inline-block;
    background: url('/images/icons/arrows_green.png') no-repeat;
    width: 6px;
    height: 12px;
}

.bold {
    font-weight: bold;
}

.margin-null {
    margin: 0px;
}

.mt0 {
    margin-top: 0px;
}

.ml5 {
    margin-left: 5px;
}

.mr0 {
    margin-right: 0px;
}

.ml0 {
    margin-left: 0px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mlr-5 {
    margin-right: 5px;
    margin-left: 5px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.pl-5 {
    padding-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.plr-5 {
    padding: 0px 5px;
}

.a-default {
    text-decoration: underline !important;
}

a.a-default:hover {
    text-decoration: none !important;
}

.border-right-ddd {
    border-right: 1px solid #ddd;
}

.block {
    display: block;
}

.ltr {
    direction: ltr;
}

.rtr {
    direction: rtl;
}

.pt5 {
    padding-top: 5px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.display-block {
    display: block !important;
}

.text-left, .block-text-left {
    text-align: left;
}

.text-right, .block-text-right {
    text-align: right;
}

.text-center, .block-text-center {
    text-align: center;
}

.vertical-aligh-middle {
    vertical-align: middle;
}

.vertical-aligh-bottom {
    vertical-align: bottom;
}

.vertical-aligh-top {
    vertical-align: top;
}

@media only screen and (max-width: 480px) {
    .block-text-center, .block-text-left, .block-text-right {
        text-align: center;
    }
    .pc-border-right {
        border-right: none;
    }
    .pc-border-left {
        border-left: none;
    }
    .pc-border-top {
        border-top: none;
    }
    .pc-border-bottom {
        border-bottom: none;
    }
    .mobile-block {
        display: block;
    }
    .mobile-none {
        display: none;
    }
}

@media (min-width: 468px) {
    .block-text-center, .block-text-left, .block-text-right {
        text-align: center;
    }
    .pc-border-right {
        border-right: none;
    }
    .pc-border-left {
        border-left: none;
    }
    .pc-border-top {
        border-top: none;
    }
    .pc-border-bottom {
        border-bottom: none;
    }
    .mobile-block {
        display: block;
    }
    .mobile-none {
        display: none;
    }
}

@media (min-width: 500px) {
    .mobile-block {
        display: none;
    }
    .mobile-none {
        display: block;
    }
}

@media (min-width: 768px) {
    .block-text-center, .block-text-left, .block-text-right {
        text-align: center;
    }
    .pc-border-right {
        border-right: 1px solid #e7e7e7;
    }
    .pc-border-left {
        border-left: 1px solid #e7e7e7;
    }
    .pc-border-top {
        border-top: 1px solid #e7e7e7;
    }
    .pc-border-bottom {
        border-bottom: 1px solid #e7e7e7;
    }
    .mobile-block {
        display: none;
    }
    .mobile-none {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .block-text-center {
        text-align: center;
    }
    .block-text-left {
        text-align: left;
    }
    .block-text-right {
        text-align: right;
    }
    .pc-border-right {
        border-right: 1px solid #e7e7e7;
    }
    .pc-border-left {
        border-left: 1px solid #e7e7e7;
    }
    .pc-border-top {
        border-top: 1px solid #e7e7e7;
    }
    .pc-border-bottom {
        border-bottom: 1px solid #e7e7e7;
    }
    .mobile-block {
        display: none;
    }
    .mobile-none {
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .block-text-center {
        text-align: center;
    }
    .block-text-left {
        text-align: left;
    }
    .block-text-right {
        text-align: right;
    }
    .pc-border-right {
        border-right: 1px solid #e7e7e7;
    }
    .pc-border-left {
        border-left: 1px solid #e7e7e7;
    }
    .pc-border-top {
        border-top: 1px solid #e7e7e7;
    }
    .pc-border-bottom {
        border-bottom: 1px solid #e7e7e7;
    }
    .mobile-block {
        display: none;
    }
    .mobile-none {
        display: inline-block;
    }
}

.block-table {
    display: table;
    > .table-row {
        display: table-row;
        > {
            .table-column {
                display: table-column;
            }
            .table-cell {
                float: none;
                position: static;
                display: table-cell;
                text-align: left;
            }
        }
    }
}

@media (max-width: 768px) {
    .block-table {
        margin: 0 auto;
    }
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.block-list {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
        &:last-child {
            margin-bottom: 0px;
        }
        > i {
            display: block;
            left: 0px;
            margin-top: 4px;
            position: absolute;
        }
    }
}

.f-light {
    font-weight: 300;
}

@media (max-width: 992px) {
    .block-list {
        padding: 0px 0px 0px 15px;
    }
}

.block-statistick, .table-statistick {
    margin: 15px 0px;
    padding: 0px;
    width: 100%;
}

.block-statistick {
    display: inline-block;
    .item {
        display: inline-block;
        padding: 10px 30px;
        min-height: 200px;
        height: 100%;
        &:nth-child(2) {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }
    }
}

.table-statistick .item {
    padding: 10px 15px;
    border-right: 1px solid #cccccc;
}

@media (max-width: 768px) {
    .block-statistick .item:nth-child(2) {
        border: none;
    }
}

.block-statistick .item:last-child, .table-statistick .item:last-child {
    border-right: none;
}

.block-statistick .item > section, .table-statistick .item > section {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    width: 100%;
}

.block-statistick .item strong {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

.table-statistick {
    .item strong {
        font-size: 50px;
        line-height: 50px;
        font-weight: 600;
    }
    .statistick-images {
        width: auto !important;
    }
}

@media (max-width: 468px) {
    .table-statistick {
        display: inline-block;
        .item {
            display: inline;
        }
        tr, tbody {
            display: inline-block;
            width: 100%;
        }
        .statistick-images {
            width: 100% !important;
        }
        .item strong {
            font-size: 35px !important;
            line-height: 35px !important;
        }
    }
}

@media (max-width: 768px) {
    .block-statistick .item, .table-statistick .item {
        border-right: none;
    }
    .block-list {
        display: block;
        margin: 0 auto;
        position: relative;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
    .table-statistick .item strong {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 992px) {
    .table-statistick .item {
        display: inline-block;
    }
}

.list-content {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul {
    &.list-green, &.list-red {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
}

.list-images {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.list-content > li {
    ul {
        margin-bottom: 0px !important;
    }
    &.img-plus, &.img-minus {
        padding: 10px 0px 10px 40px;
        position: relative;
    }
    &.img-plus > img, &.img-minus > img {
        margin-top: -5px;
        margin-left: -40px;
        position: absolute;
    }
}

ul {
    &.list-green li, &.list-red li {
        position: relative;
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-bottom: 10px;
        margin: 10px 0px !important;
    }
    &.list-green .l-imgages, &.list-red .l-imgages {
        display: inline-block;
        left: 0;
        position: absolute;
    }
    &.list-green > li > img, &.list-red > li > img {
        position: absolute;
        margin-left: -30px;
    }
}

.list-images {
    > li {
        position: relative;
        margin-left: 89px !important;
        margin-top: 10px;
        &:first-child {
            margin-top: 0px;
        }
    }
    li > img {
        display: inline-block;
        position: absolute;
    }
    .lc-1 {
        width: 75px;
        height: 79px;
        left: -89px;
    }
    .lc-2 {
        width: 79px;
        height: 70px;
        left: -89px;
    }
    .lc-3 {
        width: 79px;
        height: 49px;
        left: -89px;
    }
}

legend {
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.parental-controls {
    margin-top: 22px;
}

.parental-controls-list {
    display: inline-block;
    position: absolute;
}

.parental-controls {
    img {
        float: left;
        width: 75px !important;
        height: 79px !important;
        left: -89px;
        margin: 0px 10px 21px 0px;
    }
    li {
        list-style-type: none;
        position: relative;
        margin-left: 18px !important;
        margin-top: 20px;
        height: 80px;
    }
}

@media (max-width: 978px) {
    .parental-controls li {
        height: auto;
        margin-left: 0 !important;
    }
}

.internet-safety .list-images .lc-1 {
    left: -30px !important;
}

.send_find_phone fieldset > legend, .send_mobile_operators_find_phone fieldset > legend, .form-contact-us fieldset > legend {
    text-align: center;
}

.send_mobile_operators_find_phone fieldset > {
    div {
        padding: 5px 18px 15px;
        /*    background: #f2f2f2;*/
    }
    legend {
        font-size: 26px;
        font-weight: 300;
        > span {
            font-size: 14px;
        }
    }
}

#compatibility-table article {
    padding: 0px 15px;
    margin-bottom: 0px 0px 28px;
}

#mobile-operators {
    padding: 30px 0px;
    h2 {}
}

.list-operators {
    list-style: none;
    margin: 0px;
    padding: 10px 0px;
    position: relative;
    li {
        display: inline-block;
        min-height: 80px;
        height: 80px;
        line-height: 80px;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        > div {
            display: block;
            position: relative;
            top: 50%;
        }
        img {
            display: block;
            margin: 0px auto;
            vertical-align: middle;
        }
    }
}

@media (max-width: 468px) {
    .list-operators li {
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    .bottom_padding_null {
        padding-bottom: 0px !important;
    }
}

#block-content {
    counter-reset: section;
    h2.incr-number-green {
        font-size: 24px;
        line-height: 1.4em;
        margin: 0px 0px 20px;
        &:before {
            background: #16a89e none repeat scroll 0 0;
            border-radius: 50%;
            color: #fff;
            content: counter(section, decimal);
            counter-increment: section;
            font-size: 26px;
            font-weight: 300;
            margin-right: 10px;
            padding: 0 12px;
        }
    }
}

.pb10 {
    padding-bottom: 10px;
}

.fz13i {
    font-size: 13px !important;
}

.iphone_parental_monitoring #block-table-header .visual-text h1.title {
    font-size: 32px;
}

@media (min-width: 992px) {
    .iphone_parental_monitoring .visual-images-right, .ios-monitoring-software .visual-images-right, .gps-wireless-tracking-phone .visual-images-right, .mobile_sms_spy .visual-images-right {
        padding-left: 60px;
    }
}

@media (min-width: 1200px) {
    .iphone_parental_monitoring .visual-images-right, .ios-monitoring-software .visual-images-right, .gps-wireless-tracking-phone .visual-images-right, .mobile_sms_spy .visual-images-right {
        padding-left: 60px;
    }
}

div.symbol {
    display: inline;
}

.max-width-469 {
    max-width: 469px;
}

@media (max-width: 992px) {
    .max-width-469 {
        max-width: 100%;
    }
}

.nav > li > a {
    &.btn-orange {
        &:hover, &:focus, &:active {
            color: white;
            background-color: #ffd08c;
            text-decoration: none;
        }
    }
    &.btn-red {
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: #d45b69;
            text-decoration: none;
        }
    }
}

@media (max-width: 768px) {
    .nav > li > a {
        &.btn-orange, &.btn-red {
            font-size: 16px !important;
        }
    }
}

@media (max-width: 992px) {
    .nav > li > a {
        &.btn-orange, &.btn-red {
            display: block;
            border-radius: 0px;
            font-size: 16px;
            /* !important */
            font-weight: 300 !important;
            padding: 0px !important;
            line-height: 20px !important;
            background: none;
            min-height: auto;
            min-width: auto;
        }
        &.btn-orange {
            &:hover, &:active, &:focus {
                color: #16a89e !important;
                text-decoration: none !important;
                background: none !important;
            }
        }
        &.btn-red {
            &:hover, &:focus, &:active {
                color: #16a89e !important;
                text-decoration: none !important;
                background: none !important;
            }
        }
    }
}

@media (min-width: 992px) {
    .nav > li > a {
        &.btn-orange {
            display: block;
            border-radius: 5px;
            font-size: 18px !important;
            font-weight: 400 !important;
            line-height: 38px !important;
            padding: 0px !important;
            font-size: 18px;
            font-weight: 400;
            border-radius: 5px;
            background: #f5ac43 none repeat scroll 0 0;
            min-height: 38px;
            min-width: 110px;
        }
        &.btn-red {
            display: block;
            border-radius: 5px;
            font-size: 18px !important;
            font-weight: 400 !important;
            line-height: 38px !important;
            padding: 0px !important;
            font-size: 18px;
            font-weight: 400;
            border-radius: 5px;
            background: #f5ac43 none repeat scroll 0 0;
            min-height: 38px;
            min-width: 110px;
            background: #cf4857 none repeat scroll 0 0;
        }
        &.btn-orange {
            &:hover, &:active, &:focus {
                color: #fff !important;
                text-decoration: none !important;
                background: #ffd08c !important;
            }
        }
        &.btn-red {
            &:hover, &:focus, &:active {
                color: #fff !important;
                background-color: #d45b69 !important;
                text-decoration: none !important;
            }
        }
    }
}

@media (min-width: 1200px) {
    .box-cp > {
        .btn-orange, .btn-red {
            padding: 10px;
        }
    }
    .nav > li > a {
        &.btn-orange, &.btn-red {
            display: none !important;
        }
    }
}

.block_custom_text .blockquate_bottom {
    h1, h2, h3, h4, h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42857;
        color: #7f7f7f;
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    #livechat-compact-container {
        display: none !important;
    }
}

@media (min-width: 468px) {
    #livechat-compact-container {
        display: none !important;
    }
}

@media (min-width: 768px) {
    #livechat-compact-container {
        display: block !important;
    }
}

@media (min-width: 992px) {
    #livechat-compact-container {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    #livechat-compact-container {
        display: block !important;
    }
}

.fz25 {
    font-size: 25px;
}

.fz26 {
    font-size: 26px;
}

.fz27 {
    font-size: 27px;
}

.fz28 {
    font-size: 28px !important;
}

.fz29 {
    font-size: 29px !important;
}

.fz30 {
    font-size: 30px !important;
}

.fz31 {
    font-size: 31px !important;
}

.fz32 {
    font-size: 32px !important;
}

.fz33 {
    font-size: 33px !important;
}

.fz34 {
    font-size: 34px !important;
}

.fz35 {
    font-size: 35px !important;
}

.block-table {
    display: table;
    > .tr {
        display: table-row;
        > .td {
            display: table-cell;
        }
    }
}

.bg-black-1 {
    background: #4d4f5b;
}

.bg-black-2 {
    background: #41434f;
}

.bg-lavel-green-1 {
    background: #2fbeb4;
}

.bg-lavel-green-2 {
    background: #23b2a8;
}

.bg-lavel-green-3 {
    background: #16a89e;
}

.bg-lavel-green-4 {
    background: #199e95;
}

.list-numbers {
    padding: 30px 30px 30px 0px;
    counter-reset: li;
    margin-left: 0;
    > li {
        padding-left: 50px;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0px;
        }
        &:before {
            position: absolute;
            color: #fff;
            content: counter(li);
            counter-increment: li;
            background: #16a89e;
            border-radius: 50%;
            padding: 8px 15px;
            left: 0px;
            top: -10px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
        &.n00:before {
            padding: 10px 8px;
        }
    }
}

.b-column-2, .b-column-1, .view-tb2 {
    margin-left: 30px;
    margin-right: 30px;
}

#useful-links ol > li > a {
    display: inline;
    margin: 0px;
    font-size: 17px;
    &.green {
        color: #16a89e;
    }
}

.b-column-2 {
    > .item-column {
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 26px;
        &:first-child {
            padding-left: 0px;
        }
    }
    .border-right-null {
        border-right: 0px !important;
    }
    .border-left {
        border-left: 1px dotted #e2e2e2;
    }
    .item-column img {
        width: 100%;
    }
}

.view-tb2 .v-tb-item img {
    width: 100%;
}

.b-column-2 .item-column > p {
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 0px;
}

.b-column-1 > .item-number {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 26px;
    > div.block-number-green {
        position: absolute;
        margin-top: -10px;
    }
}

.b-column-2 .item-number > div.block-number-green, .view-tb2 div > .block-number-green {
    position: absolute;
    margin-top: -10px;
}

.b-column-1 > .item-number > div#descriptions, .b-column-2 .item-number > div#descriptions {
    padding-left: 49px;
    font-size: 14px;
    font-weight: 400;
}

.view-tb2 {
    div > #descriptions {
        padding-left: 49px;
        font-size: 14px;
        font-weight: 400;
    }
    .v-tb-item {
        padding: 30px 30px 26px 0px;
        border-bottom: 1px dotted #e2e2e2;
        border-left: 1px dotted #e2e2e2;
        &:last-child {
            border-bottom: none;
        }
    }
    border-top: 1px dotted #e2e2e2;
    border-bottom: 1px dotted #e2e2e2;
    .view-tb-cell {
        &:last-child .v-tb-item {
            padding-left: 30px;
        }
        &:first-child .v-tb-item {
            border-left: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .b-column-2 {
        > .item-column {
            padding-top: 30px;
            padding-right: 30px;
            padding-left: 0px;
            padding-bottom: 26px;
            &:first-child {
                padding-left: 0px;
            }
            border-top: 1px dotted #e2e2e2;
            border-bottom: 0px;
            border-right: 0px;
        }
        &.odd {
            > .item-column {
                border-top: 1px dotted #e2e2e2;
                border-bottom: 0px;
                border-right: 0px;
            }
            border-top: 0px;
            border-bottom: 1px dotted #e2e2e2;
        }
        margin-left: 0px;
        margin-right: 0px;
    }
    .b-column-1, .view-tb2 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .b-column-2 {
        &.odd > .item-column, > .item-column {
            padding-right: 0px;
        }
    }
    .view-tb2 {
        .v-tb-item {
            padding-right: 0px;
        }
        .view-tb-cell:last-child .v-tb-item {
            padding-left: 0px;
        }
    }
}

@media (min-width: 468px) {
    .b-column-2 {
        > .item-column {
            padding-top: 30px;
            padding-right: 30px;
            padding-left: 0px;
            padding-bottom: 26px;
            &:first-child {
                padding-left: 0px;
            }
            border-top: 1px dotted #e2e2e2;
            border-bottom: 0px;
            border-right: 0px;
        }
        &.odd {
            > .item-column {
                border-top: 1px dotted #e2e2e2;
                border-bottom: 0px;
                border-right: 0px;
            }
            border-top: 0px;
            border-bottom: 1px dotted #e2e2e2;
        }
        margin-left: 0px;
        margin-right: 0px;
    }
    .b-column-1, .view-tb2 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .b-column-2 {
        &.odd > .item-column, > .item-column {
            padding-right: 0px;
        }
    }
    .view-tb2 {
        .v-tb-item {
            padding-right: 0px;
        }
        .view-tb-cell:last-child .v-tb-item {
            padding-left: 0px;
        }
    }
}

@media (min-width: 768px) {
    .b-column-2 {
        > .item-column {
            padding-top: 30px;
            padding-right: 30px;
            padding-left: 0px;
            padding-bottom: 26px;
            &:first-child {
                padding-left: 0px;
            }
            border-top: 1px dotted #e2e2e2;
            border-bottom: 0px;
            border-right: 0px;
        }
        &.odd {
            > .item-column {
                border-top: 1px dotted #e2e2e2;
                border-bottom: 0px;
                border-right: 0px;
            }
            border-top: 0px;
            border-bottom: 1px dotted #e2e2e2;
        }
        margin-left: 30px;
        margin-right: 30px;
    }
    .b-column-1, .view-tb2 {
        margin-left: 30px;
        margin-right: 30px;
    }
    .b-column-2 {
        &.odd > .item-column, > .item-column {
            padding-right: 0px;
        }
    }
    .view-tb2 {
        .v-tb-item {
            padding-right: 0px;
        }
        .view-tb-cell:last-child .v-tb-item {
            padding-left: 0px;
        }
    }
}

@media (min-width: 992px) {
    .b-column-2 {
        > .item-column {
            padding-top: 30px;
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 26px;
            &:first-child {
                padding-left: 0px;
            }
            border-bottom: 1px dotted #e2e2e2;
            border-right: 1px dotted #e2e2e2;
            &:last-child {
                border-right: 0px;
            }
        }
        &.odd {
            > .item-column {
                border-top: 0px;
                border-bottom: 0px;
                &:first-child {
                    border-right: 1px dotted #e2e2e2;
                }
            }
            border-top: 0px;
            border-bottom: 1px dotted #e2e2e2;
        }
        margin-left: 30px;
        margin-right: 30px;
    }
    .b-column-1, .view-tb2 {
        margin-left: 30px;
        margin-right: 30px;
    }
    .b-column-2 {
        &.odd > .item-column, > .item-column {
            padding-right: 30px;
        }
    }
    .view-tb2 {
        .v-tb-item {
            padding-right: 30px;
        }
        .view-tb-cell:last-child .v-tb-item {
            padding-left: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .b-column-2 {
        > .item-column {
            padding-top: 30px;
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 26px;
            &:first-child {
                padding-left: 0px;
            }
            border-bottom: 1px dotted #e2e2e2;
            border-right: 1px dotted #e2e2e2;
            &:last-child {
                border-right: 0px;
            }
        }
        &.odd {
            > .item-column {
                border-top: 0px;
                border-bottom: 0px;
                &:first-child {
                    border-right: 1px dotted #e2e2e2;
                }
            }
            border-top: 0px;
            border-bottom: 1px dotted #e2e2e2;
        }
        margin-left: 30px;
        margin-right: 30px;
    }
    .b-column-1, .view-tb2 {
        margin-left: 30px;
        margin-right: 30px;
    }
    .b-column-2 {
        &.odd > .item-column, > .item-column {
            padding-right: 30px;
        }
    }
    .view-tb2 {
        .v-tb-item {
            padding-right: 30px;
        }
        .view-tb-cell:last-child .v-tb-item {
            padding-left: 30px;
        }
    }
}

@media (max-width: 992px) {
    .view-tb2 .v-tb-item {
        border-left: none;
        border-right: none;
    }
}

#tmp-git {
    position: relative;
}

.git-img {
    max-width: auto;
    width: 100%;
    max-height: auto;
    height: 100%;
}

.img-drug {
    max-width: 272px;
    max-height: 617px;
}

.img-technical, .img-apps_ims, .img-emojis, .img-common, .img-sexting, .img-dating {
    max-width: 272px;
    max-height: 610px;
}

#block-git {
    .title {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .box_category {
        background: none;
        border: none;
        padding: 0px;
        ul > li {}
    }
    .block-content {
        padding: 20px 15px;
    }
    .list_orange_circle li {
        &:before {
            margin-top: 8px;
        }
        > {
            label {
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                margin-bottom: 0px;
            }
            p {
                font-weight: 300;
                line-height: 1.3em;
            }
        }
    }
    ol > li {
        font-size: 14px;
        line-height: 1.6em;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .phone-sticky {
        display: none;
    }
}

@media (min-width: 468px) {
    .phone-sticky {
        display: none;
    }
}

@media (min-width: 768px) {
    .phone-sticky {
        display: inline;
    }
}

@media (min-width: 992px) {
    .phone-sticky {
        display: inline;
    }
}

@media (min-width: 1200px) {
    .phone-sticky {
        display: inline;
    }
}

.sticky {
    z-index: 1000;
}

.phone-sticky #b-p-sticky {
    position: relative;
}

#b-p-sticky {
    .block-phone {
        padding: 10px;
    }
    .p-flag {
        height: 13px;
        margin-right: 9px;
        width: 25px;
    }
    .p-number {
        background-position: -33px center;
        color: #fff;
        font-size: 18px;
        font-weight: lighter;
        height: 18px;
        line-height: 18px;
        padding-left: 21px;
        color: #4d4f5b;
    }
    .block-phone > span {
        display: inline-block;
        position: relative;
        z-index: 20;
    }
    .p-number, .p-flag {
        background-image: url("../images/phone/2.png");
        background-repeat: no-repeat;
    }
    .bg-phone {
        background: #efefef none repeat scroll 0 0;
        border-radius: 0 0 25px 25px;
        box-shadow: 0 1px 2px #e5e8e9;
        display: inline-block;
        margin-left: -26px;
        margin-right: -26px;
        opacity: 0.5;
        position: absolute;
        top: 0;
        z-index: 10;
        opacity: 1;
        width: 242px;
        height: 38px;
    }
}

.sticky {
    .in {
        display: block;
    }
    .out {
        display: none;
    }
    &.fixed {
        .in {
            display: none;
        }
        .out {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .sticky {
        &.fixed {
            .in, .out {
                display: none;
            }
        }
        .in, .out {
            display: none;
        }
    }
}

/* ================== // Sticky BAr ================ */

.position-static {
    position: static;
}

#items-stickybar {
    position: relative;
}

/*#content-stickyBar {
    height: 100%;
}*/

/*#item-stickybar {
    border: 1px solid blue;
    min-width: 200px;
    min-height: 200px;
    background-image: url("tile.png");
    box-sizing: border-box;
    box-shadow: inset 0 30px 20px -20px rgba(0,0,0,0.2),
    inset 0 -30px 20px -20px rgba(0,0,0,0.2);
}*/

#block-stickybar {
    z-index: 9999;
    vertical-align: top;
}

#item-stickybar {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    &.float {
        display: block;
        border: 1px solid rgb(255, 255, 0);
        float: left;
    }
}

#block-stickybar.float {
    display: block;
    border: 1px solid rgb(255, 255, 0);
    float: left;
}

#item-stickybar.float.right, #block-stickybar.float.right {
    float: right;
}

#item-stickybar.block, #block-stickybar.block {
    display: block;
    border: 1px solid rgb(0, 255, 255);
}

#tmp-faq .form-faq select {
    width: 100%;
    min-width: 100%;
}

/* ============== // btn green ================= */

.btn-gree {
    display: inline-block;
    background: #16a89e;
    background-clip: padding-box;
    border: medium none;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    padding: 16px 30px;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    &:hover {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
    }
}

.button-more-detailes {
    margin-top: 36px;
}

.text-right-important {
    text-align: right !important;
}

@media (max-width: 768px) {
    .text-right-important {
        text-align: center !important;
    }
}

.usefulness-parental .list-images .lc-1 {
    left: -30px;
}

.text-center {
    text-align: center;
}

.hr-grey {
    border-top: 2px solid #e8e8e8;
    margin: 25px 0px 25px 0;
}

/* Block App Market */

.apps-store {
    margin: auto;
    float: none;
}

.store-links {
    text-align: center;
}

.free-pumpic-control {
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    span {
        font-weight: 700;
        font-size: 19px;
    }
}

.apps-store-text {
    margin: auto;
    padding: 0 50px 0 50px;
    font-size: 13px;
    text-align: center;
}

@media (max-width: 550px) {
    .apps-store-text {
        padding: 0;
    }
}

/* END Block App Market  */