#b-recommended-by .container{
    display: flex;
}

#b-recommended-by .item{
    flex:1;
}

.item_link img{
    margin: 15px 15px
}


.recommended_links{
    width: 70%;
}

.recommended_member{
    width: 30%;
}

.recommended_member .title{
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 15px;
}

.recommended_links .title{
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 15px;
}

.recommended_member .ri-anti-bullying{
    display: block;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: $breakpoint-medium) {
    #b-recommended-by .container{
        display:block;
    }

    #b-recommended-by .item{
       text-align: center;
        margin: 0 auto;

    }

    .recommended_links{
        width: 100%;
    }

    .recommended_member{
        width: 100%;
        margin-top: 40px
    }

    .item_link img{
        margin: 10px 10px;
    }

}

.item_link .huffington{
    margin: 0 35px 0 35px;
}

.item_link .business{
    margin: 0 30px;
}

@media (max-width: $breakpoint-extra) {
    .item_link img, .item_link .business, .item_link .huffington{
        margin: 10px 6px;
        width: 120px;
    }
    #b-recommended-by .item{
        max-width: 500px;
    }
}

.b-o-hover {
    opacity: 0.5;
    transition: all .1s;
    &:hover {
        opacity: 1;
    }
}