.box-video-constructors {
    position: relative;
}
.box-video-constructors > img {
    z-index: 10;
}

.box-video-constructors .box-hover {
    display: inline;
    cursor: pointer;
}

.box-video-constructors > div#block-video,
.box-video-constructors > div#mobile-block-video {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.box-video-constructors .video-arrows,
.box-video-constructors .video-buttons, 
.box-video-constructors .mobile-video-arrows, 
.box-video-constructors .mobile-video-buttons {
    display: inline-block;
    z-index: 20;
    
}

.box-video-constructors .video-arrows {
/*    position: relative;
    background: url('../images/video/video-arrows.png') no-repeat;
    width: 161px;
    height: 161px;
    top: -31px;*/

    position: absolute;
    background: url('../images/video/video-arrows.png') no-repeat;
    height: 161px;
    left: -146px;
    position: absolute;
    top: -101px;
    width: 161px;
}

.box-video-constructors .mobile-video-arrows {
    background: url('../images/video/m-video-arrows.png') no-repeat;
    background-size: 100% 100%;
    height: 86px;
    left: -171px;
    max-width: 161px;
    position: absolute;
    top: -52px;
    width: 161px;
}

.visual-images-right.box-video-constructors .mobile-video-arrows {
    left: -146px;
    top: -26px;
}

/* ----------- response mobile --------- */

@media (max-width: 360px) { 
    .box-video-constructors .mobile-video-arrows,
    .visual-images-right.box-video-constructors .mobile-video-arrows {  
        display: none !important;
    }
}

@media only screen and (max-width: 410px) {
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        display: block;
    }
    .box-video-constructors .mobile-video-arrows { 
           width: 100px; 
           left: -111px;
    }
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        left: -107px;
        top: -26px;
        width: 120px;
    } 
    
}



@media (min-width: 468px) {
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        left: -107px;
        top: -26px;
        width: 120px;
    } 
}

@media (min-width: 500px) {
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        display: block;
    }
    .box-video-constructors .mobile-video-arrows { 
           width: 161px; 
           left: -171px;
    }
/*    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        left: -86px;
        top: -26px;
        width: 120px;
    } */

    .visual-images-right.box-video-constructors .mobile-video-arrows {
        width: 161px; 
        left: -146px;
        top: -26px;
    }
}

@media (min-width: 768px) { 
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        display: block;
    }
    .visual-images-right.box-video-constructors{  
        padding-top: 0px;
    }
    
    .visual-images-right.box-video-constructors .mobile-video-arrows {
        width: 161px; 
        left: -146px;
        top: -26px;
    }
}

@media (min-width: 992px) { 
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        display: block;
    }
    .visual-images-right.box-video-constructors{  
        padding-top: 30px;
    }
    
    .visual-images-right.box-video-constructors .mobile-video-arrows {
        width: 161px; 
        left: -146px;
        top: -26px;
    }
}

@media (min-width: 1200px) { 
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        display: none;
    }
    .visual-images-right.box-video-constructors{  
        padding-top: 0px;
    }
    
    .visual-images-right.box-video-constructors .mobile-video-arrows {
        width: 161px; 
        left: -146px;
        top: -26px;
    }
}


@media (max-width: 768px) {
    .visual-images-right.box-video-constructors .mobile-video-arrows { 
        left: -107px;
        top: -26px;
        width: 120px;
    } 
}

.box-video-constructors .block-video-button {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -53.5px 0px 0px -54.5px;
    width: 107px;
    height: 109px;
    z-index: 20;
/*    cursor: pointer;*/
}

.box-video-constructors .mobile-block-video-button { 
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 52px;
    height: 58px;
    margin: -29px 0px 0px -26px;
}

.box-video-constructors .block-video-button .hover-video-buttons {
    display: none;
    position: absolute;
    left:0px;
    top:0px;
    width: 107px;
    height: 109px;
    z-index: 30;
}

.box-video-constructors .block-video-button .video-buttons {
    display: block;
    height: 67px;
    left: 26.5px;
    position: relative;
    top: 22px;
    width: 59px;
    z-index: 20;
}

/* --------------- // video popUp ----------------- */
#myModal .modal-content {
/*    top: 100px;*/
    border: 0px;
}
.video-overlay {
    background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1200;
}
.video-wrapper {
    position: absolute;
    width: 100%;
}

.video-inner {
    display: block;
/*    height: 520px;
    width: 820px;*/
    margin: 0 auto;
    padding: 25px 15px;
/*    padding: 25px;*/
    position: relative;
}

.video-wrapper .video-close {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -200px -50px;
    border: 0 none;
    cursor: pointer;
    height: 19px;
    outline: medium none;
    position: absolute;
    right: 0;
    top: 0;
    width: 19px;
}

.video-wrapper iframe {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.video-wrapper .modal-header {
    border-bottom: 0px;
    padding: 10px;
}
.video-wrapper .modal-body {
    padding: 10px;
}
.video-wrapper .modal-footer {
    border-top: 0px;
    padding: 10px;
    text-align: left;
}