.padding-null { padding: 0px !important; }

/* ==== // banners ====== */
.box-right-banners {
    text-align: center;
}
.box-right-banners label {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box-right-banners a {
    display: inline-block;
}
.box-right-banners a:hover { cursor: pointer; }
.box-right-banners img {
    max-width: 295px;
    width: 100%;
    max-height: 199px;
    height: 100%;
}

.wp-blog .list_grey li a {
    color: #4d4f5b;
}

.wp-blog .bg-footer .list_grey li a {
    color: #7f7f7f;
}

.wp-blog .list_grey li a:hover {
    text-decoration: underline;
}

.nav > li > a.btn-orange:hover,
.nav > li > a.btn-orange:focus,
.nav > li > a.btn-orange:active {
  color: white;  
  background-color: #ffd08c;
  text-decoration: none;
}

.nav > li > a.btn-red:hover,
.nav > li > a.btn-red:focus,
.nav > li > a.btn-red:active {
  color: #fff;  
  background-color: #d45b69;
  text-decoration: none;
}

@media (max-width: 768px) {  
    .nav > li > a.btn-orange,
    .nav > li > a.btn-red {
        font-size: 16px !important;
    }
}

@media (max-width: 992px) { 
    .nav > li > a.btn-orange,
    .nav > li > a.btn-red {
        display: block;
        border-radius: 0px;
        font-size: 16px; /* !important */
        font-weight: 300 !important;
        padding: 0px !important;
        line-height: 20px !important;
        background: none;
        min-height: auto;
        min-width: auto;
    }
    
    .nav > li > a.btn-orange:hover, 
    .nav > li > a.btn-orange:active,
    .nav > li > a.btn-orange:focus,
    .nav > li > a.btn-red:hover,
    .nav > li > a.btn-red:focus,
    .nav > li > a.btn-red:active {
        color: #16a89e !important;
        text-decoration: none !important;
        background: none !important;
    }
}

@media (min-width: 992px) { 
    
    .nav > li > a.btn-orange,
    .nav > li > a.btn-red {
        display: block;
        border-radius: 5px;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 38px !important;
        padding: 0px !important;
        
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
        
        background: #f5ac43 none repeat scroll 0 0;
        
        min-height: 38px;
        min-width: 110px;
    }
    
    .nav > li > a.btn-red {
        background: #cf4857 none repeat scroll 0 0;
    }
    
    .nav > li > a.btn-orange:hover, 
    .nav > li > a.btn-orange:active,
    .nav > li > a.btn-orange:focus {
        color: #fff !important;
        text-decoration: none !important;
        background: #ffd08c !important;
    }
    
    .nav > li > a.btn-red:hover,
    .nav > li > a.btn-red:focus,
    .nav > li > a.btn-red:active {
      color: #fff !important;  
      background-color: #d45b69 !important;
      text-decoration: none !important;
    }
}

@media (min-width: 1200px) { 
    .box-cp > .btn-orange,
    .box-cp > .btn-red { padding: 10px; }
    .nav > li > a.btn-orange,
    .nav > li > a.btn-red {
        display: none !important;
    }
}

