<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>

			</div>
		</div>
		<div class="very_easy">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="row">
							<h2>blog</h2>
							<p class="text-center">Find company updates and some of our most popular posts</p>
							<div class="col-lg-8 col-md-8 col-sm-12">
								<article>
									<h3>TOPSPY SOFTWARE</h3>
									<div class="list_tags">
										<span class="date">August 14, 2014</span>
										<strong>Posted by to</strong>
										<a href="#">Android</a>
										<a href="#">Android</a>
										<a href="#">Android</a>
										<a href="#">And roid</a>
									</div>
									<p class="text-justify">For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime. Thanks to a little help from Skype, not only did fans of Guardians of the Galaxy get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime. Thanks to a little help from Skype, not only did fans of Guardians of the Galaxy get to see the movie long before its release, they also got closer than they ever thought possible to the cast.</p>
									<div class="text-center">
										<img src="images/img_article.png" height="303" width="472" alt="">
									</div>
									<h4>Thanks to a little help from Skype</h4>
									<p class="text-italic">For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime.</p>
									<p class="text-justify">Thanks to a little help from
										<a href="#">Skype</a>, not only did fans of Guardians of the Galaxy get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime. Thanks to a little help from Skype, not only did fans of Guardians of the
										<a href="#">Galaxy</a> get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime. Thanks to a little help from Skype, not only did fans of Guardians of the Galaxy get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime.</p>
									<h4>Thanks to a little help from Skype</h4>
									<p class="text-italic">For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime.</p>
									<p class="text-justify">Thanks to a little help from
										<a href="#">Skype</a>, not only did fans of Guardians of the Galaxy get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime. Thanks to a little help from Skype, not only did fans of Guardians of the
										<a href="#">Galaxy</a> get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime. Thanks to a little help from Skype, not only did fans of Guardians of the Galaxy get to see the movie long before its release, they also got closer than they ever thought possible to the cast. For a die-hard Marvel fan, waiting for the next film to come out can feel like a lifetime.</p>
									<ol>
										<li>Samsung Galaxy Core Advance with preinstalled android spy app</li>
										<li>How to Protect kids from Online predators with Cell phone tracker</li>
										<li>How to protect your Phone with cell phone tracker</li>
									</ol>
									<ul class="feature_list">
										<li>Samsung Galaxy Core Advance with preinstalled android spy app</li>
										<li>How to Protect kids from Online predators with Cell phone tracker</li>
										<li>How to protect your Phone with cell phone tracker</li>
									</ul>
									<div class="related_row">
										<h4>Related articles</h4>
										<a href="#">Cherub Joins the Ones To Watch With Skype Tour</a>
										<a href="#">Kid Ink Fans Create Skype Moments on the Ones To Watch with Skype Tour</a>
										<a href="#">A Who’s Who of Most Interesting Skype Users</a>
									</div>
								</article>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="thumb_sidebar thumb_warning">
									<span class="img_thumb"><img src="images/img_photo_white.png" height="72" width="138" alt=""></span>
									<div class="caption">
										<h3>GET IN LINE TO TRY TOPSPY</h3>
										<p>We've introduced our new cell phone spying software to help you track you underage kids, and increase your business safety.</p>
										<p class="text-center">
											<a href="#" class="btn btn-default" role="button">Buy NOW</a>
											<a href="#" class="btn btn-warning" role="button">View DEMO</a>
										</p>
									</div>
								</div>
								<div class="feature_list">
									<h3>POPULAR POSTS</h3>
									<ul>
										<li>
											<a href="#">handy-spion</a>
										</li>
										<li>
											<a href="#">Samsung Galaxy Core Advance with preinstalled android spy app</a>
										</li>
										<li>
											<a href="#">How to Protect kids from Online predators with Cell phone tracker</a>
										</li>
										<li>
											<a href="#">How to protect your Phone with cell phone tracker</a>
										</li>
										<li>
											<a href="#">Samsung Galaxy J release with preinstalled Android spy</a>
										</li>
										<li>
											<a href="#">Tips on How to Protect your security online with Spy software</a>
										</li>
										<li>
											<a href="#">How to protect yourself from a theft with a Cell phone spy ?</a>
										</li>
										<li>
											<a href="#">Best 3 cheap Android devices to Spy on</a>
										</li>
										<li>
											<a href="#">Top 3 Tablets with mobile spy to consider as a Christmas Gift</a>
										</li>
										<li>
											<a href="#">Samsung Grand 2 and its cell phone spying opportunities</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
