<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="very_easy">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="row">
							<h2>Compatibility</h2>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter device name">
									<span class="input-group-btn"><button class="btn btn-warning" type="submit">Search</button></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="thumb">
									<span class="ico-left"><i class="icon-apple"></i></span>
									<span>OS:<strong> iOS</strong></span><span>Versions:<strong> 6.0 or later (with jailbreak)</strong></span>
									<a href="#" class="text-succes">view all devices on iOS</a>
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="thumb">
									<span class="ico-left"><i class="icon-android"></i></span>
									<span>OS:<strong> iOS</strong></span><span>Versions:<strong> 6.0 or later (with jailbreak)</strong></span>
									<a href="#" class="text-succes">view all devices on iOS</a>
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="thumb">
									<span class="ico-left"><i class="icon-blackberry"></i></span>
									<span>OS:<strong> iOS</strong></span><span>Versions:<strong> 6.0 or later (with jailbreak)</strong></span>
									<a href="#" class="text-succes">view all devices on iOS</a>
								</div>
							</div>
						</div>
						<div class="row">
							<h3 class="col-lg-12"><a href="#">Apple iPhone 3GS</a></h3>
							<div class="col-sm-4 col-md-4">
								<div class="thumbnail">
									<a href="#" class="img_thumb">
										<img src="images/iphone.jpg" height="202" width="90" alt="">
									</a>
									<div class="caption">

										<span>OS:<strong> iOS</strong></span>
										<span>Versions:<strong> 6.0 or later (with jailbreak)</strong></span>
									</div>
								</div>
							</div>
							<div class="col-sm-8 col-md-8">
								<ul class="option_list">
									<li>
										<span>Manage calls</span>
										<ul>
											<li>
												Calls logging
											</li>
											<li>
												Blocking calls & SMS by number
											</li>
										</ul>
									</li>
								</ul>
								<ul class="option_list">
									<li>
										<span>Manage SMS</span>
										<ul>
											<li>
												Viber
											</li>
											<li>
												Whatsapp
											</li>
										</ul>
									</li>
								</ul>
								<ul class="option_list">
									<li>
										<span>Instant messangers</span>
										<ul>
											<li>
												SMS logging
											</li>
										</ul>
									</li>
								</ul>
								<ul class="option_list">
									<li>
										<span>Browser</span>
										<ul>
											<li>
												Browser history
											</li>
											<li>
												Browser bookmarks
											</li>
										</ul>
									</li>
								</ul>
								<ul class="option_list">
									<li>
										<span>Other features</span>
										<ul>
											<li>
												Current GPS location
											</li>
											<li>
												View calendar
											</li>
											<li>
												View contacts
											</li>
											<li>
												Record surroundings
											</li>
											<li>
												View photos
											</li>
											<li>
												View videos
											</li>
											<li>
												Read Emails
											</li>
											<li>
												Applications list | Blocking Apps
											</li>
											<li>
												SIM change notification
											</li>
											<li>
												Keylogger
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<p class="blockquate_bottom">
									iOS (previously named iPhone OS) is an operating system for mobile devices, made and sold by Apple Inc. It is the main operating system of the iPhone, the iPod Touch, and the iPad. It is Apple's mobile operating system for its iPhone, iPod touch, iPad, Apple TV and similar devices. iOS was originally called the iPhone OS but was renamed in 2010 to reflect the operating system’s evolving support for additional Apple devices.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="promo">
			<div class="container">
				<div class="row">
					<div class="vertical_m">
						<div class="visible-lg">
							<img src="images/buy_now_img.png" height="132" width="467" alt="">
						</div>
						<div class="promo-text">
							TURN ON SPYING SOFTWARE
							<br>
							<span>REVEAL THE TRUTH</span>
						</div>
						<div>
							<button class="btn btn-default">Buy NOW</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
