<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="very_easy">
			<div class="container">
				<div class="col-lg-10 col-lg-offset-1">
					<div class="row text-center">
						<h2>CONTACT US</h2>
						<p class="text-justify">Topspy is a team gathered around idea to make the world a better place, we’ve created user-friendly tablet and cell phone tracking solution for iOs, Android and Blackberry based devices. Whether you are a concerned parent or company owner application will deliver the solution you deserve. We know what it means security for your information and safeness for your loved once. If you have any questions, information, request, partnership or press enquiries, please fill free to contact us using any of provided channels:</p>
						<p>
							<a href="#" class="link_bordered">
								<strong>Customer care</strong>– support-at-topspyapp.com</a>
							<br />
							<a href="#" class="link_bordered">
								<strong>Marketing Department</strong>– marketing-at-topspyapp.com</a>
							<br />
						</p>
						<p>
							<span><strong>Company:</strong> RiseSystemiconWeb International Ltd.</span>
							<br />
							<span><strong>Address:</strong> Leoforus Spyrou Kyprianou, 67, Kuriakides Business Center , 4003, Limassol, Cyprus </span>
						</p>
					</div>
					<div class="row">
						<!-- <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3"> -->
							<div class="form">
								<form>
									<fieldset>
										<legend>Or send your question to us
										</legend>
										<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Name*">
											</div>
											<div class="form-group">
												<input type="email" class="form-control" placeholder="e-mail*">
											</div>
											<div class="form-group">
												<select class="select">
													<option value="">iOS</option>
													<option value="">Android</option>
													<option value="">blackberry</option>
												</select>
											</div>
											<div class="form-group">
												<textarea rows="10" placeholder="question*"></textarea>
											</div>
											<p>Make sure you have read
												<a href="#">FAQ </a>before submitting a ticket</p>
											<button class="btn btn-warning">Submit Ticket<i class="icon-right-open"></i>
											</button>
										</div>
									</fieldset>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>

		<div class="promo">
			<div class="container">
				<div class="row">
					<div class="vertical_m">
						<div class="visible-lg">
							<img src="images/buy_now_img.png" height="132" width="467" alt="">
						</div>
						<div class="promo-text">
							TURN ON SPYING SOFTWARE
							<br>
							<span>REVEAL THE TRUTH</span>
						</div>
						<div>
							<button class="btn btn-default">Buy NOW</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
