<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="very_easy">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="row">
							<div class="col-lg-12">
								<h2>FREQUENTLY ASKED QUESTIONS</h2>
								<div class="tab_category">
									<h4 class="text-success text-center">choose your category:</h4>
									<ul class="list_category">
										<li>
											<a href="#">Start</a>
										</li>
										<li>
											<a href="#">What is TopSpy app</a>
										</li>
										<li class="active">
											<a href="#">install</a>
										</li>
										<li>
											<a href="#">platform compatibility</a>
										</li>
										<li>
											<a href="#">price</a>
										</li>
										<li>
											<a href="#">other</a>
										</li>
									</ul>
									<div class="box_category">
										<ul>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse1">What is TopSpy app and how does it work?</a>
												<div id="collapse1" class="collapse in">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse2">Do I need to have physical access to the target device in order to install the app?</a>
												<div id="collapse2" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse3">How do I add more than one device to the Control Panel?</a>
												<div id="collapse3" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse4">How do I start?</a>
												<div id="collapse4" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse5">How do I install it?</a>
												<div id="collapse5" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse6">The installation process is simple and quick. The guidelines on how to install the application on iOS, Android and Blackberry devices can be found here</a>
												<div id="collapse6" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse7">Is the app connected to a cellular carrier or a device itself? If the SIM card is switched on the target phone, will it still work?</a>
												<div id="collapse7" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse8">How and where can I view another person’s text messages/ phone calls?</a>
												<div id="collapse8" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse9">Can I install it remotely?</a>
												<div id="collapse9" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse10">What is the price for Pro / Pro+ / Business plan?</a>
												<div id="collapse10" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse11">To view the prices and descriptions of the available plans click here</a>
												<div id="collapse11" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse12">If I upgrade my plan, will I have to pay the difference only or will I get charged the full cost?</a>
												<div id="collapse12" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse13">How do I cancel my account?</a>
												<div id="collapse13" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse14">How do I update the app on the target phone?</a>
												<div id="collapse14" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse15">Do I have to install it on my phone or on the phone I will be spying on?</a>
												<div id="collapse15" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse16">How do I turn off the automatic billing option?</a>
												<div id="collapse16" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse17">What payment methods are available?</a>
												<div id="collapse17" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse18">Is there a limit per day? What do I do if I have reached the limit on my subscription plan?</a>
												<div id="collapse18" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse19">How do I record Surroundings?</a>
												<div id="collapse19" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse20">How do I set up the call recording option?</a>
												<div id="collapse20" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse21">How does the password blocking feature work?</a>
												<div id="collapse21" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse22">How long does it take to upgrade my account after submitting the payment?</a>
												<div id="collapse22" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse23">Does the app have any notifications, icons?</a>
												<div id="collapse23" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse24">How do I block incoming calls?</a>
												<div id="collapse24" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse25">Do I have to jailbreak an iOS device to install the app?</a>
												<div id="collapse25" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse26">Does the target Android phone have to be rooted in order to install the app?</a>
												<div id="collapse26" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse27">In what cases does the app require the Internet?</a>
												<div id="collapse27" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse28">How do I contact you, if I need help?</a>
												<div id="collapse28" class="collapse in">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse29">How can I get a refund?</a>
												<div id="collapse29" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse30">What devices does this app support?</a>
												<div id="collapse30" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse31">How can I find out if I have reached the limit on my plan?</a>
												<div id="collapse31" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse32">How to start tracking BBM?</a>
												<div id="collapse32" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse33">Can I switch my plan to another device?</a>
												<div id="collapse33" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse34">Can I add another cell phone to my subscription plan?</a>
												<div id="collapse34" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse35">How can I restore Cydia icon?</a>
												<div id="collapse35" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse36">Uninstall on iOS</a>
												<div id="collapse36" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
											<li>
												<a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse37">Uninstall on Android</a>
												<div id="collapse37" class="collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iusto fugit temporibus tenetur obcaecati delectus debitis, velit ullam, dolores, impedit minima itaque nesciunt voluptate non a! A, deserunt tenetur consequatur.</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
								<div class="form">
									<form>
										<fieldset>
											<legend>Or send your question to us
											</legend>
											<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Name*">
												</div>
												<div class="form-group">
													<input type="email" class="form-control" placeholder="e-mail*">
												</div>
												<div class="form-group">
													<textarea rows="10" placeholder="question*"></textarea>
												</div>
												<button class="btn btn-warning">Send
												</button>
											</div>
										</fieldset>
									</form>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
