<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg visible-md"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg hidden-md"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="very_easy">
			<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<h2>TOPSPY – SPYING SOLUTION FOR PRECISE PHONE TRACKING</h2>
								<p class="text-center">TopSpy can show all incoming and outgoing texts from the targeted phone. Besides this you have access to all the messages coming from Skype, WhatsApp, Viber and even Facebook!</p>
							</div>
						</div>
						<div class="row">
							<div class="dtable">
								<div class="dhead">
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<h3>FEATURES:</h3>
											<div class="dth">
												<span>Plan: </span>
												<a href="#">Basic</a>
												<a href="#">PRO</a>
											</div>
											<!-- dtd -->
											<div class="dth">
												<span>OS: </span>
												<i class="icon-android"></i>
												<i class="icon-apple"></i>
												<i class="icon-blackberry"></i>
											</div>
											<!-- dtd -->
										</div>
										<div class="col-lg-7 col-md-7">
											<h3 class="lg_dheader">about</h3>
										</div>
									</div>
									<!-- row -->
								</div>
								<!-- dhead -->
								<div class="dtitle">
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">Basic</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												<h4 class="text-success">Reed the features info and choose a plan you need</h4>
											</div>
										</div>
									</div>
									<!-- row -->
								</div>
								<div class="dbody">
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-screens">Screens:</span>
														<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic2" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic3" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic3" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic4" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic4" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic5" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic5" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic5" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
								</div>
								<!-- dbody -->
								<div class="dtitle">
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">PRO</div>
										</div>
									</div>
									<!-- row -->
								</div>
								<div class="dbody">
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-screens">Screens:</span>
														<div id="carousel-example-generic6" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic6" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic6" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic7" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic7" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic7" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic8" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic8" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic8" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic9" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic9" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic9" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
									<div class="row">
										<div class="col-lg-5 col-md-5">
											<div class="dtd">View Call History</div>
											<!-- dtd -->
											<div class="dtd"><i class="icon-android"></i><i class="icon-apple"></i><i class="icon-blackberry"></i></div>
											<!-- dtd -->
											<div class="dtd"><strong>Basic<br />pro</strong></div>
											<!-- dtd -->
											<div class="popover">
												<div class="row">
													<div class="col-lg-7">
														<h3>GET ACCESS TO CALENDAR AND CONTACTS</h3>
														<p>Use TopSpy to get all the contacts saved in the address book on the targeted device. Be posted on calendar events as well.</p>
														<span class="text-success">Screens:</span>
														<div id="carousel-example-generic9" class="carousel slide" data-ride="carousel">
															<div class="carousel-inner">
																<div class="item active">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
																<div class="item">
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																	<a href="#">
																		<img src="images/slider_1.jpg" height="97" width="74" alt="">
																	</a>
																</div>
															</div>

															<!-- Controls -->
															<a class="left carousel-control" href="#carousel-example-generic9" data-slide="prev"></a>
															<a class="right carousel-control" href="#carousel-example-generic9" data-slide="next"></a>
														</div>
													</div>
													<div class="col-lg-5">
														<div class="list_plans">
															<p>Plans:
																<strong>Basic</strong>
																<strong>pro</strong>
															</p>
															<p><i class="icon-android"></i><span>2.2 - 4.4</span>
															</p>
															<p><i class="icon-apple"></i><span>3.1.3 - 7.1.1  (exept 6.1.2)</span>
															</p>
															<p><i class="icon-blackberry"></i><span>1.0 - 7.1</span>
															</p>
														</div>
														<div class="price-box">
															<h3>Basic</h3>
															<div class="price">
																3 month -$199.99
															</div>
															<button class="btn btn-default">Buy Basic</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="dtd">
												Use the software to get all inbound/outbound call logs with names, cell phone numbers, duration and timestamps.
											</div>
										</div>
									</div>
									<!-- row -->
								</div>
								<!-- dbody -->
							</div>
							<!-- dtable -->
						</div>
			</div>
		</div>

		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
