<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="very_easy">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="row">

						</div>
					</div>
				</div>
				<div class="row">
					<h2>HOW TOPSPY KIDS AND EMPLOYEES TRACKING SOLUTION WORKS</h2>
					<ul class="thumbs">
						<div class="col-sm-12 col-md-4">
							<div class="thumbnail">
								<span class="img_thumb"><img src="images/thumb_1.png" height="216" width="360" alt=""></span>
								<div class="caption">
									<h3>Ярлык эскиза</h3>
									<p>Choose the subscription plan that meets your needs with the period you would like to purchase it for. On the checkout page - enter your valid billing information. The payment procedure is completely secure, privacy is kept this is 100% guaranteed. After payment is done - your account will be created automatically, check your inbox for the Welcome letter from TopSpy with log in details and instructions.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="thumbnail">
								<span class="img_thumb"><img src="images/thumb_2.png" height="206" width="172" alt=""></span>
								<div class="caption">
									<h3>Easy installation</h3>
									<p>Choose the subscription plan that meets your needs with the period you would like to purchase it for. On the checkout page - enter your valid billing information. The payment procedure is completely secure, privacy is kept this is 100% guaranteed. After payment is done - your account will be created automatically, check your inbox for the Welcome letter from TopSpy with log in details and instructions.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="thumbnail">
								<span class="img_thumb"><img src="images/thumb_3.png" height="216" width="360" alt=""></span>
								<div class="caption">
									<h3>Reveal the truth</h3>
									<p>Choose the subscription plan that meets your needs with the period you would like to purchase it for. On the checkout page - enter your valid billing information. The payment procedure is completely secure, privacy is kept this is 100% guaranteed. After payment is done - your account will be created automatically, check your inbox for the Welcome letter from TopSpy with log in details and instructions.</p>
								</div>
							</div>
						</div>
					</ul>
					<div class="arrow_bottom">
						<span><a href="#"><i class="icon-angle-down"></i></a></span>
						<h3>INSTALLATION GUIDE</h3>
					</div>
				</div>
				<div class="row">
					<ul class="thumbs_video">
						<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="ico-top"><i class="icon-android"></i>
							</div>
							<a href="#">
								<img src="images/video_thumb1.png" height="345" width="566" alt="">
							</a>
						</li>
						<li class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
							<div class="ico-top"><i class="icon-apple"></i>
							</div>
							<a href="#">
								<img src="images/video_thumb2.png" height="345" width="566" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row row_bottom_border bg_white">
				<div class="container">
					<div class="col-sm-7 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<div class="row">
							<div class="col-sm-5 col-md-5 col-lg-5">
								<div class="panel">
									<div class="panel-heading">
										BASIC
									</div>
									<div class="panel-body text-center">
										<div class="price">
											$18<sup>33</sup>/<sub>month</sub>
										</div>
										<button class="btn btn-default">Buy Basic</button>
									</div>
								</div>
							</div>
							<div class="col-sm-7 col-md-7 col-lg-7">
								<div class="panel panel-bestvalue">
									<div class="panel-heading">
										PREMIUM
									</div>
									<div class="panel-body text-center">
										<div class="price">
											$18<sup>33</sup>/<sub>month</sub>
										</div>
										<button class="btn btn-default">Buy Premium</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-2 text-center">
						<ul class="view-links">
							<li>
								<a href="#" class="featured-link">View all prices<i class="icon-angle-double-right"></i>
								</a>
							</li>
							<li>
								<a href="#" class="featured-link link-hl">View demo<i class="icon-angle-double-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<h3 class="link_circle"><a href="#" class="text-success">
					<span class="circle_ico"><i class="icon-help"></i></span>
					FREQUENTLY ASKED QUESTIONS</a></h3>
				</div>
			</div>
		</div>
		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
