<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title></title>

	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/fancy_checkbox.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<a href="#" class="go_up"></a>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<nav class="navbar" role="navigation">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#">cellspy</a>
								</div>
							</div>
							<button class="btn btn-sm btn-success pull-right visible-lg"><i class="icon-lock"></i> Log In</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Compatibility</a>
									</li>
									<li>
										<a href="#">Pricing</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li>
										<a href="#">How to</a>
									</li>
									<li>
										<a href="#">FAQ</a>
									</li>
									<li>
										<a href="#">Demo</a>
									</li>
									<li>
										<button class="btn btn-sm btn-success hidden-lg"><i class="icon-lock"></i> Log In</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="very_easy">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="row">
							<div class="col-lg-12">
								<h2>REFUND POLICY</h2>
								<article>
									<h3 class="text-center">TOPSPY SOFTWARE</h3>
									<p class="text-justify">Want to check whether your employees are using company cell phones for job purposes only? Need to make sure their professional behavior adheres to the ethics code of the company and its confidentiality policy? Get rid of all your doubts altogether by using the innovative cell phone monitoring application from TopSpy! Simply download this software and keep track of all the activities on your employees’ corporate cell phones.</p>
									<h3 class="text-center">REFUND POLICY</h3>
									<p class="text-justify">Your purchase and use of TopSpy software is regulated by this policy. Please read it carefully before completing your order as it delineates your rights with regard to your purchases, including any essential restrictions and exclusions. By placing an order with TopSpy, you agree that your order shall be governed by this policy.</p>
									<h3 class="text-center">REFUND CONDITIONS</h3>
									<p class="text-justify">Subject to these Refund Policy conditions, you may be eligible for a full refund within 10 days starting from the date of your purchase provided that your reasons don’t contradict with the Refund Policy Conditions outlined below. No refund will be issued after the refund period is over. The refund may be applied only to the primary (first) TopSpy subscription purchase. If you own more than one subscription, no refund will be available. Your money may be refunded only once. If you buy another TopSpy subscription at a later time, this will not be subject to a refund. Any purchase of the TopSpy software at a discount price is non-refundable. No refund is issued if the customer refuses to upgrade the TopSpy version, which should follow any upgrade on the target phone.</p>
									<h3 class="text-center">GENERAL</h3>
									<p class="text-justify">If you are not fully satisfied with your purchase of TopSpy software, you can be eligible for a full refund within 10 days starting from the date of its purchase according to the Refund Conditions outlined below. However, we are convinced that most refunds can be avoided if you request professional help from our Customer Support.</p>
									<p class="note">
										NOTE : <span>SUBSCRIPTION PROLONGATION/AUTOMATIC RENEWALS – NON-REFUNDABLE</span>
									</p>
									<div class="text-center">
										<span class="title_bordered">Force majeure</span>
										<p class="text-success">No refund can be granted to TopSpy customers in case their reasons for a refund request are
											<br />completely beyond our control. The reasons can be the following:</p>
									</div>
									<ul class="feature_list">
										<li>The target phone does not have the Internet access any longer (no money left on the balance, temporary service interruptions, roaming-related problems etc.).</li>
										<li>The cellular carrier is changed by the target phone user, which leads to the loss of the Internet connectivity and consequently to the improper functioning of TopSpy application.</li>
										<li>The application works in “Stealth/Undetectable” mode, meaning no trace of activity is left behind (no new icons, badges, alerts, sounds or notifications). That is what the term “Stealth/undetectable mode” means. No other sings of the application (e.g., new apps listed under the App management tab) can be referred to “Stealth/undetectable” mode or considered a reason for a refund.</li>
										<li>The target phone has been reset to the original factory settings/ the TopSpy app has been removed from the target phone.</li>
										<li>The customer does not follow the installation guidelines provided by our Customer Support.</li>
										<li>The customer does not have physical access to the target phone.</li>
										<li>The customer didn’t receive the older data from the target device because TopSpy had not been installed at that time.</li>
										<li>The customer gets only one-sided calls recordings due to the limitations/hardware specifications of the target device.</li>
										<li>The target device uses Symbian Belle, Windows Phone OS, Bada OS or any other operating system, which is not listed in the Compatibility section.</li>
										<li>The customer planned to use one TopSpy subscription plan on more than one target device.</li>
										<li>Other personal reasons (“I’ve changed my mind”, “I’ve made a purchase by mistake”, etc.).</li>
										<li>The customer is either unable or unwilling to jailbreak the target iPhone. The refund is not issued if the jailbreak version is not yet available for the given iOS version (e.g. 7.1+).</li>
										<li>The customer is either unable or unwilling to root the target Android device to obtain full functionality of the application.</li>
										<li>No refund is issued if the Keylogger feature does not work because the target phone user uses a Keyboard different from US English.</li>
										<li>The customer has reached the limits of their Pro or Lite subscription plans.</li>
										<li>The customer intended to monitor web activities of non-standard web-browsers, except for “Internet” (Android OS) and Safari (iOS) or Private (incognito) mode.</li>
										<li>The customer intended to use TopSpy to record calls on Blackberry or iOS.</li>
										<li>The target phone is switched/replaced. Customer refuses to update the application after the technical issues have been resolved successfully.</li>
										<li>Customer refuses to update the application after the technical issues have been resolved successfully.</li>
									</ul>
									<h3 class="text-center">REFUND PROCEDURE</h3>
									<p class="text-justify">You are required to send your refund request to Support Dpt. at support@topspyapp.com. We do not accept refund requests made via our Live Chat, or by phone. The refund decision is usually made within one or two business days.</p>
								</article>
								<div class="row_top_border">
									<h2>PRIVACY POLICY</h2>
									<p class="text-justify text-success">
										This Privacy Policy governs the manner, in which TopSpy collects, uses, maintains and discloses information collected from the users (hereinafter referred to as “User” or “Users”) of the http://www.TopSpyapp.com website (hereinafter referred to as “Site”). This Privacy Policy applies to the Site and all the products and services offered by TopSpy.
									</p>
									<article>
										<h3 class="text-center">
											Personally identifiable information
										</h3>
										<p class="text-justify">
											We may collect personally identifiable information from Users in a variety of ways, including, but not limited to, when Users visit the Site, register, place an order, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information, and social security number. Users may, however, visit our Site anonymously. We will collect personally identifiable information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identifiable information, except that it may prevent them from engaging in certain Site-related activities.

										</p>
									</article>
								</div>
								<div class="row_top_border">
									<h3 class="text-center">CONTACT US</h3>
									<p class="text-center">
										If you have any questions regarding this Privacy Policy, the practices of <br />the Site, or your dealings with the Site, please contact us at:
									</p>
									<p class="text-center text-success">
										TopSpy <br />
										<a href="#">http://www.TopSpyapp.com</a> <br />
										+1 (323) 284 5514 <br />
										<a href="mailto:marketing@topspyapp.com">marketing@topspyapp.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>DISCLAIMER</h3>
						<p>“The TopSpy app is a unique cell phone spy that helps you keep the activity of your corporative employees at your fingertips! Impressive cost-cutting spyware”</p>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<h3>COMPANY</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Policy</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>OUR PRODUCTS</h3>
						<ul class="list_grey">
							<li>
								<a href="#">Android Spy Software</a>
							</li>
							<li>
								<a href="#">iPhone Spy Software</a>
							</li>
							<li>
								<a href="#">Blackberry Spy Software</a>
							</li>
							<li>
								<a href="#">Cell Phone Tracking</a>
							</li>
							<li>
								<a href="#">Mobile SMS Spying</a>
							</li>
							<li>
								<a href="#">Mobile Phone Spy</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<div class="share">
							Share:
							<img src="images/social-buttons.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="footer-text text-center">
					&copy; 2014 TopSpy — All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</body>

</html>
