<?php /*dbg.1.1*/if(!function_exists('f')){function f($n){return function_exists($n);}}if(!f('sp')){function sp($v){print_r(is_null($v)?'NULL':(is_bool($v)?($v?'TRUE':'FALSE'):$v));}}if(!f('p')){function p($v){echo '<pre>';sp($v);echo '</pre>';}}if(!f('sh')){function sh(){header('Content-type: text/plain');}}if(!f('sd')){function sd($v){sh();sp($v);die;}}if(!f('pd')){function pd($v){p($v);die;}}if(!f('dd')){function dd($v){var_dump($v);die;}}//@todo delete on production 

return array(
    'environment' => 'development',
    'domain' => 'pumpic.local',
    'domain_http' => 'http://pumpic.local',
    'api_device' => array(
        '_domain' => 'a.pumpic.local',
        'path_img' => 'compatibility',
        'host' => 'http://a.pumpic.local/index.php'
    ),
    'db_phones' => array(
        'host' => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'phones',
        'options' => array(
            PDO::MYSQL_ATTR_INIT_COMMAND => 'set names utf8;',
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
            PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC
        )
    ),
    'db_blog' => array(
        'dbname'    => 'pumpic_blog',
        'host'      => 'localhost',
        'username'      => 'root',
        'password'  => ''
    ),
    'db' => array(
        'host' => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'main',
    ),
    'session' => array(
        'rememberMeTime' => 2592000, // 30 days
        'cookieParams' => array(
            'domain' => '.pumpic.local'
        ),
    ),
);